/*
btn close
*/
/*
input
*/
/*
Mixin add tag
*/
.btn-orange {
  color: #fff;
  background-color: #f16a1e;
  border-color: #e75c0e; }
  .btn-orange:focus, .btn-orange.focus {
    color: #fff;
    background-color: #cf530d;
    border-color: #6f2c07; }
  .btn-orange:hover {
    color: #fff;
    background-color: #cf530d;
    border-color: #ae450b; }
  .btn-orange:active, .btn-orange.active,
  .open > .btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #cf530d;
    border-color: #ae450b; }
    .btn-orange:active:hover, .btn-orange:active:focus, .btn-orange:active.focus, .btn-orange.active:hover, .btn-orange.active:focus, .btn-orange.active.focus,
    .open > .btn-orange.dropdown-toggle:hover,
    .open > .btn-orange.dropdown-toggle:focus,
    .open > .btn-orange.dropdown-toggle.focus {
      color: #fff;
      background-color: #ae450b;
      border-color: #6f2c07; }
  .btn-orange:active, .btn-orange.active,
  .open > .btn-orange.dropdown-toggle {
    background-image: none; }
  .btn-orange.disabled, .btn-orange.disabled:hover, .btn-orange.disabled:focus, .btn-orange.disabled.focus, .btn-orange.disabled:active, .btn-orange.disabled.active, .btn-orange[disabled], .btn-orange[disabled]:hover, .btn-orange[disabled]:focus, .btn-orange[disabled].focus, .btn-orange[disabled]:active, .btn-orange[disabled].active,
  fieldset[disabled] .btn-orange,
  fieldset[disabled] .btn-orange:hover,
  fieldset[disabled] .btn-orange:focus,
  fieldset[disabled] .btn-orange.focus,
  fieldset[disabled] .btn-orange:active,
  fieldset[disabled] .btn-orange.active {
    background-color: #f16a1e;
    border-color: #e75c0e; }
  .btn-orange .badge {
    color: #f16a1e;
    background-color: #fff; }

.btn-red {
  color: #fff;
  background-color: #ec5858;
  border-color: #f2f2f2; }
  .btn-red:focus, .btn-red.focus {
    color: #fff;
    background-color: #e72a2a;
    border-color: #b3b3b3; }
  .btn-red:hover {
    color: #fff;
    background-color: #e72a2a;
    border-color: #d4d4d4; }
  .btn-red:active, .btn-red.active,
  .open > .btn-red.dropdown-toggle {
    color: #fff;
    background-color: #e72a2a;
    border-color: #d4d4d4; }
    .btn-red:active:hover, .btn-red:active:focus, .btn-red:active.focus, .btn-red.active:hover, .btn-red.active:focus, .btn-red.active.focus,
    .open > .btn-red.dropdown-toggle:hover,
    .open > .btn-red.dropdown-toggle:focus,
    .open > .btn-red.dropdown-toggle.focus {
      color: #fff;
      background-color: #d51818;
      border-color: #b3b3b3; }
  .btn-red:active, .btn-red.active,
  .open > .btn-red.dropdown-toggle {
    background-image: none; }
  .btn-red.disabled, .btn-red.disabled:hover, .btn-red.disabled:focus, .btn-red.disabled.focus, .btn-red.disabled:active, .btn-red.disabled.active, .btn-red[disabled], .btn-red[disabled]:hover, .btn-red[disabled]:focus, .btn-red[disabled].focus, .btn-red[disabled]:active, .btn-red[disabled].active,
  fieldset[disabled] .btn-red,
  fieldset[disabled] .btn-red:hover,
  fieldset[disabled] .btn-red:focus,
  fieldset[disabled] .btn-red.focus,
  fieldset[disabled] .btn-red:active,
  fieldset[disabled] .btn-red.active {
    background-color: #ec5858;
    border-color: #f2f2f2; }
  .btn-red .badge {
    color: #ec5858;
    background-color: #fff; }

.semibold {
  font-weight: 700; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.margin-clear {
  margin: 0 !important; }

.padding-right-clear {
  padding-right: 0 !important; }

.padding-left-clear {
  padding-left: 0 !important; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.btn + .btn {
  margin-left: 6px; }

.block-rounded {
  border-radius: 4px;
  overflow: hidden; }

.text-dark {
  color: #414851; }

/*
Css Your App
*/
@media (min-width: 1024px) {
  .panel-body {
    padding-left: 30px;
    padding-right: 30px; } }

.row.items-holder {
  margin-left: -3.14%;
  margin-right: -3.14%; }
  @media (min-width: 320px) {
    .row.items-holder {
      margin-left: -6%;
      margin-right: -6%; } }
  @media (min-width: 480px) {
    .row.items-holder {
      margin-left: -6%;
      margin-right: -6%; } }
  @media (min-width: 600px) {
    .row.items-holder {
      margin-left: -6%;
      margin-right: -6%; } }
  @media (min-width: 768px) {
    .row.items-holder {
      margin-left: -6%;
      margin-right: -6%; } }
  @media (min-width: 1024px) {
    .row.items-holder {
      margin-left: -3.14%;
      margin-right: -3.14%; } }
  @media (min-width: 1200px) {
    .row.items-holder {
      margin-left: -3%;
      margin-right: -3%; } }
  @media (min-width: 1920px) {
    .row.items-holder {
      margin-left: -5%;
      margin-right: -5%; } }
  .row.items-holder .app-item {
    display: block;
    float: left; }

/*
adjust poupup help step 01

*/
.popup-help .panel-heading {
  padding: 15px !important; }
  .popup-help .panel-heading .title {
    font-size: 14px;
    color: #333;
    font-weight: 700; }
  .popup-help .panel-heading:after {
    left: 15px !important;
    right: 15px !important; }
  .popup-help .panel-heading a.close {
    right: 15px; }

.popup-help .panel.panel-default {
  padding-bottom: 15px; }

.popup-help .panel .panel-body {
  padding-left: 15px;
  padding-right: 15px; }
  .popup-help .panel .panel-body p {
    font-size: 14px;
    color: #333; }
  .popup-help .panel .panel-body .btn-container a {
    font-size: 12px; }

/*
adjust menu in mobile
*/
.popup-help-container.step05, .popup-help-container.step04, .popup-help-container.step06 {
  display: none; }
  @media (min-width: 768px) {
    .popup-help-container.step05, .popup-help-container.step04, .popup-help-container.step06 {
      display: none; } }
  @media (min-width: 1024px) {
    .popup-help-container.step05, .popup-help-container.step04, .popup-help-container.step06 {
      display: inline-block; } }

@media (min-width: 1024px) {
  .popup-help-container.step05 {
    margin: 0; }
  .popup-help-container.step04 {
    margin: 0 10px; }
  .popup-help-container.step06 {
    margin-left: 40px; }
  .popup-help-container.step03, .popup-help-container.step04, .popup-help-container.step05 {
    margin-top: 6px; } }

.popup-help-container .popup-help.step03 {
  top: 32px; }
  .popup-help-container .popup-help.step03 .arrow.arrow-right {
    top: 20px; }

.popup-help-container.step03 {
  margin-left: 5px;
  margin-right: 0; }
  .popup-help-container.step03 .icon-view-store {
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    margin-top: 4px; }
    @media (max-width: 1023px) {
      .popup-help-container.step03 .icon-view-store {
        margin-top: 9px; } }
    @media (max-width: 767px) {
      .popup-help-container.step03 .icon-view-store {
        margin-top: 0; } }
    .popup-help-container.step03 .icon-view-store:hover span.st-icon span {
      background: #ffffff; }
    .popup-help-container.step03 .icon-view-store span.st-icon.st1 {
      margin-bottom: 2px;
      height: 6px;
      overflow: hidden;
      display: block; }
    .popup-help-container.step03 .icon-view-store span.st-icon.st2 {
      margin-bottom: 2px;
      height: 6px;
      overflow: hidden;
      display: block; }
    .popup-help-container.step03 .icon-view-store span.st-icon span {
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background: #8d939a;
      float: left;
      margin: 0 1px; }
  .popup-help-container.step03.popup-active span.st-icon span {
    background: #fff; }
  @media (min-width: 768px) {
    .popup-help-container.step03 {
      margin-left: 5px;
      margin-right: 0; } }
  @media (min-width: 1024px) {
    .popup-help-container.step03 {
      display: inline-block; } }

.popup-help-container.step04 span.glyphicon {
  font-size: 25px;
  margin-top: -1px; }

.popup-help-container.step05 .icon-step05 {
  width: 24px;
  height: 25px;
  margin-top: 2px;
  background-image: url("../images/icon-setting.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block; }
  .popup-help-container.step05 .icon-step05:hover {
    background-position: 0 -26px; }

.popup-help-container.step05.popup-active .icon-step05 {
  background-position: 0 -26px; }

.popup-help-container.wrap-icon-mobile {
  display: inline-block;
  margin-left: 5px;
  margin-right: 0; }
  .popup-help-container.wrap-icon-mobile .navbar-toggle {
    margin-top: 15px;
    padding: 0;
    margin-left: 6px; }
    @media (max-width: 767px) {
      .popup-help-container.wrap-icon-mobile .navbar-toggle {
        margin-top: -1px;
        margin-right: 15px; } }
  @media (min-width: 768px) {
    .popup-help-container.wrap-icon-mobile {
      margin-left: 5px;
      margin-right: 0;
      margin-top: -7px;
      display: inline-block; } }
  @media (min-width: 1024px) {
    .popup-help-container.wrap-icon-mobile {
      display: none; } }

@media (max-width: 320px) {
  .popup-help-container.step03 .popup.dropdown-menu {
    left: 0; } }

/*
Box search
*/
/*
edit container
*/
@media (min-width: 320px) {
  .col-md-7.col-left {
    padding: 0; } }

@media (min-width: 768px) {
  .col-md-7.col-left {
    margin-top: 0; } }

@media (min-width: 1024px) {
  .col-md-7.col-left {
    margin-top: 11px;
    width: 100%; } }

@media (min-width: 1200px) {
  .col-md-7.col-left {
    width: 66.2%;
    margin-top: 0;
    padding-left: 15px;
    top: 105px;
    position: fixed;
    padding-bottom: 0;
    bottom: 25px; }
    .col-md-7.col-left.step01 {
      z-index: 4; }
    .col-md-7.col-left.step02 {
      z-index: 1; } }

.col-md-7.col-left.step07 {
  z-index: 4; }
  .col-md-7.col-left.step07 > .panel {
    overflow: inherit; }

.col-md-7.col-left > .panel {
  height: 100%;
  padding-bottom: 40px; }

.panel-scroll {
  position: relative;
  height: 100%; }

.col-md-5.col-right {
  display: block; }
  .col-md-5.col-right.active {
    width: 512px;
    background: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    padding-top: 20px;
    overflow: auto;
    padding-bottom: 50px;
    display: block; }

@media (min-width: 1024px) and (max-width: 1199px) {
  .col-md-5.col-right {
    transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear; } }
  @media (max-width: 1199px) {
    .col-md-5.col-right {
      opacity: 0;
      visibility: hidden;
      display: none; } }
  @media (min-width: 1200px) {
    .col-md-5.col-right {
      width: 33.8%; } }
  @media (min-width: 1200px) {
    .col-md-5.col-right {
      display: block;
      float: right;
      top: 0;
      padding-bottom: 0;
      z-index: 1;
      top: 80px;
      padding-bottom: 80px; } }
  @media (max-width: 511px) {
    .col-md-5.col-right.active {
      width: 100%;
      top: 60px;
      padding-left: 15px;
      padding-right: 15px; } }

.popup-help-container .btn-lg.btn-warning {
  padding: 7px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #f16a1e;
  border: 1px solid #e75c0e; }
  .popup-help-container .btn-lg.btn-warning:hover {
    background-color: #cf530d;
    border-color: #ae450b;
    color: #fff; }

/*
adjust menu dropdown pane-body

*/
.popup-help-active.step06 .dropdown-menu.under-overlay {
  left: 0;
  top: 45px; }

.nav-pills .user-dropdown.step06 .dropdown-menu {
  left: 0;
  width: 210px; }
  .nav-pills .user-dropdown.step06 .dropdown-menu .panel-body {
    padding: 10px; }

/*
Adjust support modal (control panel)
*/
.modal.support-modal .modal-content {
  border: none; }
  .modal.support-modal .modal-content .modal-header {
    padding-left: 25px;
    padding-right: 25px; }
    .modal.support-modal .modal-content .modal-header .close {
      border: 1px solid #cfd7de; }
      .modal.support-modal .modal-content .modal-header .close:before, .modal.support-modal .modal-content .modal-header .close:after {
        width: 20px;
        height: 2px;
        background: #414851; }
      .modal.support-modal .modal-content .modal-header .close:hover {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none; }
  .modal.support-modal .modal-content .modal-body {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px; }
    .modal.support-modal .modal-content .modal-body > p {
      font-size: 14px;
      color: #272727; }
    .modal.support-modal .modal-content .modal-body .custom-numeric-list li a {
      text-decoration: none; }

.popup-help-container.step07 {
  margin-top: 9px;
  z-index: 4; }
  @media (min-width: 1200px) {
    .popup-help-container.step07 {
      margin-top: 0; } }

.popup-help-active.step05 .icon-step05 {
  background-position: 0 -26px; }

.popup-help-active.step04 .btn-link {
  color: #FFFFFF; }

.popup-help-active.step03 .icon-view-store span.st-icon span {
  background: #FFFFFF; }

.timeline-item.actionable {
  padding-bottom: 20px; }
  .timeline-item.actionable .timeline-body {
    position: relative;
    padding-top: 18px;
    padding-left: 8px; }
    .timeline-item.actionable .timeline-body h2 {
      font-size: 128.5%;
      margin: 0;
      color: #414851; }
    .timeline-item.actionable .timeline-body p {
      margin: 0; }
    .timeline-item.actionable .timeline-body .action-setting {
      width: 7px;
      height: 30px;
      position: absolute;
      right: 16px;
      top: 20px; }
      @media (max-width: 1199px) and (min-width: 1024px) {
        .timeline-item.actionable .timeline-body .action-setting {
          right: 67px; } }
      .timeline-item.actionable .timeline-body .action-setting span {
        width: 8px;
        height: 8px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        background: #454c55;
        margin-bottom: 3px;
        display: block; }
  .timeline-item.actionable .timeline-badge {
    padding-top: 14px; }
    .timeline-item.actionable .timeline-badge .time-day {
      width: 42px;
      height: 42px;
      overflow: hidden;
      line-height: 1;
      padding-top: 9px;
      background: #f0f0f0;
      border: 1px solid #d0d1d2;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      text-align: center;
      position: relative;
      z-index: 678; }
      .timeline-item.actionable .timeline-badge .time-day p {
        margin: 0;
        padding: 0; }
        .timeline-item.actionable .timeline-badge .time-day p.number {
          font-size: 14px;
          font-weight: 500; }
        .timeline-item.actionable .timeline-badge .time-day p.mon {
          font-size: 10px;
          font-weight: 500; }

.close-notify-right {
  display: none; }

.col-md-5.col-right.active {
  overflow-x: hidden !important; }
  .col-md-5.col-right.active .close-notify-right {
    display: inline-block; }
  .col-md-5.col-right.active .action-setting {
    display: none; }
  @media (min-width: 512px) {
    .col-md-5.col-right.active .insight-item.insight-common {
      border: 1px solid #d3d5d5;
      margin-left: 8px; }
      .col-md-5.col-right.active .insight-item.insight-common:before {
        background: url(../images/contact/insight-left-top.png) no-repeat;
        left: -9px; }
      .col-md-5.col-right.active .insight-item.insight-common:after {
        background: url(../images/contact/insight-left-bottom.png) no-repeat;
        left: -8px; } }
  @media (min-width: 1201px) {
    .col-md-5.col-right.active .insight-item .border-left {
      background-color: #fff; }
    .col-md-5.col-right.active .insight-item:not(.insight-common):before {
      background: url(../images/insights/insight-left-top-w.png) no-repeat; }
    .col-md-5.col-right.active .insight-item:not(.insight-common):after {
      background: url(../images/insights/insight-left-bottom-w.png) no-repeat; } }

.close.close-notify-right {
  width: 36px;
  height: 36px;
  border: 1px solid #cfd7de;
  position: relative;
  opacity: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  right: 15px;
  top: 17px; }
  .close.close-notify-right:before {
    content: "";
    width: 19px;
    height: 2px;
    background: #414851;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }
  .close.close-notify-right:after {
    content: "";
    width: 19px;
    height: 2px;
    background: #414851;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); }

@media (max-width: 1199px) {
  .timeline-holder .timeline-item {
    padding-left: 16px; } }

.setting-box.box1 {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  width: 100%;
  padding-left: 23px;
  border: none; }
  .setting-box.box1 .action-inner {
    background: transparent;
    padding: 0; }
  .setting-box.box1 .action-select-value #slider-range-min {
    background: #dee0e0; }

.sheet-bottom-ctrpanel {
  display: block; }
  .sheet-bottom-ctrpanel.active {
    display: none; }

.actionable-list-setting .setting-item {
  margin-bottom: 15px;
  margin-top: 25px; }
  .actionable-list-setting .setting-item .left-side {
    float: left;
    width: 164px; }
    .actionable-list-setting .setting-item .left-side img {
      max-width: 100%; }
  .actionable-list-setting .setting-item .right-side {
    width: -webkit-calc(100% - 164px);
    width: calc(100% - 164px);
    padding-left: 18px;
    float: left;
    padding-top: 15px;
    position: relative; }
    .actionable-list-setting .setting-item .right-side .action-title {
      font-weight: 500;
      margin-bottom: 0;
      line-height: 24px; }
    .actionable-list-setting .setting-item .right-side p {
      margin-top: 12px; }
    .actionable-list-setting .setting-item .right-side .box-switch-on-off {
      position: absolute;
      right: 0;
      top: 15px; }

@media (max-width: 479px) {
  .actionable-list-setting .setting-item .left-side {
    width: 100px; }
  .actionable-list-setting .setting-item .right-side {
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px); } }

@media (max-width: 479px) {
  .setting-box.box1 {
    padding-left: 0; } }
