/*
btn close
*/
/*
input
*/
/*
Mixin add tag
*/
.btn-orange {
  color: #fff;
  background-color: #f16a1e;
  border-color: #e75c0e; }
  .btn-orange:focus, .btn-orange.focus {
    color: #fff;
    background-color: #cf530d;
    border-color: #6f2c07; }
  .btn-orange:hover {
    color: #fff;
    background-color: #cf530d;
    border-color: #ae450b; }
  .btn-orange:active, .btn-orange.active,
  .open > .btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #cf530d;
    border-color: #ae450b; }
    .btn-orange:active:hover, .btn-orange:active:focus, .btn-orange:active.focus, .btn-orange.active:hover, .btn-orange.active:focus, .btn-orange.active.focus,
    .open > .btn-orange.dropdown-toggle:hover,
    .open > .btn-orange.dropdown-toggle:focus,
    .open > .btn-orange.dropdown-toggle.focus {
      color: #fff;
      background-color: #ae450b;
      border-color: #6f2c07; }
  .btn-orange:active, .btn-orange.active,
  .open > .btn-orange.dropdown-toggle {
    background-image: none; }
  .btn-orange.disabled, .btn-orange.disabled:hover, .btn-orange.disabled:focus, .btn-orange.disabled.focus, .btn-orange.disabled:active, .btn-orange.disabled.active, .btn-orange[disabled], .btn-orange[disabled]:hover, .btn-orange[disabled]:focus, .btn-orange[disabled].focus, .btn-orange[disabled]:active, .btn-orange[disabled].active,
  fieldset[disabled] .btn-orange,
  fieldset[disabled] .btn-orange:hover,
  fieldset[disabled] .btn-orange:focus,
  fieldset[disabled] .btn-orange.focus,
  fieldset[disabled] .btn-orange:active,
  fieldset[disabled] .btn-orange.active {
    background-color: #f16a1e;
    border-color: #e75c0e; }
  .btn-orange .badge {
    color: #f16a1e;
    background-color: #fff; }

.btn-red {
  color: #fff;
  background-color: #ec5858;
  border-color: #f2f2f2; }
  .btn-red:focus, .btn-red.focus {
    color: #fff;
    background-color: #e72a2a;
    border-color: #b3b3b3; }
  .btn-red:hover {
    color: #fff;
    background-color: #e72a2a;
    border-color: #d4d4d4; }
  .btn-red:active, .btn-red.active,
  .open > .btn-red.dropdown-toggle {
    color: #fff;
    background-color: #e72a2a;
    border-color: #d4d4d4; }
    .btn-red:active:hover, .btn-red:active:focus, .btn-red:active.focus, .btn-red.active:hover, .btn-red.active:focus, .btn-red.active.focus,
    .open > .btn-red.dropdown-toggle:hover,
    .open > .btn-red.dropdown-toggle:focus,
    .open > .btn-red.dropdown-toggle.focus {
      color: #fff;
      background-color: #d51818;
      border-color: #b3b3b3; }
  .btn-red:active, .btn-red.active,
  .open > .btn-red.dropdown-toggle {
    background-image: none; }
  .btn-red.disabled, .btn-red.disabled:hover, .btn-red.disabled:focus, .btn-red.disabled.focus, .btn-red.disabled:active, .btn-red.disabled.active, .btn-red[disabled], .btn-red[disabled]:hover, .btn-red[disabled]:focus, .btn-red[disabled].focus, .btn-red[disabled]:active, .btn-red[disabled].active,
  fieldset[disabled] .btn-red,
  fieldset[disabled] .btn-red:hover,
  fieldset[disabled] .btn-red:focus,
  fieldset[disabled] .btn-red.focus,
  fieldset[disabled] .btn-red:active,
  fieldset[disabled] .btn-red.active {
    background-color: #ec5858;
    border-color: #f2f2f2; }
  .btn-red .badge {
    color: #ec5858;
    background-color: #fff; }

.semibold {
  font-weight: 700; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.margin-clear {
  margin: 0 !important; }

.padding-right-clear {
  padding-right: 0 !important; }

.padding-left-clear {
  padding-left: 0 !important; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.btn + .btn {
  margin-left: 6px; }

.block-rounded {
  border-radius: 4px;
  overflow: hidden; }

.text-dark {
  color: #414851; }

/*
Css Your App
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.icon-file {
  display: inline-block; }

.icon-file-pdf {
  background-image: url(../images/document/document_spritesheet.png);
  background-position: -50px 0px;
  width: 25px;
  height: 33px; }

.icon-file-doc {
  background-image: url(../images/document/document_spritesheet.png);
  background-position: 0px -33px;
  width: 25px;
  height: 33px; }

.icon-file-xls {
  background-image: url(../images/document/document_spritesheet.png);
  background-position: -50px -33px;
  width: 25px;
  height: 33px; }

.icon-file-txt {
  background-image: url(../images/document/document_spritesheet.png);
  background-position: -25px -33px;
  width: 25px;
  height: 33px; }

.icon-file-jpg {
  background-image: url(../images/document/document_spritesheet.png);
  background-position: -25px 0px;
  width: 25px;
  height: 33px; }

.icon-file-zip {
  background-image: url(../images/document/document_spritesheet.png);
  background-position: 0px 0px;
  width: 25px;
  height: 33px; }

.box-add-tag {
  box-shadow: 0 4px 10px rgba(125, 131, 133, 0.55) !important; }
  .box-add-tag:after, .box-add-tag:before {
    bottom: 100%;
    right: 24px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .box-add-tag:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
    margin-bottom: -1px; }
  .box-add-tag:before {
    border-color: transparent;
    border-bottom-color: rgba(125, 131, 133, 0.3);
    border-width: 10px;
    margin-left: -11px; }
  .box-add-tag .panel-default {
    padding: 15px;
    overflow: hidden; }
  .box-add-tag .panel-heading-tag {
    padding-bottom: 15px;
    border-bottom: 1px solid #d3d6d7; }
    .box-add-tag .panel-heading-tag .title {
      font-weight: 500;
      font-size: 14px; }
  .box-add-tag .panel-body-tag {
    padding-top: 15px;
    overflow: hidden; }
  .box-add-tag .content-add-tag .add-tag {
    position: relative;
    overflow: hidden; }
    .box-add-tag .content-add-tag .add-tag input {
      height: 36px;
      width: 36px;
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
      float: left;
      width: calc(100% - 74px);
      width: -moz-calc(100% - 74px);
      width: -webkit-calc(100% - 74px);
      border: 1px solid #cfd7de;
      font-size: 14px;
      color: #8d939a;
      padding: 0 15px; }
    .box-add-tag .content-add-tag .add-tag button {
      width: 74px;
      height: 36px;
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      float: left;
      border: none; }
  .box-add-tag .content-add-tag .tag-content {
    clear: both;
    overflow: hidden;
    margin: 12px 0 0 0; }
    .box-add-tag .content-add-tag .tag-content .tag-content-inner {
      margin: 0 -4px; }
      .box-add-tag .content-add-tag .tag-content .tag-content-inner .tag {
        font-size: 12px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        margin: 0 4px 8px;
        padding: 1px 4px 0 5px;
        display: inline-block;
        border: 1px solid #cfd7de;
        color: #414851;
        float: left; }
        .box-add-tag .content-add-tag .tag-content .tag-content-inner .tag.remove {
          display: none; }
        .box-add-tag .content-add-tag .tag-content .tag-content-inner .tag a {
          display: inline-block;
          float: left;
          font-size: 14px;
          margin-right: 5px;
          line-height: 19px; }

.col-agl-app {
  min-height: -webkit-calc(100vh - 140px);
  min-height: calc(100vh - 140px); }

.table-document .doc-file > span {
  vertical-align: top;
  margin-left: 5px;
  line-height: 35px; }

.table-document > thead > tr > td {
  border-top: 1px solid #d3d6d7; }

.table-document > tbody > tr > td {
  border-top: none;
  border-bottom: none !important;
  padding: 10px 5px; }

.table-document .doc-author {
  position: relative; }
  .table-document .doc-author .people-avatar-shared {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 23px;
    right: 10px;
    z-index: 1;
    display: inline-block; }
    .table-document .doc-author .people-avatar-shared .people-avatar-small {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .table-document .doc-author .people-avatar-shared .shared-multiple {
      display: inline-block;
      border: 1px solid #8d939a;
      color: #8d939a;
      font-size: 10px;
      line-height: 20px;
      text-align: center;
      width: 100%;
      height: 100%;
      background-color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .table-document .doc-author .doc-folder {
    font-weight: 500; }

.table-document input[type="checkbox"] + .fake-input {
  display: none;
  margin-top: 5px; }

.table-document input[type="checkbox"]:checked + .fake-input {
  display: block; }

.table-document tbody tr:hover .fake-input {
  display: block; }

.folder-box {
  border: 1px solid #cfd7de;
  display: table;
  width: 100%; }
  .folder-box .folder-list {
    display: table-cell;
    width: 220px;
    border-right: 1px solid #cfd7de;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: top; }
    @media (max-width: 768px) {
      .folder-box .folder-list {
        display: none; } }
    .folder-box .folder-list > li {
      width: 100%;
      margin: 0;
      padding: 7px 20px 7px 25px; }
      .folder-box .folder-list > li .file-count {
        float: right;
        color: #8d939a !important; }
      .folder-box .folder-list > li .folder-name {
        margin-left: 10px; }
      .folder-box .folder-list > li > a:hover, .folder-box .folder-list > li > a:focus {
        color: #f16a1e;
        background-color: transparent; }
      .folder-box .folder-list > li.active > a, .folder-box .folder-list > li.active > a:hover, .folder-box .folder-list > li.active > a:focus {
        color: #f16a1e;
        background-color: transparent; }
        .folder-box .folder-list > li.active > a .fa-folder-o:before, .folder-box .folder-list > li.active > a:hover .fa-folder-o:before, .folder-box .folder-list > li.active > a:focus .fa-folder-o:before {
          content: "\f115"; }
  .folder-box .folder-files {
    display: table-cell;
    padding: 25px 30px;
    vertical-align: top; }
    .folder-box .folder-files input[type="checkbox"] + .fake-input {
      display: none; }
    .folder-box .folder-files input[type="checkbox"]:checked + .fake-input {
      display: block; }
    .folder-box .folder-files .file-table {
      width: 100%; }
      .folder-box .folder-files .file-table tr:hover .fake-input {
        display: block; }
      .folder-box .folder-files .file-table tr td {
        padding: 0 5px; }
        .folder-box .folder-files .file-table tr td.file-select {
          width: 20px; }
          .folder-box .folder-files .file-table tr td.file-select .checkbox {
            margin: 0; }
            .folder-box .folder-files .file-table tr td.file-select .checkbox label {
              height: 16px;
              position: relative;
              top: 2px; }
        .folder-box .folder-files .file-table tr td.doc-file span {
          line-height: 35px;
          vertical-align: top;
          margin-left: 10px; }
    @media (min-width: 769px) {
      .folder-box .folder-files .file-size {
        display: none; } }
    @media (max-width: 768px) {
      .folder-box .folder-files .file-select {
        display: none; } }
    @media (min-width: 769px) {
      .folder-box .folder-files .small.icon-file-txt {
        background-image: url(../images/document/document_spritesheet.png);
        background-position: -30px -66px;
        width: 15px;
        height: 21px; }
      .folder-box .folder-files .small.icon-file-doc {
        background-image: url(../images/document/document_spritesheet.png);
        background-position: -75px 0px;
        width: 15px;
        height: 21px; }
      .folder-box .folder-files .small.icon-file-jpg {
        background-image: url(../images/document/document_spritesheet.png);
        background-position: 0px -66px;
        width: 15px;
        height: 21px; }
      .folder-box .folder-files .small.icon-file-zip {
        background-image: url(../images/document/document_spritesheet.png);
        background-position: -15px -66px;
        width: 15px;
        height: 21px; }
      .folder-box .folder-files .small.icon-file-pdf {
        background-image: url(../images/document/document_spritesheet.png);
        background-position: -75px -21px;
        width: 15px;
        height: 21px; }
      .folder-box .folder-files .small.icon-file-xls {
        background-image: url(../images/document/document_spritesheet.png);
        background-position: -75px -42px;
        width: 15px;
        height: 21px; }
      .folder-box .folder-files .file-table thead {
        display: none; }
        .folder-box .folder-files .file-table thead tr th {
          border-bottom: 1px solid #d3d6d7; }
      .folder-box .folder-files .file-table tr td {
        padding: 0; }
        .folder-box .folder-files .file-table tr td.doc-file span {
          line-height: 25px; } }
  @media (min-width: 769px) {
    .folder-box .visible-tablet {
      display: none; } }
  @media (max-width: 768px) {
    .folder-box {
      border: 0;
      padding: 25px 0; }
      .folder-box .file-size {
        text-align: center; }
      .folder-box .file-table thead tr th {
        padding: 8px;
        border-bottom: 1px solid #d3d6d7; }
      .folder-box .folder-files {
        padding: 0; }
        .folder-box .folder-files .file-table tr td {
          padding: 10px 5px; } }

.popup.box-add-tag .content-add-tag .tag-content .tag-content-inner .tag.remove {
  display: none; }

.users-block-container .image-holder.opener-popup .img-first {
  width: 100%;
  left: -3px; }

.users-block-container .image-holder.opener-popup .img-second {
  z-index: 4;
  width: 20px; }

.users-block-container .image-holder.opener-popup .box-plus {
  width: 20px;
  height: 20px;
  background: #ffffff;
  z-index: 5;
  position: absolute;
  z-index: 5;
  right: -5px;
  bottom: 0;
  border: 1px solid #d0d8df;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center; }
  .users-block-container .image-holder.opener-popup .box-plus > * {
    font-size: 10px;
    line-height: 20px;
    color: #8d939a; }

.users-block-container .image-holder.opener-popup {
  width: 38px;
  height: 38px;
  position: relative; }
  @media (min-width: 1200px) and (max-width: 1300px) {
    .users-block-container .image-holder.opener-popup {
      height: 32px;
      width: 32px; } }
