/*
btn close
*/
/*
input
*/
/*
Mixin add tag
*/
.btn-orange {
  color: #fff;
  background-color: #f16a1e;
  border-color: #e75c0e; }
  .btn-orange:focus, .btn-orange.focus {
    color: #fff;
    background-color: #cf530d;
    border-color: #6f2c07; }
  .btn-orange:hover {
    color: #fff;
    background-color: #cf530d;
    border-color: #ae450b; }
  .btn-orange:active, .btn-orange.active,
  .open > .btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #cf530d;
    border-color: #ae450b; }
    .btn-orange:active:hover, .btn-orange:active:focus, .btn-orange:active.focus, .btn-orange.active:hover, .btn-orange.active:focus, .btn-orange.active.focus,
    .open > .btn-orange.dropdown-toggle:hover,
    .open > .btn-orange.dropdown-toggle:focus,
    .open > .btn-orange.dropdown-toggle.focus {
      color: #fff;
      background-color: #ae450b;
      border-color: #6f2c07; }
  .btn-orange:active, .btn-orange.active,
  .open > .btn-orange.dropdown-toggle {
    background-image: none; }
  .btn-orange.disabled, .btn-orange.disabled:hover, .btn-orange.disabled:focus, .btn-orange.disabled.focus, .btn-orange.disabled:active, .btn-orange.disabled.active, .btn-orange[disabled], .btn-orange[disabled]:hover, .btn-orange[disabled]:focus, .btn-orange[disabled].focus, .btn-orange[disabled]:active, .btn-orange[disabled].active,
  fieldset[disabled] .btn-orange,
  fieldset[disabled] .btn-orange:hover,
  fieldset[disabled] .btn-orange:focus,
  fieldset[disabled] .btn-orange.focus,
  fieldset[disabled] .btn-orange:active,
  fieldset[disabled] .btn-orange.active {
    background-color: #f16a1e;
    border-color: #e75c0e; }
  .btn-orange .badge {
    color: #f16a1e;
    background-color: #fff; }

.btn-red {
  color: #fff;
  background-color: #ec5858;
  border-color: #f2f2f2; }
  .btn-red:focus, .btn-red.focus {
    color: #fff;
    background-color: #e72a2a;
    border-color: #b3b3b3; }
  .btn-red:hover {
    color: #fff;
    background-color: #e72a2a;
    border-color: #d4d4d4; }
  .btn-red:active, .btn-red.active,
  .open > .btn-red.dropdown-toggle {
    color: #fff;
    background-color: #e72a2a;
    border-color: #d4d4d4; }
    .btn-red:active:hover, .btn-red:active:focus, .btn-red:active.focus, .btn-red.active:hover, .btn-red.active:focus, .btn-red.active.focus,
    .open > .btn-red.dropdown-toggle:hover,
    .open > .btn-red.dropdown-toggle:focus,
    .open > .btn-red.dropdown-toggle.focus {
      color: #fff;
      background-color: #d51818;
      border-color: #b3b3b3; }
  .btn-red:active, .btn-red.active,
  .open > .btn-red.dropdown-toggle {
    background-image: none; }
  .btn-red.disabled, .btn-red.disabled:hover, .btn-red.disabled:focus, .btn-red.disabled.focus, .btn-red.disabled:active, .btn-red.disabled.active, .btn-red[disabled], .btn-red[disabled]:hover, .btn-red[disabled]:focus, .btn-red[disabled].focus, .btn-red[disabled]:active, .btn-red[disabled].active,
  fieldset[disabled] .btn-red,
  fieldset[disabled] .btn-red:hover,
  fieldset[disabled] .btn-red:focus,
  fieldset[disabled] .btn-red.focus,
  fieldset[disabled] .btn-red:active,
  fieldset[disabled] .btn-red.active {
    background-color: #ec5858;
    border-color: #f2f2f2; }
  .btn-red .badge {
    color: #ec5858;
    background-color: #fff; }

.semibold {
  font-weight: 700; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.margin-clear {
  margin: 0 !important; }

.padding-right-clear {
  padding-right: 0 !important; }

.padding-left-clear {
  padding-left: 0 !important; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.btn + .btn {
  margin-left: 6px; }

.block-rounded {
  border-radius: 4px;
  overflow: hidden; }

.text-dark {
  color: #414851; }

.btn-store {
  min-width: 120px; }
  @media (max-width: 767px) {
    .btn-store {
      display: none; } }

@media (min-width: 768px) {
  .btn-store-mobile {
    display: none; } }

.product-actions .dropdown {
  margin-right: 6px; }

.product-table > thead > tr > th {
  padding-bottom: 15px;
  padding-left: 5px;
  padding-top: 0;
  font-weight: 600; }

.product-table > tbody > tr > td {
  padding: 14px 5px; }

.product-table .product-name img {
  width: 50px;
  height: 50px;
  border-radius: 3px; }

.product-table .product-name p {
  color: #414851;
  display: inline-block;
  padding-left: 15px;
  font-weight: 500; }

.product-table .product-recurring {
  color: #414851;
  font-weight: 500; }

.product-table .product-cycle {
  color: #414851;
  font-weight: 500; }

@media (max-width: 767px) {
  .product-table {
    display: none; } }

.product-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3d6d7; }
  .product-item:last-child {
    border-bottom: 0; }
  .product-item .product-img {
    margin-bottom: 20px; }
  .product-item .product-name {
    color: #414851;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 500; }
  .product-item .product-next {
    margin-top: 15px;
    margin-bottom: 0; }
  .product-item .product-recurring {
    color: #414851;
    font-weight: 500;
    margin-bottom: 15px; }
