/*
btn close
*/
/*
input
*/
/*
Mixin add tag
*/
.btn-orange {
  color: #fff;
  background-color: #f16a1e;
  border-color: #e75c0e; }
  .btn-orange:focus, .btn-orange.focus {
    color: #fff;
    background-color: #cf530d;
    border-color: #6f2c07; }
  .btn-orange:hover {
    color: #fff;
    background-color: #cf530d;
    border-color: #ae450b; }
  .btn-orange:active, .btn-orange.active,
  .open > .btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #cf530d;
    border-color: #ae450b; }
    .btn-orange:active:hover, .btn-orange:active:focus, .btn-orange:active.focus, .btn-orange.active:hover, .btn-orange.active:focus, .btn-orange.active.focus,
    .open > .btn-orange.dropdown-toggle:hover,
    .open > .btn-orange.dropdown-toggle:focus,
    .open > .btn-orange.dropdown-toggle.focus {
      color: #fff;
      background-color: #ae450b;
      border-color: #6f2c07; }
  .btn-orange:active, .btn-orange.active,
  .open > .btn-orange.dropdown-toggle {
    background-image: none; }
  .btn-orange.disabled, .btn-orange.disabled:hover, .btn-orange.disabled:focus, .btn-orange.disabled.focus, .btn-orange.disabled:active, .btn-orange.disabled.active, .btn-orange[disabled], .btn-orange[disabled]:hover, .btn-orange[disabled]:focus, .btn-orange[disabled].focus, .btn-orange[disabled]:active, .btn-orange[disabled].active,
  fieldset[disabled] .btn-orange,
  fieldset[disabled] .btn-orange:hover,
  fieldset[disabled] .btn-orange:focus,
  fieldset[disabled] .btn-orange.focus,
  fieldset[disabled] .btn-orange:active,
  fieldset[disabled] .btn-orange.active {
    background-color: #f16a1e;
    border-color: #e75c0e; }
  .btn-orange .badge {
    color: #f16a1e;
    background-color: #fff; }

.btn-red {
  color: #fff;
  background-color: #ec5858;
  border-color: #f2f2f2; }
  .btn-red:focus, .btn-red.focus {
    color: #fff;
    background-color: #e72a2a;
    border-color: #b3b3b3; }
  .btn-red:hover {
    color: #fff;
    background-color: #e72a2a;
    border-color: #d4d4d4; }
  .btn-red:active, .btn-red.active,
  .open > .btn-red.dropdown-toggle {
    color: #fff;
    background-color: #e72a2a;
    border-color: #d4d4d4; }
    .btn-red:active:hover, .btn-red:active:focus, .btn-red:active.focus, .btn-red.active:hover, .btn-red.active:focus, .btn-red.active.focus,
    .open > .btn-red.dropdown-toggle:hover,
    .open > .btn-red.dropdown-toggle:focus,
    .open > .btn-red.dropdown-toggle.focus {
      color: #fff;
      background-color: #d51818;
      border-color: #b3b3b3; }
  .btn-red:active, .btn-red.active,
  .open > .btn-red.dropdown-toggle {
    background-image: none; }
  .btn-red.disabled, .btn-red.disabled:hover, .btn-red.disabled:focus, .btn-red.disabled.focus, .btn-red.disabled:active, .btn-red.disabled.active, .btn-red[disabled], .btn-red[disabled]:hover, .btn-red[disabled]:focus, .btn-red[disabled].focus, .btn-red[disabled]:active, .btn-red[disabled].active,
  fieldset[disabled] .btn-red,
  fieldset[disabled] .btn-red:hover,
  fieldset[disabled] .btn-red:focus,
  fieldset[disabled] .btn-red.focus,
  fieldset[disabled] .btn-red:active,
  fieldset[disabled] .btn-red.active {
    background-color: #ec5858;
    border-color: #f2f2f2; }
  .btn-red .badge {
    color: #ec5858;
    background-color: #fff; }

.semibold {
  font-weight: 700; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.margin-clear {
  margin: 0 !important; }

.padding-right-clear {
  padding-right: 0 !important; }

.padding-left-clear {
  padding-left: 0 !important; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.btn + .btn {
  margin-left: 6px; }

.block-rounded {
  border-radius: 4px;
  overflow: hidden; }

.text-dark {
  color: #414851; }

/*
Import css
*/
.qr-modal .btn-save {
  min-width: 67px; }

.qr-modal .show-on-edit {
  display: none; }

.qr-modal .editinfo .show-on-edit {
  display: inline-block; }

.qr-modal .editinfo .hide-on-edit {
  display: none; }

.qr-modal .modal-header:after {
  display: block; }

.qr-modal .input-editable {
  padding: 0 5px; }

.qr-modal .modal-content {
  min-height: 100vh; }
  .qr-modal .modal-content:not(.editinfo) .input-editable {
    border: none;
    padding: 0;
    line-height: 16px;
    height: auto; }
    .qr-modal .modal-content:not(.editinfo) .input-editable:hover {
      height: 36px;
      border: 1px solid #cfd7de;
      padding-left: 2px; }
    .qr-modal .modal-content:not(.editinfo) .input-editable:focus {
      border-color: #f16a1e; }

.qr-modal .qr-details {
  overflow: hidden;
  border-bottom: 1px solid #d3d6d7;
  padding-bottom: 22px; }

.qr-modal .qr-left-col {
  width: 124px;
  float: left; }

.qr-modal .qr-right-col {
  width: 518px;
  float: left;
  margin-top: -3px; }
  .qr-modal .qr-right-col h2 {
    font-size: 36px;
    margin: 0;
    line-height: 36px;
    margin-bottom: 2px; }
  .qr-modal .qr-right-col .qr-link {
    width: 100%;
    font-size: 16px; }
  .qr-modal .qr-right-col .qr-date {
    font-size: 14px;
    margin-top: 5px; }

.qr-modal .modal-section-heading {
  font-size: 14px; }

.qr-modal .stat-header {
  position: relative;
  margin: 20px 0; }
  .qr-modal .stat-header .modal-section-heading {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px 0px; }

.qr-modal .stat-tabs {
  background: #fff;
  text-align: right; }
  .qr-modal .stat-tabs > li {
    float: none;
    display: inline-block;
    border-radius: 0;
    border: 1px solid #d3d6d7;
    border-right: 0;
    margin-right: -5px; }
    .qr-modal .stat-tabs > li > a {
      padding: 8px 28px;
      border: 0 !important; }
    .qr-modal .stat-tabs > li:last-child {
      border-right: 1px solid #d3d6d7; }
    .qr-modal .stat-tabs > li > a:hover, .qr-modal .stat-tabs > li > a:focus {
      background-color: #fff !important;
      border-color: transparent;
      border-radius: 0;
      color: #f16a1e; }
    .qr-modal .stat-tabs > li.active {
      border-bottom-color: #fff; }
      .qr-modal .stat-tabs > li.active > a, .qr-modal .stat-tabs > li.active > a:hover, .qr-modal .stat-tabs > li.active > a:focus {
        background-color: #fff !important;
        color: #f16a1e;
        border-color: transparent;
        border-bottom-color: #fff;
        border-radius: 0; }

.qr-modal .chart-container {
  width: 100%;
  height: 160px; }
  .qr-modal .chart-container.full-chart {
    padding-left: 20px;
    padding-top: 20px; }

.qr-modal .row-chart {
  margin-top: 20px; }

@media (max-width: 767px) {
  .qr-modal .modal-section-heading {
    text-transform: none;
    color: #27292b;
    border-bottom: 1px solid #d3d6d7;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px; }
  .qr-modal .row-chart {
    margin-top: 0; }
  .qr-modal .chart-container.full-chart {
    padding-left: 0;
    padding-top: 0; }
  .qr-modal .qr-details {
    border-bottom: none; }
    .qr-modal .qr-details .qr-left-col {
      width: 100%;
      float: none;
      text-align: center; }
    .qr-modal .qr-details .qr-right-col {
      width: 100%;
      float: none; }
      .qr-modal .qr-details .qr-right-col h2 {
        font-weight: 400;
        text-align: center;
        font-size: 30px;
        margin: 20px 0 5px; }
      .qr-modal .qr-details .qr-right-col .qr-link {
        text-align: center;
        color: #27292b;
        margin-bottom: 5px;
        font-size: 17px; }
      .qr-modal .qr-details .qr-right-col .qr-date {
        text-align: center; }
  .qr-modal .stat-header .modal-section-heading {
    position: relative; }
  .qr-modal .stat-tabs > li > a {
    padding: 8px 10px; } }

.chart-column-mark {
  width: 4px;
  height: 4px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  top: 11px;
  left: 0px;
  position: relative; }

.column-chart {
  padding: 0;
  margin: 0;
  list-style: none; }
  .column-chart li {
    margin-bottom: 12px; }
    .column-chart li .item-name {
      width: 100px;
      float: left;
      color: #414851; }
      .column-chart li .item-name i {
        font-size: 15px;
        vertical-align: middle; }
      .column-chart li .item-name span {
        vertical-align: middle; }
    .column-chart li .item-chart {
      width: -webkit-calc(100% - 150px);
      width: calc(100% - 150px);
      float: left;
      margin-top: 4px; }
      .column-chart li .item-chart .progress {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        height: 12px;
        margin-bottom: 0; }
        .column-chart li .item-chart .progress .progress-bar {
          background-color: #f16a1e;
          margin-right: 5px; }
        .column-chart li .item-chart .progress .percentage {
          line-height: 12px;
          display: inherit;
          margin-left: 5px;
          font-weight: bold;
          color: #f16a1e; }

.table-qr-code .wsb-select:not(.select-website) {
  width: 100% !important; }

.table-qr-code .wsb-select.select-website {
  width: 190px !important; }

.table-qr-code tr .col2 {
  width: 490px; }

.table-qr-code tr .col3 {
  width: 90px; }

.table-qr-code tr > th:first-child, .table-qr-code tr > td:first-child {
  padding-left: 0; }

.table-qr-code tr > th:last-child, .table-qr-code tr > td:last-child {
  padding-right: 0; }

.table-qr-code tr:hover input[type="checkbox"] + .fake-input {
  display: block; }

.table-qr-code > thead > tr > th {
  padding-left: 5px; }

.table-qr-code > tbody > tr > td {
  padding: 15px 5px 18px; }

.table-qr-code .row-edit {
  padding-top: 5px; }

.table-qr-code .qrcode-img {
  width: 90px; }
  .table-qr-code .qrcode-img img {
    width: 56px; }

.table-qr-code .url-row {
  margin-bottom: 3px; }
  .table-qr-code .url-row .form-group {
    margin-bottom: 0; }
  .table-qr-code .url-row .fake-select {
    width: 100%; }
  .table-qr-code .url-row .url-row-left {
    width: 100px;
    float: left; }
    .table-qr-code .url-row .url-row-left .title {
      margin-bottom: 0;
      color: #8d939a;
      font-size: 15px; }
  .table-qr-code .url-row .url-row-right {
    float: left;
    margin-left: 10px; }
    .table-qr-code .url-row .url-row-right .value {
      margin-bottom: 0;
      color: #27292b;
      font-size: 15px; }
    .table-qr-code .url-row .url-row-right .wsb-select {
      display: inline-block; }
    .table-qr-code .url-row .url-row-right .filter-dropdown {
      display: inline-block; }
      .table-qr-code .url-row .url-row-right .filter-dropdown .btn {
        margin-left: 0; }
    .table-qr-code .url-row .url-row-right .buttons-col {
      display: inline-block;
      margin-left: 5px; }
      .table-qr-code .url-row .url-row-right .buttons-col .btn {
        min-width: 80px; }

.table-qr-code input[type="checkbox"] + .fake-input {
  display: none; }

.table-qr-code input[type="checkbox"]:checked + .fake-input {
  display: block; }

.qr-item {
  border: 1px solid #d3d6d7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  min-height: 130px;
  overflow: hidden;
  position: relative;
  margin: 0 0 24px 0; }
  .qr-item .wsb-select {
    width: 100% !important; }
  .qr-item .wsb-checkbox {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 14px;
    height: 14px; }
    .qr-item .wsb-checkbox label {
      min-height: 14px; }
      .qr-item .wsb-checkbox label .fake-input {
        width: 14px;
        height: 14px; }
        .qr-item .wsb-checkbox label .fake-input:before {
          font-size: 11px; }
  .qr-item input[type="checkbox"] + .fake-input {
    display: none; }
  .qr-item input[type="checkbox"]:checked + .fake-input {
    display: block; }
  .qr-item:hover input[type="checkbox"] + .fake-input {
    display: block; }
  .qr-item .chart-stat {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0; }
    .qr-item .chart-stat .chart-bars li:first-child {
      margin-left: 2px; }
  .qr-item .col-left {
    width: 80px;
    padding: 15px;
    float: left; }
    .qr-item .col-left .qr-img-wrapper {
      width: 50px;
      position: relative; }
      .qr-item .col-left .qr-img-wrapper .badge {
        position: absolute;
        background-color: #f16a1e;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        padding: 0;
        font-size: 14px; }
      .qr-item .col-left .qr-img-wrapper img {
        width: 50px; }
  .qr-item .col-right {
    float: left;
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    padding: 18px 16px 0 0; }
  .qr-item .url-row .url-row-left {
    float: left;
    width: 100px; }
    .qr-item .url-row .url-row-left .title {
      margin-bottom: 0;
      color: #8d939a; }
  .qr-item .url-row .url-row-right {
    float: left;
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px); }
    .qr-item .url-row .url-row-right .value {
      margin-bottom: 0;
      color: #27292b; }
  .qr-item .url-row > .url-row-input {
    padding-top: 3px; }
  .qr-item .url-row .url-row-input .form-group {
    margin-bottom: 0; }
  .qr-item .url-row .url-row-input .url-row-left .fake-select {
    width: 100%; }
  .qr-item .url-row .url-row-input .url-row-right {
    padding-left: 15px; }
  .qr-item .url-row .buttons-col {
    padding: 3px 0 0 0; }
    .qr-item .url-row .buttons-col .btn {
      min-width: 80px;
      padding-top: 5px;
      padding-bottom: 4px; }
  .qr-item .row-default {
    margin-bottom: 10px; }
  .qr-item .chart-stat .chart-bars.inactive li .bar {
    background-color: #c4c4c4; }
  @media (max-width: 768px) {
    .qr-item {
      min-height: 230px;
      margin-bottom: 15px; }
      .qr-item .col-left {
        float: none;
        width: 100%; }
        .qr-item .col-left .qr-img-wrapper {
          margin: auto; }
      .qr-item .col-right {
        float: none;
        width: 100%;
        padding: 20px; }
        .qr-item .col-right .url-row .url-row-left {
          width: 70px; }
        .qr-item .col-right .url-row .url-row-right {
          width: -webkit-calc(100% - 70px);
          width: calc(100% - 70px); } }
  @media (max-width: 320px) {
    .qr-item .col-right {
      float: none;
      width: 100%;
      padding: 20px;
      padding-top: 0; }
      .qr-item .col-right .url-row .url-row-left {
        width: 100%;
        text-align: center; }
      .qr-item .col-right .url-row .url-row-right {
        width: 100%;
        text-align: center; } }

.filter-dropdown .dropdown-toggle {
  min-width: 190px;
  margin-left: 15px;
  text-align: left;
  color: #8d939a; }

.filter-dropdown .dropdown-menu {
  min-width: 190px;
  margin-left: 0; }

.filter-dropdown.open .dropdown-menu {
  border-color: #f16a1e;
  margin-top: 0; }

.filter-dropdown .dropdown-toggle .caret {
  float: right;
  position: relative;
  top: 7px; }

.chart-stat {
  width: 100%;
  height: 25px;
  margin: 0;
  display: block;
  position: relative; }
  .chart-stat .chart-bars {
    width: auto;
    height: 30px;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding-left: 0; }
    .chart-stat .chart-bars li {
      display: inline-block;
      width: 4px;
      height: 30px;
      margin: 0;
      text-align: center;
      position: relative; }
      .chart-stat .chart-bars li .bar {
        display: block;
        width: 4px;
        margin-left: 0;
        background: #eb6b22;
        position: absolute;
        bottom: 0;
        border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        -webkit-border-radius: 2px 2px 0 0; }
        .chart-stat .chart-bars li .bar span {
          width: 2px;
          height: 2px;
          background: #fff;
          position: absolute;
          top: 2px;
          left: 1px;
          display: block; }

.box-view-screen-small {
  display: none; }

@media (max-width: 1023px) {
  .box-view-screen-small {
    display: block; }
  .table-qr-code {
    display: none; } }

@media (max-width: 767px) {
  .panel-qr-code .panel-heading:after {
    left: 0px;
    right: 0px; } }

@media (max-width: 767px) {
  .panel-qr-code .panel-heading {
    padding-left: 0;
    padding-right: 0; }
  .panel-qr-code .panel-body {
    padding-right: 0;
    padding-left: 0;
    padding-top: 15px; } }
