
        <div id="wrapper" class="wrapper">
            <!- endinject ->
            <div class="gap-title">HELIKE flipbox</div>
            <div class="gap gap-40"></div>
            <div class="wsbx-flipbox">
                <div class="bg-white">
                    <div class="container">
                        <div class="block-center content wsbx-flipbox-four wsbx-flipbox">
                            <div id="animatedcol-111" class="animatedcol animatedcol-four animatedcol-full animatedcol-flipbox-row1 row">
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon3.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon2.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">ARCHITECTURE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, the <br>porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon7.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon8.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">RENOVATION</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon4.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon6.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">LIFESTYLE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the <br>rise, the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                WWith temperatures on the <br>rise, the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon5.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon1.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">DECORATING</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-flipbox">
                <div class="bg-color">
                    <div class="container">
                        <div class="block-center content wsbx-flipbox-four wsbx-flipbox">
                            <div id="animatedcol-111" class="animatedcol animatedcol-four animatedcol-full animatedcol-flipbox-row1 row">
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon3.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon2.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">ARCHITECTURE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, the <br>porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon7.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon8.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">RENOVATION</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon4.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon6.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">LIFESTYLE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the <br>rise, the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                WWith temperatures on the <br>rise, the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon5.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon1.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">DECORATING</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-flipbox">
                <div class="bg-img-flipbox">
                    <div class="container">
                        <div class="block-center content wsbx-flipbox-four wsbx-flipbox">
                            <div id="animatedcol-111" class="animatedcol animatedcol-four animatedcol-full animatedcol-flipbox-row1 row">
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon3.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon2.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">ARCHITECTURE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, the <br>porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon7.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon8.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">RENOVATION</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon4.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon6.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">LIFESTYLE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the <br>rise, the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                WWith temperatures on the <br>rise, the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-3 col-sm-6 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon5.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon1.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">DECORATING</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-flipbox">
                <div class="bg-white">
                    <div class="container">
                        <div class="block-center content wsbx-flipbox-three wsbx-flipbox">
                            <div id="animatedcol-111" class="animatedcol animatedcol-full animatedcol-flipbox-row1 row">
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon3.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon2.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">ARCHITECTURE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, the <br>porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, the <br>porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon7.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon8.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">RENOVATION</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon4.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon6.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">LIFESTYLE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the <br>rise, the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                WWith temperatures on the <br>rise, the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-flipbox">
                <div class="bg-color">
                    <div class="container">
                        <div class="block-center content wsbx-flipbox-three wsbx-flipbox">
                            <div id="animatedcol-111" class="animatedcol animatedcol-full animatedcol-flipbox-row1 row">
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon3.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon2.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">ARCHITECTURE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, the <br>porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, the <br>porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon7.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon8.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">RENOVATION</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon4.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon6.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">LIFESTYLE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the <br>rise, the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                WWith temperatures on the <br>rise, the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-flipbox">
                <div class="bg-img-flipbox">
                    <div class="container">
                        <div class="block-center content wsbx-flipbox-three wsbx-flipbox">
                            <div id="animatedcol-111" class="animatedcol animatedcol-full animatedcol-flipbox-row1 row">
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon3.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon2.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">ARCHITECTURE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, the <br>porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, the <br>porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon7.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon8.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">RENOVATION</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon4.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon6.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">LIFESTYLE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the <br>rise, the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                WWith temperatures on the <br>rise, the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-flipbox">
                <div class="bg-white">
                    <div class="container">
                        <div class="block-center content wsbx-flipbox-two wsbx-flipbox">
                            <div id="animatedcol-111" class="animatedcol animatedcol-full animatedcol-flipbox-row1 row">
                                <div class="animatedcol__item col-md-6 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon7.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon8.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">RENOVATION</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top" style="padding-top: 86.5px; top: 0%;">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon4.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon6.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">LIFESTYLE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the <br>rise, the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc" style="top: 100%;">
                                            <p>
                                                WWith temperatures on the <br>rise, the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox" style="top: 100%;">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-flipbox">
                <div class="bg-color">
                    <div class="container">
                        <div class="block-center content wsbx-flipbox-two wsbx-flipbox">
                            <div id="animatedcol-111" class="animatedcol animatedcol-full animatedcol-flipbox-row1 row">
                                <div class="animatedcol__item col-md-6 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon7.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon8.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">RENOVATION</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top" style="padding-top: 86.5px; top: 0%;">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon4.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon6.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">LIFESTYLE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the <br>rise, the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc" style="top: 100%;">
                                            <p>
                                                WWith temperatures on the <br>rise, the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox" style="top: 100%;">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-flipbox">
                <div class="bg-img-flipbox">
                    <div class="container">
                        <div class="block-center content wsbx-flipbox-two wsbx-flipbox">
                            <div id="animatedcol-111" class="animatedcol animatedcol-full animatedcol-flipbox-row1 row">
                                <div class="animatedcol__item col-md-6 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon7.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon8.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">RENOVATION</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the rise, <br>the porch, patio, or terrace
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc">
                                            <p>
                                                With temperatures on the rise, <br>the porch, patio, or terrace
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animatedcol__item col-md-4 col-sm-12 col-xs-12 animatedcol__item-flipbox-row1">
                                    <div class="flipbox-animatedcol-left0">
                                        <div class="animatedcol__top" style="padding-top: 86.5px; top: 0%;">
                                            <div class="animatedcol__icon animatedcol__icon-flipbox-row1">
                                                <div>
                                                    <img class="flipbox-row1-1-img" src="flipbox/animated-col-icon4.png">
                                                    <img class="flipbox-row1-1-img-hover" src="flipbox/animated-col-icon6.png">
                                                </div>
                                            </div>
                                            <div class="animatedcol__title">LIFESTYLE</div>
                                            <div class="animatedcol__desc-text-flipbox">
                                                <p>
                                                    With temperatures on the <br>rise, the porch
                                                </p>
                                            </div>
                                        </div>
                                        <div class="animatedcol__desc" style="top: 100%;">
                                            <p>
                                                WWith temperatures on the <br>rise, the porch
                                            </p>
                                        </div>
                                        <div class="animatedcol__btn animatedcol__btn-flipbox" style="top: 100%;">
                                            <a class="btn-anim btn-animatedcol" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>