
        <div class="wrapper wsbx-blog-details-photo">

            <div class="gap-title">HELIKE blog details photo</div>

            <div class="gap gap-40"></div>
            <!- endinject ->
            <div class="blog-details-audio blog-details-content">
                <div class="container">
                    <section class="blog-single">
                        <article class="blog-item">
                            <div class="blog-item-content clearfix">
                                <div class="blog-image">
                                    <img src="blog-details-photo/blog-details-photo-1.jpg">
                                </div>
                                <div class="blog-details-audio-title">
                                    <h1>The Most Requested Suite at Monte Carlo’s Hôtel Hermitage</h1>
                                </div>
                                <div class="row blog-details-audio-user-m">
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="comment-inner blog-details-audio-user">
                                            <div class="comment-meta">
                                                <p class="comment-time-update">By 
                                                    <span class="comment-author-update">Cuneyt Erkol</span>
                                                    posted August 28, 2015
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <ul class="blog-details-audio-contact-update">
                                            <li class="">
                                                <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="">
                                                <a href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="">
                                                <a href=""><i class="fa fa-comment" aria-hidden="true"></i><span class="comment-update">14</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-item-desc blog-item-desc-update">
                                    <p>An eternal favorite of the jet set, the Côte d’Azur never ceases to amaze with its pristine beaches, pastel-hued historic buildings, quaint villages, and luxurious accommodations. Since the turn of the 20th century, A-listers looking to stay in the middle of the action have chosen the Hôtel Hermitage, a member of the Monte-Carlo Société des Bains de Mer. For admirers of classic French architecture and design, the palatial property has much to recommend it. A ceiling mural inspired by François Boucher and Jean-Honoré Fragonard’s fresco Grâces Florentines crown the Belle Époque dining room, while the winter garden features a glass dome erected by disciples of Gustave Eiffel.</p>
                                    <p>
                                        Of the hotel’s 278 rooms and suites, the most requested is the Diamond Duplex Suite with Jacuzzi. One of the highest ranking suites, it occupies the top of the Prince Wing. Acclaimed designer Pierre-Yves Rochon, who’s behind other prestigious properties including the Four Seasons George V in Paris and the Savoy Hotel in London, redesigned the Hôtel Hermitage and gave the Diamond Duplex Suite a thoroughly modern face-lift.
                                    </p>
                                    <p>All 100 of the 57-story building’s units will take advantage of its waterfront location and offer sweeping views of Biscayne Bay. (Prices range from $1.8 million to $10 million–plus.) Among the lavish features are two amenity levels: The seventh floor includes a 75-foot resort pool and fitness center, and the 30th offers a grand private dining room that can seat 30. Currently in the land-preparation phase, the glass tower is slated for completion in 2018, when it will officially be the Edgewater neighborhood’s tallest, at 649 feet.</p>
                                </div>
                                <div class="blog-item-tags blog-item-tags-update">
                                    <p class="blog-item-tags-update-text">Tag: </p>
                                    <a href="#"><i class="fa  fa-tag"></i> Graphic</a>
                                    <a href="#"><i class="fa  fa-tag"></i> Business</a>
                                    <a href="#"><i class="fa  fa-tag"></i> Design</a>
                                    <a href="#"><i class="fa  fa-tag"></i> Marketing</a>
                                </div>
                                <div class="blog-user-update-1">
                                    <a href="#" class="blog-user-update-1-img"><img src="blog-details-audio/img-4.jpg"></a>
                                    <p class="blog-user-update-1-link">
                                        <a href="#" class="blog-user-update-1-link-1">Cuneyt Erkol</a><br />
                                        <span class="blog-user-update-1-link-2"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </p>
                                </div>
                                <div class="wsbx-blog-details-audio-style-2">
                                    <h5 class="blog-comments-title animatedcol__title blog-details-content-edit">Recent Posts</h5>
                                    <div class="wsbx-blog wsbx-blog-style-1 bg-1">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="image"><a href="#"><img src="blog/helike-blog-1.jpg" alt="wsbx blog"></a></div>
                                                <div class="wsbx-blog-content">
                                                    <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br>Treetop Wild Walk in the<br>Adirondacks</a></h3>
                                                    <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                                                    <a href="#" class="button button-small button-flat">READ MORE</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="image"><a href="#"><img src="blog/helike-blog-2.jpg" alt="wsbx blog"></a></div>
                                                <div class="wsbx-blog-content">
                                                    <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                                                    <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                                                    <a href="#" class="button button-small button-flat">READ MORE</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="image"><a href="#"><img src="blog/helike-blog-3.jpg" alt="wsbx blog"></a></div>
                                                <div class="wsbx-blog-content">
                                                    <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br>Updated Venice, California</a></h3>
                                                    <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                                                    <a href="#" class="button button-small button-flat">READ MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-comments blog-comments-content-details">
                                    <h5 class="blog-comments-title blog-details-content animatedcol__title">Comments</h5>
                                    <ul class="comments">
                                        <li class="comment">
                                            <div class="comment-inner comment-inner-block-detail-audio">
                                                <div class="comment-avatar">
                                                    <a href="#"> <img class="avatar" width="45" height="45" src="blog-details-audio/user.jpeg"></a>
                                                    </div>
                                                <div class="comment-meta">
                                                    <span class="comment-author">James DOWN</span>
                                                    <time class="comment-time" datetime="2015-12-11T14:42:05+00:00">August 24, 2014</time>
                                                </div>
                                                <span class="comment-reply">
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </span>
                                                <div class="clearfix"></div>
                                                <div class="comment-content">
                                                    <p>The Caruso Suite is decorated in the same style as when the famous tenor Enrico Caruso stayed in the room in 1921. The suite is also home to his piano and writing board, as well as some of his letters and photographs.</p>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="comment-respond">
                                        <h6 class="respond-heading">Leave a Comment</h6>
                                        <form action="#" class="comment-form comment-form-blog-details-audio" method="post" name="commentform">
                                            <div class="comment-textarea">
                                                <textarea class="textarea comment-form-blog-details-audio1" id="comment" name="comment" placeholder="LEAVE YOUR COMMENT" rows="8" tabindex="58"></textarea>
                                            </div>
                                            <div class="comment-form-submit">
                                                <input class="comment-form-submit-btn" id="submit" name="submit" type="submit" value="POST COMMENT">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
            <!- inject:footer-html ->
        </div>