
        <div class="wrapper">
            <div class="gap-title">helike service area</div>
            <div class="gap gap-40"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-1">
                    <div class="container bg-1 wsbx-service-area-update-1">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">Service Areas</h5>
                        <p class="wsbx-service-area-update-1-note">The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities</p>
                        <div class="row wsbx-service-area-update-1-content2">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-1">
                                        <p class="text-center"><a href="#">Georgetown</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-2">
                                        <p class="text-center"><a href="#">Cameron</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-3">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-4">
                                        <p class="text-center"><a href="#">TEXAS</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-5">
                                        <p class="text-center"><a href="#">AUSTIN</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-6">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-2">
                    <div class="container bg-2 wsbx-service-area-update-1">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">Service Areas</h5>
                        <p class="wsbx-service-area-update-1-note">The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities</p>
                        <div class="row wsbx-service-area-update-1-content2">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-1">
                                        <p class="text-center"><a href="#">Georgetown</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-2">
                                        <p class="text-center"><a href="#">Cameron</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-3">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-4">
                                        <p class="text-center"><a href="#">TEXAS</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-5">
                                        <p class="text-center"><a href="#">AUSTIN</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-6">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-3">
                    <div class="container bg-3 wsbx-service-area-update-1">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">Service Areas</h5>
                        <p class="wsbx-service-area-update-1-note">The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities</p>
                        <div class="row wsbx-service-area-update-1-content2">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-1">
                                        <p class="text-center"><a href="#">Georgetown</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-2">
                                        <p class="text-center"><a href="#">Cameron</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-3">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-4">
                                        <p class="text-center"><a href="#">TEXAS</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-5">
                                        <p class="text-center"><a href="#">AUSTIN</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-6">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-1">
                    <div class="container bg-1 wsbx-service-area-update-1 wsbx-service-area-update-2">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">Service Areas</h5>
                        <p class="wsbx-service-area-update-1-note">The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities</p>
                        <div class="row wsbx-service-area-update-1-content2">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-7">
                                        <p class="text-center"><a href="#">Georgetown</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-8">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-4">
                                        <p class="text-center"><a href="#">TEXAS</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-5">
                                        <p class="text-center"><a href="#">AUSTIN</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-6">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-2">
                    <div class="container bg-2 wsbx-service-area-update-1 wsbx-service-area-update-2">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">Service Areas</h5>
                        <p class="wsbx-service-area-update-1-note">The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities</p>
                        <div class="row wsbx-service-area-update-1-content2">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-7">
                                        <p class="text-center"><a href="#">Georgetown</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-8">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-4">
                                        <p class="text-center"><a href="#">TEXAS</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-5">
                                        <p class="text-center"><a href="#">AUSTIN</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-6">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-3">
                    <div class="container bg-3 wsbx-service-area-update-1 wsbx-service-area-update-2">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">Service Areas</h5>
                        <p class="wsbx-service-area-update-1-note">The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities</p>
                        <div class="row wsbx-service-area-update-1-content2">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-7">
                                        <p class="text-center"><a href="#">Georgetown</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-8">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-4">
                                        <p class="text-center"><a href="#">TEXAS</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-5">
                                        <p class="text-center"><a href="#">AUSTIN</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="wsbx-service-area-update-1-content">
                                    <div class="wsbx-service-area-update-1-title bg-img-6">
                                        <p class="text-center"><a href="#">Taylor</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-1">
                    <div class="container bg-1 wsbx-service-area wsbx-service-area-u1">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-right">
                                    <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">SERVICE AREA</h5>
                                    <p class="wsbx-service-area-right-text">
                                        The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities and neighborhoods. These present variety and each has its own unique characteristics. 
                                    </p>
                                    <div class="comment-form-submit btn-features">
                                        <input class="comment-form-submit-btn" type="submit" value="SEE ALL">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-list-img-left">
                                    <ul class="wsbx-service-area-list-2">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-5.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Austin, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="wsbx-service-area-list">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-1.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Cameron, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-2.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Taylor, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-3.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Georgetown, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-4.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Niederwald, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-2">
                    <div class="container bg-2 wsbx-service-area wsbx-service-area-u1">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-right">
                                    <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title white">SERVICE AREA</h5>
                                    <p class="wsbx-service-area-right-text white">
                                        The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities and neighborhoods. These present variety and each has its own unique characteristics. 
                                    </p>
                                    <div class="comment-form-submit btn-features btn-bg-2">
                                        <input class="comment-form-submit-btn" type="submit" value="SEE ALL">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-list-img-left">
                                    <ul class="wsbx-service-area-list-2">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-5.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Austin, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="wsbx-service-area-list">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-1.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Cameron, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-2.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Taylor, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-3.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Georgetown, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-4.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Niederwald, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-3">
                    <div class="container bg-3 wsbx-service-area wsbx-service-area-u1">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-right">
                                    <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title white">SERVICE AREA</h5>
                                    <p class="wsbx-service-area-right-text white">
                                        The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities and neighborhoods. These present variety and each has its own unique characteristics. 
                                    </p>
                                    <div class="comment-form-submit btn-features btn-bg-2">
                                        <input class="comment-form-submit-btn" type="submit" value="SEE ALL">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-list-img-left">
                                    <ul class="wsbx-service-area-list-2">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-5.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Austin, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="wsbx-service-area-list">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-1.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Cameron, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-2.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Taylor, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-3.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Georgetown, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-4.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Niederwald, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-1">
                    <div class="container bg-1 wsbx-service-area">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-list-img-left">
                                    <ul class="wsbx-service-area-list">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-1.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Cameron, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-2.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Taylor, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-3.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Georgetown, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-4.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Niederwald, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="wsbx-service-area-list-2">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-5.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Austin, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-right">
                                    <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">SERVICE AREA</h5>
                                    <p class="wsbx-service-area-right-text">
                                        The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities and neighborhoods. These present variety and each has its own unique characteristics. 
                                    </p>
                                    <div class="comment-form-submit btn-features">
                                        <input class="comment-form-submit-btn" type="submit" value="SEE ALL">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-2">
                    <div class="container bg-2 wsbx-service-area">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-list-img-left">
                                    <ul class="wsbx-service-area-list">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-1.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Cameron, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-2.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Taylor, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-3.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Georgetown, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-4.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Niederwald, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="wsbx-service-area-list-2">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-5.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Austin, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-right">
                                    <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title white">SERVICE AREA</h5>
                                    <p class="wsbx-service-area-right-text white">
                                        The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities and neighborhoods. These present variety and each has its own unique characteristics. 
                                    </p>
                                    <div class="comment-form-submit btn-features btn-bg-2">
                                        <input class="comment-form-submit-btn" type="submit" value="SEE ALL">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap4"></div>
            <div class="wsbx-service-area-sum">
                <div class="bg-3">
                    <div class="container bg-3 wsbx-service-area">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-list-img-left">
                                    <ul class="wsbx-service-area-list">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-1.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Cameron, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-2.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Taylor, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-3.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Georgetown, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-4.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Niederwald, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="wsbx-service-area-list-2">
                                        <li>
                                            <div class="wsbx-service-area-list-content">
                                                <div class="wsbx-service-area-list-content-img">
                                                    <a href="#"><img src="service-area/helike-service-area-5.jpg"></a>
                                                </div>
                                                <div class="wsbx-service-area-list-content-2">
                                                    <a href="#">Austin, TX</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="wsbx-service-area-right">
                                    <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title white">SERVICE AREA</h5>
                                    <p class="wsbx-service-area-right-text white">
                                        The Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser real estate markets are made up of many smaller communities and neighborhoods. These present variety and each has its own unique characteristics. 
                                    </p>
                                    <div class="comment-form-submit btn-features btn-bg-2">
                                        <input class="comment-form-submit-btn" type="submit" value="SEE ALL">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>