
	    <div class="wrapper">
			<div class="gap-title">helike twitter</div>
	        <div class="gap-40"></div>
	        <div class="wsbx-twitter">
		        <div class="bg-1">
			        <div class="container bg-1 wsbx-twitter">
			        	<div class="row">
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@LLCoolOrangeOwl </p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Competitor Showdown: See how Willis Allen Real Estate competes with @websitebox http://owl.li/VZuoi </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@JeremyAllenGR</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">WebsiteBox provides websites for Residential Real Estate Professionals. Each website comes with an integrated MLS... </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@websitebox</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Buying A Home Can Be SCARY… Until You Know The FACTS! #realestate #Halloween #infographic</p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@websitebox</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">The 6 Steps to Building The Ultimate Realtor Lead Machine http://ow.ly/S6rH #RealEstate #LeadGeneration #LandingPages</p>
			        				</div>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		        </div>
		    </div>
	        <div class="gap gap-11"></div>
	        <div class="wsbx-twitter">
		       	<div class="bg-2">
			        <div class="container bg-2 wsbx-twitter">
			        	<div class="row">
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@LLCoolOrangeOwl </p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Competitor Showdown: See how Willis Allen Real Estate competes with @websitebox http://owl.li/VZuoi </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@JeremyAllenGR</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">WebsiteBox provides websites for Residential Real Estate Professionals. Each website comes with an integrated MLS... </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@websitebox</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Buying A Home Can Be SCARY… Until You Know The FACTS! #realestate #Halloween #infographic</p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@websitebox</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">The 6 Steps to Building The Ultimate Realtor Lead Machine http://ow.ly/S6rH #RealEstate #LeadGeneration #LandingPages</p>
			        				</div>
			        			</div>
			        		</div>
			        	</div>
			        </div>
			    </div>
			</div>
	        <div class="gap gap-11"></div>
	        <div class="wsbx-twitter">
		        <div class="bg-3">
			        <div class="container wsbx-twitter">
			        	<div class="row">
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@LLCoolOrangeOwl </p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Competitor Showdown: See how Willis Allen Real Estate competes with @websitebox http://owl.li/VZuoi </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@JeremyAllenGR</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">WebsiteBox provides websites for Residential Real Estate Professionals. Each website comes with an integrated MLS... </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@websitebox</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Buying A Home Can Be SCARY… Until You Know The FACTS! #realestate #Halloween #infographic</p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-3 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@websitebox</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">The 6 Steps to Building The Ultimate Realtor Lead Machine http://ow.ly/S6rH #RealEstate #LeadGeneration #LandingPages</p>
			        				</div>
			        			</div>
			        		</div>
			        	</div>
			        </div>
			    </div>
			</div>
	        <div class="gap gap-11"></div>
	        <div class="wsbx-twitter">
		       	<div class="bg-1">
			        <div class="container bg-1 wsbx-twitter-2">
			        	<div class="row">
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@LLCoolOrangeOwl </p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Competitor Showdown: See how Willis Allen Real Estate competes with @websitebox http://owl.li/VZuoi </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@JeremyAllenGR</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">WebsiteBox provides websites for Residential Real Estate Professionals. Each website comes with an integrated MLS... </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@websitebox</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Buying A Home Can Be SCARY… Until You Know The FACTS! #realestate #Halloween #infographic</p>
			        				</div>
			        			</div>
			        		</div>
			        	</div>
			        </div>
			    </div>
			</div>
	        <div class="gap gap-11"></div>
	        <div class="wsbx-twitter">
		        <div class="bg-2">
			        <div class="container bg-2 wsbx-twitter-2">
			        	<div class="row">
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@LLCoolOrangeOwl </p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Competitor Showdown: See how Willis Allen Real Estate competes with @websitebox http://owl.li/VZuoi </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@JeremyAllenGR</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">WebsiteBox provides websites for Residential Real Estate Professionals. Each website comes with an integrated MLS... </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@websitebox</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Buying A Home Can Be SCARY… Until You Know The FACTS! #realestate #Halloween #infographic</p>
			        				</div>
			        			</div>
			        		</div>
			        	</div>
			        </div>
			    </div>
			</div>
	        <div class="gap gap-11"></div>
	        <div class="wsbx-twitter">
		       	<div class="bg-3">
			        <div class="container wsbx-twitter-2">
			        	<div class="row">
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@LLCoolOrangeOwl </p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Competitor Showdown: See how Willis Allen Real Estate competes with @websitebox http://owl.li/VZuoi </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@JeremyAllenGR</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">WebsiteBox provides websites for Residential Real Estate Professionals. Each website comes with an integrated MLS... </p>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="wsbx-twitter-content">
			        				<div class="wsbx-twitter-img">
			        					<img src="twitter/twitter.png">
			        				</div>
			        				<div class="wsbx-twitter-text">
			        					<p class="wsbx-twitter-text-1">@websitebox</p>
			        					<p class="wsbx-twitter-text-2">22 Aug 2016</p>
			        					<p class="wsbx-twitter-text-3">Buying A Home Can Be SCARY… Until You Know The FACTS! #realestate #Halloween #infographic</p>
			        				</div>
			        			</div>
			        		</div>
			        	</div>
			        </div>
			    </div>
			</div>
	        <div class="gap-73"></div>
	    </div>
