
    <div class="wrapper">

        <div class="gap-title">HELIKE CALCULATOR 2</div>

        <div class="gap gap-73"></div>

        <div class="wsbx-calculator-details wsbx-calculator-details-style-2 bg-white">
            <div class="container">
                <div class="box-head">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="wsbx-title wsbx-title-style-1 bg-white">COMPARE INTEREST ONLY VS. PRINCIPAL</h2>
                            <p class="sub-title">Calculate the difference between interest only mortgage & principal mortgages.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <form action="#" class="form">
                            <div class="row">
                                <div class="col-md-12 mortgage-title">
                                    <p class="sub-title-1">Enter Mortgage Data</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mortgage-title">Mortgage Principal Amount *</div>
                                <div class="col-sm-12 col-md-6 mortgage-value"><input type="text" value="300,000" />$</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mortgage-title">Interest Rate *</div>
                                <div class="col-sm-12 col-md-6 mortgage-value">
                                    <select>
                                        <option value="3,50">3,50</option>
                                    </select> &nbsp;%
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mortgage-title">Terms of Mortgage (Years) *</div>
                                <div class="col-sm-12 col-md-6 mortgage-value">
                                    <select>
                                        <option value="3,50">25</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mortgage-title">Taxes (Optional)</div>
                                <div class="col-sm-12 col-md-6 mortgage-value"><input type="text" value="2,237" />$</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mortgage-title">Insurance (Optional)</div>
                                <div class="col-sm-12 col-md-6 mortgage-value"><input type="text" value="1,050" />$</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mortgage-title">Private Mortgage Insurance (Optional)</div>
                                <div class="col-sm-12 col-md-6 mortgage-value"><input type="text" value="0" />$</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mortgage-title">Association Dues (Optional)</div>
                                <div class="col-sm-12 col-md-6 mortgage-value"><input type="text" value="0" />$</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6">
                                    <button class="button button-calculate">CALCULATE</button>
                                    <input class="button button-reset" type="reset" value="RESET">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-6 result-details-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="sub-title-1">Results</p>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-3"><p class="sub-title-2">Interest Only</p></div>
                            <div class="col-sm-3"><p class="sub-title-2">Principal & Interest</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Monthly Principal and Interest Payment</p>
                            </div>
                            <div class="col-sm-3"><p class="sub-title-1">$947.50</p></div>
                            <div class="col-sm-3"><p class="sub-title-1">$1,548.93</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Monthly Taxes, Insurance, PMI and dues</p>
                            </div>
                            <div class="col-sm-3"><p class="sub-title-1">$273.94</p></div>
                            <div class="col-sm-3"><p class="sub-title-1">$273.94</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Total monthly mortgage payment</p>
                            </div>
                            <div class="col-sm-3"><p class="sub-title-1">$1,221.44</p></div>
                            <div class="col-sm-3"><p class="sub-title-1">$1,822.87</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-73"></div>

    </div>