
    <div class="wrapper">

        <div class="gap-title">HELIKE skill</div>

        <div class="gap gap-73"></div>

        <div class="wsbx-skill wsbx-skill-style-1 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skillbar">
                            <h5 class="skillbar__title">DESIGN</h5>
                            <div class="skillbar__body" data-percent="82%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">82%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">ILLUSTRATION</h5>
                            <div class="skillbar__body" data-percent="50%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">50%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">MUSIC</h5>
                            <div class="skillbar__body" data-percent="23%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">23%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skillbar">
                            <h5 class="skillbar__title">DESIGN</h5>
                            <div class="skillbar__body" data-percent="82%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">82%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">ILLUSTRATION</h5>
                            <div class="skillbar__body" data-percent="50%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">50%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">MUSIC</h5>
                            <div class="skillbar__body" data-percent="23%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">23%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skillbar">
                            <h5 class="skillbar__title">DESIGN</h5>
                            <div class="skillbar__body" data-percent="82%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">82%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">ILLUSTRATION</h5>
                            <div class="skillbar__body" data-percent="50%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">50%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">MUSIC</h5>
                            <div class="skillbar__body" data-percent="23%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">23%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skillbar">
                            <h5 class="skillbar__title">DESIGN</h5>
                            <div class="skillbar__body height" data-percent="82%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">82%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">ILLUSTRATION</h5>
                            <div class="skillbar__body height" data-percent="50%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">50%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">MUSIC</h5>
                            <div class="skillbar__body height" data-percent="23%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">23%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skillbar">
                            <h5 class="skillbar__title">DESIGN</h5>
                            <div class="skillbar__body height" data-percent="82%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">82%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">ILLUSTRATION</h5>
                            <div class="skillbar__body height" data-percent="50%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">50%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">MUSIC</h5>
                            <div class="skillbar__body height" data-percent="23%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">23%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skillbar">
                            <h5 class="skillbar__title">DESIGN</h5>
                            <div class="skillbar__body height" data-percent="82%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">82%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">ILLUSTRATION</h5>
                            <div class="skillbar__body height" data-percent="50%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">50%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <h5 class="skillbar__title">MUSIC</h5>
                            <div class="skillbar__body height" data-percent="23%" >
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">23%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-2 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                        <div class="skillbar">
                            <div class="skillbar__body" data-percent="82%" >
                                <span class="skillbar__title">DESIGN</span>
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">82%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="skillbar__body" data-percent="50%" >
                                <span class="skillbar__title">INTERIOR</span>
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">50%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="skillbar__body" data-percent="23%" >
                                <span class="skillbar__title">GARDEN</span>
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">23%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-2 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                        <div class="skillbar">
                            <div class="skillbar__body" data-percent="82%" >
                                <span class="skillbar__title">DESIGN</span>
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">82%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="skillbar__body" data-percent="50%" >
                                <span class="skillbar__title">INTERIOR</span>
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">50%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="skillbar__body" data-percent="23%" >
                                <span class="skillbar__title">GARDEN</span>
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">23%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-2 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                        <div class="skillbar">
                            <div class="skillbar__body" data-percent="82%" >
                                <span class="skillbar__title">DESIGN</span>
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">82%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="skillbar__body" data-percent="50%" >
                                <span class="skillbar__title">INTERIOR</span>
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">50%</div>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="skillbar__body" data-percent="23%" >
                                <span class="skillbar__title">GARDEN</span>
                                <div class="skillbar__bar" ></div>
                                <div class="skillbar__percent">23%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 pb-0 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skill-chart">
                            <div class="skill-chart__diagram js-skill-chart__diagram" data-dimension="600" data-circle-color="#1e3641" data-default-text-color="#fff" data-default-text="Skills">
                                <div class="skill-chart__arch" data-color="#e74c3c" data-name="Data 1" data-percent="65" ></div>
                                <div class="skill-chart__arch" data-color="#8c6645" data-name="Data 2" data-percent="35" ></div>
                                <div class="skill-chart__arch" data-color="#265573" data-name="Data 3" data-percent="45" ></div>
                                <div class="skill-chart__arch" data-color="#008b83" data-name="Data 4" data-percent="55" ></div>
                                <div class="skill-chart__arch" data-color="#d96b52" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#82bf56" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#4ecdc4" data-name="Data 5" data-percent="50" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 pb-0 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skill-chart">
                            <div class="skill-chart__diagram js-skill-chart__diagram" data-dimension="600" data-circle-color="#fff" data-default-text-color="#34334f" data-default-text="Skills">
                                <div class="skill-chart__arch" data-color="#39abff" data-name="Data 1" data-percent="65" ></div>
                                <div class="skill-chart__arch" data-color="#5f80ff" data-name="Data 2" data-percent="35" ></div>
                                <div class="skill-chart__arch" data-color="#ff99af" data-name="Data 3" data-percent="45" ></div>
                                <div class="skill-chart__arch" data-color="#ff5e9a" data-name="Data 4" data-percent="55" ></div>
                                <div class="skill-chart__arch" data-color="#3d7af6" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#6644ea" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#aa3f67" data-name="Data 5" data-percent="50" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 pb-0 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skill-chart">
                            <div class="skill-chart__diagram js-skill-chart__diagram" data-dimension="600" data-circle-color="#1e3641" data-default-text-color="#fff" data-default-text="Skills">
                                <div class="skill-chart__arch" data-color="#e74c3c" data-name="Data 1" data-percent="65" ></div>
                                <div class="skill-chart__arch" data-color="#8c6645" data-name="Data 2" data-percent="35" ></div>
                                <div class="skill-chart__arch" data-color="#265573" data-name="Data 3" data-percent="45" ></div>
                                <div class="skill-chart__arch" data-color="#008b83" data-name="Data 4" data-percent="55" ></div>
                                <div class="skill-chart__arch" data-color="#d96b52" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#82bf56" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#4ecdc4" data-name="Data 5" data-percent="50" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 pb-0 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skill-chart">
                            <div class="skill-chart__diagram js-skill-chart__diagram" data-dimension="600" data-circle-color="#1e3641" data-default-text-color="#fff" data-default-text="Skills">
                                <div class="skill-chart__arch" data-color="#e74c3c" data-name="Data 1" data-percent="65" ></div>
                                <div class="skill-chart__arch" data-color="#8c6645" data-name="Data 2" data-percent="35" ></div>
                                <div class="skill-chart__arch" data-color="#265573" data-name="Data 3" data-percent="45" ></div>
                                <div class="skill-chart__arch" data-color="#008b83" data-name="Data 4" data-percent="55" ></div>
                                <div class="skill-chart__arch" data-color="#d96b52" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#82bf56" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#4ecdc4" data-name="Data 5" data-percent="50" ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 pb-0 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skill-chart">
                            <div class="skill-chart__diagram js-skill-chart__diagram" data-dimension="600" data-circle-color="#fff" data-default-text-color="#34334f" data-default-text="Skills">
                                <div class="skill-chart__arch" data-color="#39abff" data-name="Data 1" data-percent="65" ></div>
                                <div class="skill-chart__arch" data-color="#5f80ff" data-name="Data 2" data-percent="35" ></div>
                                <div class="skill-chart__arch" data-color="#ff99af" data-name="Data 3" data-percent="45" ></div>
                                <div class="skill-chart__arch" data-color="#ff5e9a" data-name="Data 4" data-percent="55" ></div>
                                <div class="skill-chart__arch" data-color="#3d7af6" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#6644ea" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#aa3f67" data-name="Data 5" data-percent="50" ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-5"></div>

        <div class="wsbx-skill wsbx-skill-style-1 pb-0 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-skill-title">Celebrity Houses in AD</h2>
                        <p>Over the years, AD has been invited into the luxurious homes of stars around the world. We’ve explored the chic Beverly Hills estate of Jennifer Aniston; Marc Anthony’s stunning waterfront oasis in the Dominican Republic; Patrick Dempsey’s Malibu house designed by Frank Gehry; the revamped New York artist’s loft where Naomi Watts and Liev Schreiber live with their kids; John Legend and Chrissy Teigen’s casually elegant homes on both coasts; and the eco-conscious and totally gorgeous Los Angeles retreat of Gisele Bündchen and Tom Brady, to name just a few. Here, you’ll find all of our exclusive interviews and stunning celebrity home tours in one spot. </p>
                    </div>
                    <div class="col-sm-12 col-md-6 wsbx-skill-ranger">
                        <div class="skill-chart">
                            <div class="skill-chart__diagram js-skill-chart__diagram" data-dimension="600" data-circle-color="#1e3641" data-default-text-color="#fff" data-default-text="Skills">
                                <div class="skill-chart__arch" data-color="#e74c3c" data-name="Data 1" data-percent="65" ></div>
                                <div class="skill-chart__arch" data-color="#8c6645" data-name="Data 2" data-percent="35" ></div>
                                <div class="skill-chart__arch" data-color="#265573" data-name="Data 3" data-percent="45" ></div>
                                <div class="skill-chart__arch" data-color="#008b83" data-name="Data 4" data-percent="55" ></div>
                                <div class="skill-chart__arch" data-color="#d96b52" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#82bf56" data-name="Data 5" data-percent="50" ></div>
                                <div class="skill-chart__arch" data-color="#4ecdc4" data-name="Data 5" data-percent="50" ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>