
    <div class="wrapper">
        <div class="gap-title">helike team member details</div>
    	 <div class="gap gap-40"></div>
      <div class="wsbx-team-member-detail">
        <div class="bg-1">
          <div class="container wsbx-team-details bg-1 wsbx-team-member-details">
          	<div class="row">
          		<div class="col-md-4 col-sm-4 col-sm-12 wsbx-team-details-top-left">
          			<div class="wsbx-team-details-top-left-img">
          				<a href="#"><img src="team-details/team-d1.png"></a>
          			</div>
          		</div>
          		<div class="col-md-8 col-sm-8 col-sm-12 wsbx-team-details-top-right">
          			<div class="wsbx-team-details-top-right-content">
          				<div class="wsbx-team-details-top-right">
  	        				<div class="wsbx-team-details-top-right-title">
                        <div class="wsbx-team-details-top-right-title-user">
                            <a href="#"><h3 class="wsbx-team-details-top-right-title-username">JAMES BOLDWIN</h3></a>
                            <p class="wsbx-team-details-top-right-title-user-note">REALTOR</p>
                        </div>
                        <div class="wsbx-team-details-top-right-title-btn">
                            <a href="#"><img class="wsbx-team-details-top-right-title-btn-icon" src="team-details/team-details-top-right-icon.png" /> INQUIRE</a>
                        </div>
                    </div>
                    <div class="wsbx-team-details-top-right-contact">
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 101 0000 888</p>
                        <p><i class="print"><img src="team-details/team-d13.png"></i> 506 0066 890</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> email@yourdomain.com</p>
                    </div>
                    <div class="wsbx-team-details-top-right-text">
                        <p>
                            Private gated Waterfront Estate on almost FOUR acres! Unlike any other property on Lake Austin, there are two Boat Houses totaling 7 boat slips. Serene gardens and extensive flat yards highlight the grounds. The Loggia overlooks the Pool Terrace, yard and enclosed swimming area in beautiful Lake Austin! Luxury bed-and-bedding company.
                        </p>
  	        				</div>
  	        			</div>
          			</div>
          		</div>
          	</div>
          	<div id="tabs-1" class="tabs tabs-default wsbx-team-details-tabs-default">
                  <ul class="tabs__tabs wsbx-team-details-tabs__tabs"> 
                      <li class="js-tabs__tab-item tabs__tab-item">
                          <a href="#">CURRENT LISTINGS</a>
                      </li>
                      <li class="js-tabs__tab-item tabs__tab-item tabs__tab-item-active wsbx-team-details-tabs__tab-item-last-child">
                          <a href="#">SOLD LISTINGS</a>
                      </li>
                      <div class="clearboth"></div>
                  </ul>
                  <div class="tabs__panes">
                      <div class="tabs__pane">
                          <div class="tabs__title">CURRENT LISTINGS</div>
                          tab 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est 
                          consecte Phasellus auctor a elit facilisis tempus.
                          Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                          sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                      </div>
                      <div class="tabs__pane tabs__pane-active wsbx-team-details-tabs__pane">
                          <div class=" wsbx-team-details-my-tabs">
                              <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">JAMES BOLDWIN SOLD LISTINGS</h5>
                              <div class="wsbx-team-details-product">
                                  <div class="wsbx-team-details-product-caret">
                                      <div class="wsbx-team-details-product-caret-note">
                                          <p>
                                              Displaying 24 out of 105 results. Listings updated 18 minutes ago.
                                          </p>
                                      </div>
                                      <div class="wsbx-team-details-product-caret-right wsbx-team-member-details-product-caret-right">
                                          <select>
                                              <option>Price Descendant</option>
                                              <option>Text-1</option>
                                              <option>Text-2</option>
                                              <option>Text-3</option>
                                          </select>
                                          <p>
                                              <span>Sorting Criteria: </span>
                                          </p>
                                          
                                      </div>
                                  </div>
                                  <div class="wsbx-team-member-details-list-product">
                                      <div class="row">
                                          <div class="col-md-3 col-sm-6 col-xs-12">
                                             <div class="wsbx-team-member-details-list-product-1">
                                                 <div class="wsbx-team-member-details-list-product-img">
                                                     <img src="team-details/team-d2.png">
                                                     <p class="wsbx-team-member-details-list-product-1-p bg-sale">
                                                         <span>For sale</span>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-heart">
                                                         <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-mony">
                                                         <span>$3,399,000</span>
                                                     </p>
                                                 </div>
                                                 <div class="wsbx-team-member-details-list-product-12">
                                                     <p class="wsbx-team-member-details-list-product-13">5110 Parell Path</p>
                                                     <p class="wsbx-team-member-details-list-product-14">Austin, TX 78744</p>
                                                     <ul class="wsbx-team-member-details-list-product-15">
                                                         <li>3 beds</li>
                                                         <li>2 baths</li>
                                                         <li>1,211 sqft</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6 col-xs-12">
                                              <div class="wsbx-team-member-details-list-product-1">
                                                 <div class="wsbx-team-member-details-list-product-img">
                                                     <img src="team-details/team-d3.png">
                                                     <p class="wsbx-team-member-details-list-product-1-p bg-sold">
                                                         <span>sold</span>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-heart">
                                                         <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-mony">
                                                         <span>$3,399,000</span>
                                                     </p>
                                                 </div>
                                                 <div class="wsbx-team-member-details-list-product-12">
                                                     <p class="wsbx-team-member-details-list-product-13">5110 Parell Path</p>
                                                     <p class="wsbx-team-member-details-list-product-14">Austin, TX 78744</p>
                                                     <ul class="wsbx-team-member-details-list-product-15">
                                                         <li>3 beds</li>
                                                         <li>2 baths</li>
                                                         <li>1,211 sqft</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6 col-xs-12">
                                             <div class="wsbx-team-member-details-list-product-1">
                                                 <div class="wsbx-team-member-details-list-product-img">
                                                     <img src="team-details/team-d4.png">
                                                     <p class="wsbx-team-member-details-list-product-1-p bg-sale">
                                                         <span>For sale</span>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-heart">
                                                         <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-mony">
                                                         <span>$3,399,000</span>
                                                     </p>
                                                 </div>
                                                 <div class="wsbx-team-member-details-list-product-12">
                                                     <p class="wsbx-team-member-details-list-product-13">5110 Parell Path</p>
                                                     <p class="wsbx-team-member-details-list-product-14">Austin, TX 78744</p>
                                                     <ul class="wsbx-team-member-details-list-product-15">
                                                         <li>3 beds</li>
                                                         <li>2 baths</li>
                                                         <li>1,211 sqft</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6 col-xs-12">
                                             <div class="wsbx-team-member-details-list-product-1">
                                                 <div class="wsbx-team-member-details-list-product-img">
                                                     <img src="team-details/team-d5.png">
                                                     <p class="wsbx-team-member-details-list-product-1-p bg-sale">
                                                         <span>For sale</span>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-heart">
                                                         <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-mony">
                                                         <span>$3,399,000</span>
                                                     </p>
                                                 </div>
                                                 <div class="wsbx-team-member-details-list-product-12">
                                                     <p class="wsbx-team-member-details-list-product-13">5110 Parell Path</p>
                                                     <p class="wsbx-team-member-details-list-product-14">Austin, TX 78744</p>
                                                     <ul class="wsbx-team-member-details-list-product-15">
                                                         <li>3 beds</li>
                                                         <li>2 baths</li>
                                                         <li>1,211 sqft</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-3 col-sm-6 col-xs-12">
                                             <div class="wsbx-team-member-details-list-product-1">
                                                 <div class="wsbx-team-member-details-list-product-img">
                                                     <img src="team-details/team-d6.png">
                                                     <p class="wsbx-team-member-details-list-product-1-p bg-sale">
                                                         <span>For sale</span>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-heart">
                                                         <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-mony">
                                                         <span>$3,399,000</span>
                                                     </p>
                                                 </div>
                                                 <div class="wsbx-team-member-details-list-product-12">
                                                     <p class="wsbx-team-member-details-list-product-13">5110 Parell Path</p>
                                                     <p class="wsbx-team-member-details-list-product-14">Austin, TX 78744</p>
                                                     <ul class="wsbx-team-member-details-list-product-15">
                                                         <li>3 beds</li>
                                                         <li>2 baths</li>
                                                         <li>1,211 sqft</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6 col-xs-12">
                                             <div class="wsbx-team-member-details-list-product-1">
                                                 <div class="wsbx-team-member-details-list-product-img">
                                                     <img src="team-details/team-d7.png">
                                                     <p class="wsbx-team-member-details-list-product-1-p bg-sale">
                                                         <span>For sale</span>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-heart">
                                                         <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-mony">
                                                         <span>$3,399,000</span>
                                                     </p>
                                                 </div>
                                                 <div class="wsbx-team-member-details-list-product-12">
                                                     <p class="wsbx-team-member-details-list-product-13">5110 Parell Path</p>
                                                     <p class="wsbx-team-member-details-list-product-14">Austin, TX 78744</p>
                                                     <ul class="wsbx-team-member-details-list-product-15">
                                                         <li>3 beds</li>
                                                         <li>2 baths</li>
                                                         <li>1,211 sqft</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6 col-xs-12">
                                             <div class="wsbx-team-member-details-list-product-1">
                                                 <div class="wsbx-team-member-details-list-product-img">
                                                     <img src="team-details/team-d8.png">
                                                     <p class="wsbx-team-member-details-list-product-1-p bg-sale">
                                                         <span>For sale</span>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-heart">
                                                         <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-mony">
                                                         <span>$3,399,000</span>
                                                     </p>
                                                 </div>
                                                 <div class="wsbx-team-member-details-list-product-12">
                                                     <p class="wsbx-team-member-details-list-product-13">5110 Parell Path</p>
                                                     <p class="wsbx-team-member-details-list-product-14">Austin, TX 78744</p>
                                                     <ul class="wsbx-team-member-details-list-product-15">
                                                         <li>3 beds</li>
                                                         <li>2 baths</li>
                                                         <li>1,211 sqft</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6 col-xs-12">
                                              <div class="wsbx-team-member-details-list-product-1">
                                                 <div class="wsbx-team-member-details-list-product-img">
                                                     <img src="team-details/team-d9.png">
                                                     <p class="wsbx-team-member-details-list-product-1-p bg-sold">
                                                         <span>sold</span>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-heart">
                                                         <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                     </p>
                                                     <p class="wsbx-team-member-details-list-product-1-mony">
                                                         <span>$3,399,000</span>
                                                     </p>
                                                 </div>
                                                 <div class="wsbx-team-member-details-list-product-12">
                                                     <p class="wsbx-team-member-details-list-product-13">5110 Parell Path</p>
                                                     <p class="wsbx-team-member-details-list-product-14">Austin, TX 78744</p>
                                                     <ul class="wsbx-team-member-details-list-product-15">
                                                         <li>3 beds</li>
                                                         <li>2 baths</li>
                                                         <li>1,211 sqft</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
        </div>
      </div>
    </div>
        <!- endinject ->