
    <div class="wrapper">

        <div class="gap-title">HELIKE faq</div>

        <div class="gap gap-40"></div>

        <div class="wsbx-faq wsbx-faq-style-1 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1 bg-white">Frequently Asked Questions</h2>
                        <div class="wsbx-faq-filters">
                            <a class="active" href="#">all</a>
                            <a href="#">development</a>
                            <a href="#">engineering</a>
                            <a href="#">model & prototyping</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="accordion accordion-one">
                            <div class="accordion__item accordion__item-active">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Nunc dapibus eget lorem non maximus</span>
                                </div>
                                <div class="accordion__pane" style="display: block;">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item ">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Maecenas gravida quis arcu id convallis gravida quis arcu</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Fusce cursus ligula justo, a iaculis enim tempus nec</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-faq wsbx-faq-style-1 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">Frequently Asked Questions</h2>
                        <div class="wsbx-faq-filters">
                            <a class="active" href="#">all</a>
                            <a href="#">development</a>
                            <a href="#">engineering</a>
                            <a href="#">model & prototyping</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="accordion accordion-one">
                            <div class="accordion__item accordion__item-active">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Nunc dapibus eget lorem non maximus</span>
                                </div>
                                <div class="accordion__pane" style="display: block;">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item ">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Maecenas gravida quis arcu id convallis gravida quis arcu</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Fusce cursus ligula justo, a iaculis enim tempus nec</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-faq wsbx-faq-style-1 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">Frequently Asked Questions</h2>
                        <div class="wsbx-faq-filters">
                            <a class="active" href="#">all</a>
                            <a href="#">development</a>
                            <a href="#">engineering</a>
                            <a href="#">model & prototyping</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="accordion accordion-one">
                            <div class="accordion__item accordion__item-active">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Nunc dapibus eget lorem non maximus</span>
                                </div>
                                <div class="accordion__pane" style="display: block;">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item ">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Maecenas gravida quis arcu id convallis gravida quis arcu</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Fusce cursus ligula justo, a iaculis enim tempus nec</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-faq wsbx-faq-style-1 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1 bg-white">Frequently Asked Questions</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="accordion accordion-one">
                            <div class="accordion__item accordion__item-active">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Nunc dapibus eget lorem non maximus</span>
                                </div>
                                <div class="accordion__pane" style="display: block;">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item ">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Maecenas gravida quis arcu id convallis gravida quis arcu</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Fusce cursus ligula justo, a iaculis enim tempus nec</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-faq wsbx-faq-style-1 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">Frequently Asked Questions</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="accordion accordion-one">
                            <div class="accordion__item accordion__item-active">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Nunc dapibus eget lorem non maximus</span>
                                </div>
                                <div class="accordion__pane" style="display: block;">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item ">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Maecenas gravida quis arcu id convallis gravida quis arcu</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Fusce cursus ligula justo, a iaculis enim tempus nec</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-faq wsbx-faq-style-1 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">Frequently Asked Questions</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="accordion accordion-one">
                            <div class="accordion__item accordion__item-active">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Nunc dapibus eget lorem non maximus</span>
                                </div>
                                <div class="accordion__pane" style="display: block;">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item ">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Maecenas gravida quis arcu id convallis gravida quis arcu</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Fusce cursus ligula justo, a iaculis enim tempus nec</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem. Suspendisse ornare ut ligula eget fringilla. Proin viverra rutrum dictum. Phasellus dignissim urna tortor, et auctor lorem aliquam in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-faq wsbx-faq-style-2 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-title wsbx-title-style-4 bg-white">Frequently Asked Questions</h2>
                        <div class="accordion accordion-one">
                            <div class="accordion__item accordion__item-active">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Nunc dapibus eget lorem non maximus</span>
                                </div>
                                <div class="accordion__pane" style="display: block;">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem.</p>
                                </div>
                            </div>
                            <div class="accordion__item ">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Maecenas gravida quis arcu id convallis gravida quis arcu</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem.</p>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Fusce cursus ligula justo, a iaculis enim tempus nec</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 text-center">
                        <img src="clients/helike-clients.png" alt="GLOBAL PARTNERS" />
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-faq wsbx-faq-style-2 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-title wsbx-title-style-4">Frequently Asked Questions</h2>
                        <div class="accordion accordion-one">
                            <div class="accordion__item accordion__item-active">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Nunc dapibus eget lorem non maximus</span>
                                </div>
                                <div class="accordion__pane" style="display: block;">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem.</p>
                                </div>
                            </div>
                            <div class="accordion__item ">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Maecenas gravida quis arcu id convallis gravida quis arcu</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem.</p>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Fusce cursus ligula justo, a iaculis enim tempus nec</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 text-center">
                        <img src="clients/helike-clients.png" alt="GLOBAL PARTNERS" />
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-faq wsbx-faq-style-2 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="wsbx-title wsbx-title-style-4">Frequently Asked Questions</h2>
                        <div class="accordion accordion-one">
                            <div class="accordion__item accordion__item-active">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Nunc dapibus eget lorem non maximus</span>
                                </div>
                                <div class="accordion__pane" style="display: block;">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem.</p>
                                </div>
                            </div>
                            <div class="accordion__item ">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Maecenas gravida quis arcu id convallis gravida quis arcu</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem.</p>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__tab">
                                    <i class="icon icon-question-mark"></i>
                                    <span>Fusce cursus ligula justo, a iaculis enim tempus nec</span>
                                </div>
                                <div class="accordion__pane">
                                    <p>Nunc dapibus eget lorem non maximus. Aliquam id tincidunt elit, at hendrerit dolor. Mauris eget metus et lectus faucibus placerat. Morbi elementum, lectus pulvinar sagittis pellentesque, neque turpis iaculis neque, sed tempor nulla nunc eu lorem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 text-center">
                        <img src="clients/helike-clients.png" alt="GLOBAL PARTNERS" />
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>