
    <div class="wrapper">

        <div class="gap-title">HELIKE funfact</div>

        <div class="gap gap-40"></div>

        <div class="wsbx-funfacts wsbx-funfacts-style-1 bg-white text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1 bg-white">MILESTONES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <span class="number">100</span>
                        <h3 class="wsbx-funfacts-title">Happy Workers</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <span class="number">250</span>
                        <h3 class="wsbx-funfacts-title">TECHNOLOGYS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <span class="number">320</span>
                        <h3 class="wsbx-funfacts-title">PROJECTS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <span class="number">500</span>
                        <h3 class="wsbx-funfacts-title">Insurance</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-funfacts wsbx-funfacts-style-1 bg-violet text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">MILESTONES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <span class="number">100</span>
                        <h3 class="wsbx-funfacts-title">Happy Workers</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <span class="number">250</span>
                        <h3 class="wsbx-funfacts-title">TECHNOLOGYS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <span class="number">320</span>
                        <h3 class="wsbx-funfacts-title">PROJECTS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <span class="number">500</span>
                        <h3 class="wsbx-funfacts-title">Insurance</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-funfacts wsbx-funfacts-style-1 bg-img text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">MILESTONES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <span class="number">100</span>
                        <h3 class="wsbx-funfacts-title">Happy Workers</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <span class="number">250</span>
                        <h3 class="wsbx-funfacts-title">TECHNOLOGYS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <span class="number">320</span>
                        <h3 class="wsbx-funfacts-title">PROJECTS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <span class="number">500</span>
                        <h3 class="wsbx-funfacts-title">Insurance</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-funfacts wsbx-funfacts-style-1 bg-white text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1 bg-white">MILESTONES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                            <div class="pie-chart__chart easyPieChart" data-percent="20" data-barcolor="#fda600" data-trackcolor="#f1f1f1" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-worker"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">Happy Workers</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                            <div class="pie-chart__chart easyPieChart" data-percent="30" data-barcolor="#fda600" data-trackcolor="#f1f1f1" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-technology"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">TECHNOLOGYS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                            <div class="pie-chart__chart easyPieChart" data-percent="45" data-barcolor="#fda600" data-trackcolor="#f1f1f1" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-project"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">PROJECTS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                            <div class="pie-chart__chart easyPieChart" data-percent="10" data-barcolor="#fda600" data-trackcolor="#f1f1f1" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-insurance"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">Insurance</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-funfacts wsbx-funfacts-style-1 bg-violet text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">MILESTONES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                             <div class="pie-chart__chart easyPieChart" data-percent="20" data-barcolor="#fda600" data-trackcolor="#454461" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-worker"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">Happy Workers</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                             <div class="pie-chart__chart easyPieChart" data-percent="30" data-barcolor="#fda600" data-trackcolor="#454461" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-technology"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">TECHNOLOGYS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                             <div class="pie-chart__chart easyPieChart" data-percent="45" data-barcolor="#fda600" data-trackcolor="#454461" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-project"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">PROJECTS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                             <div class="pie-chart__chart easyPieChart" data-percent="10" data-barcolor="#fda600" data-trackcolor="#454461" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-insurance"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">Insurance</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-funfacts wsbx-funfacts-style-1 bg-img text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">MILESTONES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                             <div class="pie-chart__chart easyPieChart" data-percent="20" data-barcolor="#fda600" data-trackcolor="#34334f" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-worker"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">Happy Workers</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                             <div class="pie-chart__chart easyPieChart" data-percent="30" data-barcolor="#fda600" data-trackcolor="#34334f" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                 <i class="icon icon-wsbx-funfacts-technology"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">TECHNOLOGYS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                             <div class="pie-chart__chart easyPieChart" data-percent="45" data-barcolor="#fda600" data-trackcolor="#34334f" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                <i class="icon icon-wsbx-funfacts-project"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">PROJECTS</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pie-chart js-el" data-mk-component="Chart">
                             <div class="pie-chart__chart easyPieChart" data-percent="10" data-barcolor="#fda600" data-trackcolor="#34334f" data-linewidth="25" data-barsize="200px" style="width: 200px; height: 200px; line-height: 200px;">
                                 <i class="icon icon-wsbx-funfacts-insurance"></i>
                            </div>
                            <div class="pie-chart__desc"></div>
                        </div>
                        <h3 class="wsbx-funfacts-title">Insurance</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-funfacts wsbx-funfacts-style-2 bg-white text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1 bg-white">MILESTONES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-worker"></i>
                            <span class="number">100</span>
                            <h3 class="wsbx-funfacts-title">Happy Workers</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-technology"></i>
                            <span class="number">250</span>
                            <h3 class="wsbx-funfacts-title">TECHNOLOGYS</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-project"></i>
                            <span class="number">320</span>
                            <h3 class="wsbx-funfacts-title">PROJECTS</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-insurance"></i>
                            <span class="number">500</span>
                            <h3 class="wsbx-funfacts-title">Insurance</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-funfacts wsbx-funfacts-style-2 bg-violet text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">MILESTONES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-worker"></i>
                            <span class="number">100</span>
                            <h3 class="wsbx-funfacts-title">Happy Workers</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-technology"></i>
                            <span class="number">250</span>
                            <h3 class="wsbx-funfacts-title">TECHNOLOGYS</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-project"></i>
                            <span class="number">320</span>
                            <h3 class="wsbx-funfacts-title">PROJECTS</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-insurance"></i>
                            <span class="number">500</span>
                            <h3 class="wsbx-funfacts-title">Insurance</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-funfacts wsbx-funfacts-style-2 bg-img text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1">MILESTONES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-worker"></i>
                            <span class="number">100</span>
                            <h3 class="wsbx-funfacts-title">Happy Workers</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-technology"></i>
                            <span class="number">250</span>
                            <h3 class="wsbx-funfacts-title">TECHNOLOGYS</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-project"></i>
                            <span class="number">320</span>
                            <h3 class="wsbx-funfacts-title">PROJECTS</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item-funfact">
                            <i class="icon icon-wsbx-funfacts-insurance"></i>
                            <span class="number">500</span>
                            <h3 class="wsbx-funfacts-title">Insurance</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>