
    <div class="wrapper">

        <div class="gap-title">HELIKE listing details</div>

        <div class="gap gap-30"></div>

        <div class="wsbx-listings-details box-top bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tabs tabs-default slide-show">
                            <div class="inner">
                                <div class="tabs__panes">
                                    <div class="tabs__pane tabs__pane-active">
                                        <img src="listings-details/helike-listings-details.jpg" alt="slide show control">
                                        <p class="for-sale">FOR SALE</p>
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <p class="price">$14,200,000</p>
                                    </div>
                                    <div class="tabs__pane">
                                        <img src="listings-details/helike-listings-details.jpg" alt="slide show control">
                                        <p class="for-sale">FOR SALE</p>
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <p class="price">$10,200,000</p>
                                    </div>
                                    <div class="tabs__pane">
                                        <img src="listings-details/helike-listings-details.jpg" alt="slide show control">
                                        <p class="for-sale">FOR SALE</p>
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <p class="price">$15,200,000</p>
                                    </div>
                                    <div class="tabs__pane">
                                        <img src="listings-details/helike-listings-details.jpg" alt="slide show control">
                                        <p class="for-sale">FOR SALE</p>
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <p class="price">$11,200,000</p>
                                    </div>
                                    <div class="tabs__pane">
                                        <img src="listings-details/helike-listings-details.jpg" alt="slide show control">
                                        <p class="for-sale">FOR SALE</p>
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <p class="price">$13,200,000</p>
                                    </div>
                                </div>
                                <ul class="tabs__tabs">
                                    <li class=" js-tabs__tab-item tabs__tab-item tabs__tab-item-active">
                                        <a href="#"><img src="listings-details/helike-listings-details.jpg" alt="slide show control"></a>
                                    </li>
                                    <li class= "js-tabs__tab-item tabs__tab-item ">
                                        <a href="#"><img src="listings-details/helike-listings-details-1.jpg" alt="slide show control"></a>
                                    </li>
                                    <li class= "js-tabs__tab-item tabs__tab-item ">
                                        <a href="#"><img src="listings-details/helike-listings-details-2.jpg" alt="slide show control"></a>
                                    </li>
                                    <li class= "js-tabs__tab-item tabs__tab-item ">
                                        <a href="#"><img src="listings-details/helike-listings-details-3.jpg" alt="slide show control"></a>
                                    </li>
                                    <li class= "js-tabs__tab-item tabs__tab-item ">
                                        <a href="#"><img src="listings-details/helike-listings-details-4.jpg" alt="slide show control"></a>
                                    </li>
                                    <div class="clearboth"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 box-left">
                        <h2 class="wsbx-listings-details-title">3201 WESTLAKE DR, AUSTIN, TX 78746</h2>
                        <p class="day-market"><i class="icon icon-clock-small"></i>15 DAYS ON MARKET</p>
                        <div class="bed-bath">
                            <span><i class="icon sprite-beds-yellow"></i>4 Bed</span>
                            <span><i class="icon sprite-bath-yellow"></i>2 Bath</span>
                            <span><i class="icon sprite-sqft-yellow"></i>5500 Sqft</span>
                        </div>
                        <p class="desc">Private gated Waterfront Estate on almost FOUR acres! Unlike any other property on Lake Austin, there are two Boat Houses totaling  boat slips. Serene gardens and extensive flat yards highlight the grounds. The Loggia overlooks the Pool Terrace, yard and enclosed swimming area in beautiful Lake Austin! </p>
                        <div class="payment">
                            <a href="#" class="btn-inquire">INQUIRE</a>
                            <p>Estimated Payment (Monthly)</p>
                            <p class="price-number">$17,256,26</p>
                            <p>Based on 10% Down Payment at 5% APR Amortized over 25 years</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <i class="icon icon-mls"></i>
                                <span>MLS# 246642</span>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a href="#" class="social-item"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" class="social-item"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="social-item"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wsbx-listings-details box-content bg-white">
            <div class="container">
                <div class="tabs tabs-simple wsbx-tabs wsbx-tabs-style-2 bg-white">
                    <div class="inner">
                        <ul class="tabs__tabs">
                            <li class=" js-tabs__tab-item tabs__tab-item tabs__tab-item-active">
                                <a href="#">PROPERTY INFO</a>
                            </li>
                            <li class= "js-tabs__tab-item tabs__tab-item ">
                                <a href="#">MAP</a>
                            </li>
                            <li class= "js-tabs__tab-item tabs__tab-item ">
                                <a href="#">VIRTUAL TOUR</a>
                            </li>
                            <div class="clearboth"></div>
                        </ul>
                        <div class="tabs__panes">
                            <div class="tabs__pane tabs__pane-active">

                                <div class="property key-facts">
                                    <h3 class="property-title">KEY FACTS</h3>
                                    <div class="list clearfix">
                                        <div class="item">
                                            <i class="icon icon-residen"></i>
                                            <p>Residential<br>Property</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-detached"></i>
                                            <p>Detached</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-beds"></i>
                                            <p>3 Beds</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-bath"></i>
                                            <p>2 Bath</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-sqft"></i>
                                            <p>7,500 sqft</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-acres"></i>
                                            <p>1,2 Acres</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-yead-build"></i>
                                            <p>2007 year<br>build</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-stories"></i>
                                            <p>2 Stories</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-taxes"></i>
                                            <p>$3500<br>2015 Taxes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="property open-house">
                                    <h3 class="property-title">OPEN HOUSE</h3>
                                    <div class="list clearfix">
                                        <div class="item">
                                            <i class="icon icon-clock"></i>
                                            <p>9 Sep<br>2pm - 5pm</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-clock"></i>
                                            <p>10 Sep<br>3pm - 5pm</p>
                                        </div>
                                        <div class="item">
                                            <i class="icon icon-clock"></i>
                                            <p>11 Sep<br>1pm - 3pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="property features">
                                    <h3 class="property-title">FEATURES</h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="table">
                                                <div class="table-row">
                                                    <div class="table-cell"></div>
                                                    <div class="table-cell"></div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Air Conditioning:</div>
                                                    <div class="table-cell">Central Air</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Bedrooms Plus:</div>
                                                    <div class="table-cell">1</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Central Vac:</div>
                                                    <div class="table-cell">Y</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Fronting On:</div>
                                                    <div class="table-cell">N0</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Family Room:</div>
                                                    <div class="table-cell">Y</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Lot Depth:</div>
                                                    <div class="table-cell">146.00</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Drive:</div>
                                                    <div class="table-cell">Circular</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Fireplace Stove:</div>
                                                    <div class="table-cell">Y</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Lot Front:</div>
                                                    <div class="table-cell">73.00</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Heat Source:</div>
                                                    <div class="table-cell">Gas</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Heat Type:</div>
                                                    <div class="table-cell">Forced Air</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Lot Irregularities:</div>
                                                    <div class="table-cell">Huge Land</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Laundry Level:</div>
                                                    <div class="table-cell">Upper</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Legal Description:</div>
                                                    <div class="table-cell">1750 Twp</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Lot Size Code:</div>
                                                    <div class="table-cell">Feet</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Kitchens:</div>
                                                    <div class="table-cell">1</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Parking Spaces:</div>
                                                    <div class="table-cell">7</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Pool:</div>
                                                    <div class="table-cell">None</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Rooms:</div>
                                                    <div class="table-cell">11</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Rooms Plus:</div>
                                                    <div class="table-cell">5</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="table">
                                                <div class="table-row">
                                                    <div class="table-cell"></div>
                                                    <div class="table-cell"></div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Sewers:</div>
                                                    <div class="table-cell">Sewers</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Type:</div>
                                                    <div class="table-cell">Detached</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Seller Property Info Statement:</div>
                                                    <div class="table-cell">N</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Water:</div>
                                                    <div class="table-cell">Municipal</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 1 Num Pcs:</div>
                                                    <div class="table-cell">7</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 1:</div>
                                                    <div class="table-cell">1</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 1 Level:</div>
                                                    <div class="table-cell">2nd</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 2 Num Pcs:</div>
                                                    <div class="table-cell">4</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 2:</div>
                                                    <div class="table-cell">4</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 2 Level:</div>
                                                    <div class="table-cell">2nd</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 3 Num Pcs:</div>
                                                    <div class="table-cell">6</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 3:</div>
                                                    <div class="table-cell">1</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 3 Level:</div>
                                                    <div class="table-cell">Bsmt</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 4 Num Pcs:</div>
                                                    <div class="table-cell">4</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 4:</div>
                                                    <div class="table-cell">1</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 4 Level:</div>
                                                    <div class="table-cell">Bsmt</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 5 Num Pcs:</div>
                                                    <div class="table-cell">2</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 5:</div>
                                                    <div class="table-cell">1</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Washrooms Type 5 Level:</div>
                                                    <div class="table-cell">Main</div>
                                                </div>
                                                <div class="table-row">
                                                    <div class="table-cell">Zoning:</div>
                                                    <div class="table-cell">Single Family Residential</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="property rooms">
                                    <h3 class="property-title">ROOMS</h3>
                                    <div class="table">
                                        <div class="table-row table-head">
                                            <div class="table-cell">Rooms</div>
                                            <div class="table-cell">Dimensions</div>
                                            <div class="table-cell">Description</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Dining</div>
                                            <div class="table-cell">4.57 X 4.27</div>
                                            <div class="table-cell">Gas Fireplace, Hardwood Floor, Open Concept</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Kitchen</div>
                                            <div class="table-cell">4.42 X 4.27</div>
                                            <div class="table-cell">Built-In Speakers, Moulded Ceiling, Hardwood Floor</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Breakfast</div>
                                            <div class="table-cell">8.00 X 5.18</div>
                                            <div class="table-cell">B/I Appliances, Centre Island, Limestone Flooring</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Family</div>
                                            <div class="table-cell">3.96 X 2.44</div>
                                            <div class="table-cell">Halogen Lighting, W/O To Yard, Limestone Flooring</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Library</div>
                                            <div class="table-cell">8.35 X 5.80</div>
                                            <div class="table-cell">Gas Fireplace, B/I Shelves, Built-In Speakers</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Master</div>
                                            <div class="table-cell">5.18 X 3.35</div>
                                            <div class="table-cell">Hardwood Floor, B/I Bookcase, Halogen Lighting</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">2nd Br</div>
                                            <div class="table-cell">5.18 X 5.18</div>
                                            <div class="table-cell">7 Pc Ensuite, Hardwood Floor, Vaulted Ceiling</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">3rd Br</div>
                                            <div class="table-cell">4.42 X 4.27</div>
                                            <div class="table-cell">4 Pc Ensuite, Hardwood Floor, Halogen Lighting</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">4th Br</div>
                                            <div class="table-cell">8.00 X 5.18</div>
                                            <div class="table-cell">4 Pc Ensuite, Hardwood Floor, Halogen Lighting</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Laundry</div>
                                            <div class="table-cell">3.96 X 2.44</div>
                                            <div class="table-cell">Halogen Lighting, W/O To Yard, Limestone Flooring</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Rec</div>
                                            <div class="table-cell">8.35 X 5.80</div>
                                            <div class="table-cell">Gas Fireplace, B/I Shelves, Built-In Speakers</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="property school">
                                    <h3 class="property-title">SCHOOLS</h3>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <i class="icon icon-brentwood-elementary"></i>
                                            <p>Brentwood Elementary<br>School</p>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <i class="icon icon-emerson-community"></i>
                                            <p>Emerson Community<br>School</p>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <i class="icon icon-university-high"></i>
                                            <p>University High<br>School</p>
                                        </div>
                                        <div class="col-sm-6 col-md-3"></div>
                                    </div>
                                </div>
                                <div class="property listing-agent">
                                    <h3 class="property-title">LISTING AGENT</h3>
                                    <p><span>SARA G. CHRISTIAN</span> Century 21 Your Number One Realty</p>
                                </div>
                            </div>
                            <div class="tabs__pane"></div>
                            <div class="tabs__pane"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wsbx-listings wsbx-listings-style-3 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1 bg-white">RELATED Properties</h2>
                    </div>
                </div>
                <div class="wsbx-team-member-details-list-product">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="wsbx-team-member-details-list-product-1">
                                <div class="wsbx-team-member-details-list-product-img">
                                    <img src="team-details/team-d2.png" alt="Gallery">
                                    <p class="wsbx-team-member-details-list-product-1-p bg-sale">
                                        <span>For sale</span>
                                    </p>
                                    <p class="wsbx-team-member-details-list-product-1-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </p>
                                    <p class="wsbx-team-member-details-list-product-1-mony">
                                        <span>$3,399,000</span>
                                    </p>
                                </div>
                                <div class="wsbx-team-member-details-list-product-12">
                                    <p class="wsbx-team-member-details-list-product-13">5110 Parell Path</p>
                                    <p class="wsbx-team-member-details-list-product-14">Austin, TX 78744</p>
                                    <ul class="wsbx-team-member-details-list-product-15">
                                        <li>3 beds</li>
                                        <li>2 baths</li>
                                        <li>1,211 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="wsbx-team-member-details-list-product-1">
                                <div class="wsbx-team-member-details-list-product-img">
                                    <img src="team-details/team-d3.png" alt="Gallery">
                                    <p class="wsbx-team-member-details-list-product-1-p bg-sold">
                                        <span>sold</span>
                                    </p>
                                    <p class="wsbx-team-member-details-list-product-1-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </p>
                                    <p class="wsbx-team-member-details-list-product-1-mony">
                                        <span>$3,399,000</span>
                                    </p>
                                </div>
                                <div class="wsbx-team-member-details-list-product-12">
                                    <p class="wsbx-team-member-details-list-product-13">9301 Castle Pines Dr</p>
                                    <p class="wsbx-team-member-details-list-product-14">Austin, TX 78717</p>
                                    <ul class="wsbx-team-member-details-list-product-15">
                                        <li>3 beds</li>
                                        <li>2 baths</li>
                                        <li>1,211 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="wsbx-team-member-details-list-product-1">
                                <div class="wsbx-team-member-details-list-product-img">
                                    <img src="team-details/team-d4.png" alt="Gallery">
                                    <p class="wsbx-team-member-details-list-product-1-p bg-sale">
                                        <span>For sale</span>
                                    </p>
                                    <p class="wsbx-team-member-details-list-product-1-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </p>
                                    <p class="wsbx-team-member-details-list-product-1-mony">
                                        <span>$3,399,000</span>
                                    </p>
                                </div>
                                <div class="wsbx-team-member-details-list-product-12">
                                    <p class="wsbx-team-member-details-list-product-13">13007 Turkey Run</p>
                                    <p class="wsbx-team-member-details-list-product-14">Austin, TX 78727</p>
                                    <ul class="wsbx-team-member-details-list-product-15">
                                        <li>3 beds</li>
                                        <li>2 baths</li>
                                        <li>1,211 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="wsbx-team-member-details-list-product-1">
                                <div class="wsbx-team-member-details-list-product-img">
                                    <img src="team-details/team-d5.png" alt="Gallery">
                                    <p class="wsbx-team-member-details-list-product-1-p bg-sale">
                                        <span>For sale</span>
                                    </p>
                                    <p class="wsbx-team-member-details-list-product-1-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </p>
                                    <p class="wsbx-team-member-details-list-product-1-mony">
                                        <span>$3,399,000</span>
                                    </p>
                                </div>
                                <div class="wsbx-team-member-details-list-product-12">
                                    <p class="wsbx-team-member-details-list-product-13">7502 Mifflin Kenedy Ter</p>
                                    <p class="wsbx-team-member-details-list-product-14">Austin, TX 78749</p>
                                    <ul class="wsbx-team-member-details-list-product-15">
                                        <li>3 beds</li>
                                        <li>2 baths</li>
                                        <li>1,211 sqft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>