
    <div class="wrapper">

        <div class="gap-title">HELIKE testimonial</div>

    <div class="gap gap-64"></div>

    <div class="wsbx-testimonials wsbx-testimonials-style-1 bg-white">
        <div class="container">
            <h3 class="wsbx-title wsbx-title-style-1">OUR HAPPY CLIENTS</h3>
            <div class="row">
                <div class='col-md-4'>
                    <div class='testimonial-slider testimonial-slider-boxed testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class="testimonial-slider__quote">
                                <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/jennifer-watson.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Jennifer watson</p>
                                <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class='testimonial-slider testimonial-slider-boxed testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class="testimonial-slider__quote">
                                <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/john-kate.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>John Kate</p>
                                <p class='testimonial-slider__signiture-desc'>School Teacher</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class='testimonial-slider testimonial-slider-boxed testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class="testimonial-slider__quote">
                                <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/sara-parker.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Sara Parker</p>
                                <p class='testimonial-slider__signiture-desc'>Company owner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap gap-6"></div>

    <div class="wsbx-testimonials wsbx-testimonials-style-1 bg-violet">
        <div class="container">
            <h3 class="wsbx-title wsbx-title-style-1 bg-violet">OUR HAPPY CLIENTS</h3>
            <div class="row">
                <div class='col-md-4'>
                    <div class='testimonial-slider testimonial-slider-boxed testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class="testimonial-slider__quote">
                                <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/jennifer-watson.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Jennifer watson</p>
                                <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class='testimonial-slider testimonial-slider-boxed testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class="testimonial-slider__quote">
                                <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/john-kate.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>John Kate</p>
                                <p class='testimonial-slider__signiture-desc'>School Teacher</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class='testimonial-slider testimonial-slider-boxed testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class="testimonial-slider__quote">
                                <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/sara-parker.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Sara Parker</p>
                                <p class='testimonial-slider__signiture-desc'>Company owner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap gap-6"></div>

    <div class="wsbx-testimonials wsbx-testimonials-style-1 bg-img">
        <div class="container">
            <h3 class="wsbx-title wsbx-title-style-1 bg-img">OUR HAPPY CLIENTS</h3>
            <div class="row">
                <div class='col-md-4'>
                    <div class='testimonial-slider testimonial-slider-boxed testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class="testimonial-slider__quote">
                                <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/jennifer-watson.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Jennifer watson</p>
                                <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class='testimonial-slider testimonial-slider-boxed testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class="testimonial-slider__quote">
                                <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/john-kate.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>John Kate</p>
                                <p class='testimonial-slider__signiture-desc'>School Teacher</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class='testimonial-slider testimonial-slider-boxed testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class="testimonial-slider__quote">
                                <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/sara-parker.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Sara Parker</p>
                                <p class='testimonial-slider__signiture-desc'>Company owner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap gap-6"></div>

    <div class="wsbx-testimonials wsbx-testimonials-style-2 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class='testimonial-slider js-testimonial-slider testimonial-slider-avant-guard testimonial-slider-light-skin'>
                        <ul class='testimonial-slider__slides js-testimonial-slides'>
                            <li>
                                <div class='testimonial-slider__slide-content'>
                                    <div class='testimonial-slider__quote'>
                                        <p>To share photos of your food 10 years ago would have been an annoying chore. You'd have to take the photo with a digital camera, download it to your computer and then find somewhere to upload it. Then, after all that, pray someone might see it and give a crap.</p>
                                    </div>
                                    <img class="testimonial-slider__avatar" src="testimonials/jennifer-watson.jpg" alt='testimonial' />
                                    <div class='testimonial-slider__signiture'>
                                        <p class='testimonial-slider__signiture-name'>Jennifer watson</p>
                                        <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class='testimonial-slider__slide-content'>
                                    <div class='testimonial-slider__quote'>
                                        <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                                    </div>
                                    <img class="testimonial-slider__avatar" src="testimonials/john-kate.jpg" alt='testimonial' />
                                    <div class='testimonial-slider__signiture'>
                                        <p class='testimonial-slider__signiture-name'>John Kate</p>
                                        <p class='testimonial-slider__signiture-desc'>School Teacher</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class='testimonial-slider__slide-content'>
                                    <div class='testimonial-slider__quote'>
                                        <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                                    </div>
                                    <img class="testimonial-slider__avatar" src="testimonials/sara-parker.jpg" alt='testimonial' />
                                    <div class='testimonial-slider__signiture'>
                                        <p class='testimonial-slider__signiture-name'>Sara Parker</p>
                                        <p class='testimonial-slider__signiture-desc'>Company owner</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="testimonial_slider__nav flex-direction-nav">
                            <li>
                                <a class="flex-prev" href="#"  data-direction="prev">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="flex-next" href="#"  data-direction="next">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap gap-6"></div>

    <div class="wsbx-testimonials wsbx-testimonials-style-2 bg-violet">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class='testimonial-slider js-testimonial-slider testimonial-slider-avant-guard testimonial-slider-light-skin'>
                        <ul class='testimonial-slider__slides js-testimonial-slides'>
                            <li>
                                <div class='testimonial-slider__slide-content'>
                                    <div class='testimonial-slider__quote'>
                                        <p>To share photos of your food 10 years ago would have been an annoying chore. You'd have to take the photo with a digital camera, download it to your computer and then find somewhere to upload it. Then, after all that, pray someone might see it and give a crap.</p>
                                    </div>
                                    <img class="testimonial-slider__avatar" src="testimonials/jennifer-watson.jpg" alt='testimonial' />
                                    <div class='testimonial-slider__signiture'>
                                        <p class='testimonial-slider__signiture-name'>Jennifer watson</p>
                                        <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class='testimonial-slider__slide-content'>
                                    <div class='testimonial-slider__quote'>
                                        <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                                    </div>
                                    <img class="testimonial-slider__avatar" src="testimonials/john-kate.jpg" alt='testimonial' />
                                    <div class='testimonial-slider__signiture'>
                                        <p class='testimonial-slider__signiture-name'>John Kate</p>
                                        <p class='testimonial-slider__signiture-desc'>School Teacher</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class='testimonial-slider__slide-content'>
                                    <div class='testimonial-slider__quote'>
                                        <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                                    </div>
                                    <img class="testimonial-slider__avatar" src="testimonials/sara-parker.jpg" alt='testimonial' />
                                    <div class='testimonial-slider__signiture'>
                                        <p class='testimonial-slider__signiture-name'>Sara Parker</p>
                                        <p class='testimonial-slider__signiture-desc'>Company owner</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="testimonial_slider__nav flex-direction-nav">
                            <li>
                                <a class="flex-prev" href="#"  data-direction="prev">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="flex-next" href="#"  data-direction="next">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap gap-6"></div>

    <div class="wsbx-testimonials wsbx-testimonials-style-2 bg-img">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class='testimonial-slider js-testimonial-slider testimonial-slider-avant-guard testimonial-slider-light-skin'>
                        <ul class='testimonial-slider__slides js-testimonial-slides'>
                            <li>
                                <div class='testimonial-slider__slide-content'>
                                    <div class='testimonial-slider__quote'>
                                        <p>To share photos of your food 10 years ago would have been an annoying chore. You'd have to take the photo with a digital camera, download it to your computer and then find somewhere to upload it. Then, after all that, pray someone might see it and give a crap.</p>
                                    </div>
                                    <img class="testimonial-slider__avatar" src="testimonials/jennifer-watson.jpg" alt='testimonial' />
                                    <div class='testimonial-slider__signiture'>
                                        <p class='testimonial-slider__signiture-name'>Jennifer watson</p>
                                        <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class='testimonial-slider__slide-content'>
                                    <div class='testimonial-slider__quote'>
                                        <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                                    </div>
                                    <img class="testimonial-slider__avatar" src="testimonials/john-kate.jpg" alt='testimonial' />
                                    <div class='testimonial-slider__signiture'>
                                        <p class='testimonial-slider__signiture-name'>John Kate</p>
                                        <p class='testimonial-slider__signiture-desc'>School Teacher</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class='testimonial-slider__slide-content'>
                                    <div class='testimonial-slider__quote'>
                                        <p>Exvitae laoreet arcu vel dui lacinia venenatis aliquam blandit urna leo at vestibulum velit egestas veled ultricies exbitae dictum quam pulvinar nisi magna obortis nunc.</p>
                                    </div>
                                    <img class="testimonial-slider__avatar" src="testimonials/sara-parker.jpg" alt='testimonial' />
                                    <div class='testimonial-slider__signiture'>
                                        <p class='testimonial-slider__signiture-name'>Sara Parker</p>
                                        <p class='testimonial-slider__signiture-desc'>Company owner</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="testimonial_slider__nav flex-direction-nav">
                            <li>
                                <a class="flex-prev" href="#"  data-direction="prev">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="flex-next" href="#"  data-direction="next">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap gap-6"></div>

    <div class="wsbx-testimonials wsbx-testimonials-style-3 bg-white">
        <div class="container">
            <div class="row">
                <div class='col-md-6'>
                    <div class='testimonial-slider testimonial-slider-avant-guard testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class='testimonial-slider__quote'>
                                <p>“It’s not just a pretty face. It is fast, reliable and has no complications at all. This author is definitely a five star hero!”</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/andrew-dames.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Andrew Dames</p>
                                <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='testimonial-slider testimonial-slider-avant-guard testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class='testimonial-slider__quote'>
                                <p>“Working with Jupiter WordPress Theme was like playing Tetris. It was so easy editing your content, so fast getting perfect results and so easy customizing design based on your own brand and preferences.”</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/andrew-dames-1.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Andrew Dames</p>
                                <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap gap-6"></div>

    <div class="wsbx-testimonials wsbx-testimonials-style-3 bg-violet">
        <div class="container">
            <div class="row">
                <div class='col-md-6'>
                    <div class='testimonial-slider testimonial-slider-avant-guard testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class='testimonial-slider__quote'>
                                <p>“It’s not just a pretty face. It is fast, reliable and has no complications at all. This author is definitely a five star hero!”</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/andrew-dames.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Andrew Dames</p>
                                <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='testimonial-slider testimonial-slider-avant-guard testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class='testimonial-slider__quote'>
                                <p>“Working with Jupiter WordPress Theme was like playing Tetris. It was so easy editing your content, so fast getting perfect results and so easy customizing design based on your own brand and preferences.”</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/andrew-dames-1.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Andrew Dames</p>
                                <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap gap-6"></div>

    <div class="wsbx-testimonials wsbx-testimonials-style-3 bg-img">
        <div class="container">
            <div class="row">
                <div class='col-md-6'>

                    <div class='testimonial-slider testimonial-slider-avant-guard testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class='testimonial-slider__quote'>
                                <p>“It’s not just a pretty face. It is fast, reliable and has no complications at all. This author is definitely a five star hero!”</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/andrew-dames.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Andrew Dames</p>
                                <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='testimonial-slider testimonial-slider-avant-guard testimonial-slider-single'>
                        <div class='testimonial-slider__slide-content'>
                            <div class='testimonial-slider__quote'>
                                <p>“Working with Jupiter WordPress Theme was like playing Tetris. It was so easy editing your content, so fast getting perfect results and so easy customizing design based on your own brand and preferences.”</p>
                            </div>
                            <img class="testimonial-slider__avatar" src="testimonials/andrew-dames-1.jpg" alt='testimonial' />
                            <div class='testimonial-slider__signiture'>
                                <p class='testimonial-slider__signiture-name'>Andrew Dames</p>
                                <p class='testimonial-slider__signiture-desc'>Good Corp.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap gap-40"></div>

    </div>