
    <div class="wrapper">

        <div class="gap-title">HELIKE BLOG</div>

        <div class="gap-73"></div>

        <div class="wsbx-blog wsbx-blog-style-1 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="image"><a href="#"><img src="blog/helike-blog-1.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br />Treetop Wild Walk in the<br />Adirondacks</a></h3>
                            <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image"><a href="#"><img src="blog/helike-blog-2.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                            <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image"><a href="#"><img src="blog/helike-blog-3.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                            <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-1 bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="image"><a href="#"><img src="blog/helike-blog-1.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br />Treetop Wild Walk in the<br />Adirondacks</a></h3>
                            <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image"><a href="#"><img src="blog/helike-blog-2.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                            <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image"><a href="#"><img src="blog/helike-blog-3.jpg" alt="helike blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                            <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-1 bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="image"><a href="#"><img src="blog/helike-blog-1.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br />Treetop Wild Walk in the<br />Adirondacks</a></h3>
                            <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image"><a href="#"><img src="blog/helike-blog-2.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                            <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image"><a href="#"><img src="blog/helike-blog-3.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                            <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-4 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="grid">
                        <div class="col-sm-6 col-md-3 grid-item">
                            <div class="image"><a href="#"><img src="blog/block-7.jpg" alt="wsbx blog" /></a></div>
                            <div class="wsbx-blog-content">
                                <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br />Treetop Wild Walk in the<br />Adirondacks</a></h3>
                                <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                                <a href="#" class="button button-small button-flat">READ MORE</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 grid-item">
                            <div class="image"><a href="#"><img src="blog/block-8.jpg" alt="wsbx blog" /></a></div>
                            <div class="wsbx-blog-content">
                                <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                                <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                                <a href="#" class="button button-small button-flat">READ MORE</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 grid-item">
                            <div class="image"><a href="#"><img src="blog/block-9.jpg" alt="wsbx blog" /></a></div>
                            <div class="wsbx-blog-content">
                                <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                                <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                                <a href="#" class="button button-small button-flat">READ MORE</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 grid-item">
                            <div class="image"><a href="#"><img src="blog/block-10.jpg" alt="wsbx blog" /></a></div>
                            <div class="wsbx-blog-content">
                                <h3 class="wsbx-blog-title"><a href="#">Take In Beverly Hills Vistas from James Coburn Scenic Home</a></h3>
                                <p>Alan Cumming on Jeff Koons, Christian Siriano, and the One Thing That’s Always on His Nightstand</p>
                                <a href="#" class="button button-small button-flat">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-4 bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="image"><a href="#"><img src="blog/block-7.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br />Treetop Wild Walk in the<br />Adirondacks</a></h3>
                            <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="image"><a href="#"><img src="blog/block-8.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                            <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="image"><a href="#"><img src="blog/block-9.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                            <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="image"><a href="#"><img src="blog/block-10.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Take In Beverly Hills Vistas from James Coburn Scenic Home</a></h3>
                            <p>Alan Cumming on Jeff Koons, Christian Siriano, and the One Thing That’s Always on His Nightstand</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-4 bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="image"><a href="#"><img src="blog/block-7.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br />Treetop Wild Walk in the<br />Adirondacks</a></h3>
                            <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="image"><a href="#"><img src="blog/block-8.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                            <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="image"><a href="#"><img src="blog/block-9.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                            <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="image"><a href="#"><img src="blog/block-10.jpg" alt="wsbx blog" /></a></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Take In Beverly Hills Vistas from James Coburn Scenic Home</a></h3>
                            <p>Alan Cumming on Jeff Koons, Christian Siriano, and the One Thing That’s Always on His Nightstand</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-2 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="image"><img src="blog/helike-blog-4.jpg" alt="wsbx blog" /></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br />Treetop Wild Walk in the<br />Adirondacks</a></h3>
                            <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="image"><img src="blog/helike-blog-5.jpg" alt="wsbx blog" /></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                            <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="image"><img src="blog/helike-blog-6.jpg" alt="wsbx blog" /></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                            <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-2 bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="image"><img src="blog/helike-blog-4.jpg" alt="wsbx blog" /></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br />Treetop Wild Walk in the<br />Adirondacks</a></h3>
                            <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="image"><img src="blog/helike-blog-5.jpg" alt="wsbx blog" /></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                            <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="image"><img src="blog/helike-blog-6.jpg" alt="wsbx blog" /></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                            <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-2 bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="image"><img src="blog/helike-blog-4.jpg" alt="wsbx blog" /></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its<br />Treetop Wild Walk in the<br />Adirondacks</a></h3>
                            <p>Architect Chip Reay's fanciful feat of engineering brings nature lovers to the forest canopy</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="image"><img src="blog/helike-blog-5.jpg" alt="wsbx blog" /></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                            <p>AD rounds up the best homes on Long Island, from Southampton to Sag Harbor</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="image"><img src="blog/helike-blog-6.jpg" alt="wsbx blog" /></div>
                        <div class="wsbx-blog-content">
                            <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                            <p>You would never guess this modern masterpiece was once a 1950s bungalow</p>
                            <a href="#" class="button button-small button-flat">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-3 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-left">
                            <div class="wsbx-blog-item wsbx-blog-item-1">
                                <div class="image"><img src="blog/helike-blog-teaser-1.jpg" alt=""></div>
                                <div class="wsbx-blog-item-content">
                                    <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its Treetop<br />Wild Walk in the Adirondacks</a></h3>
                                    <p class="author">24 May, 2016 by John Bolden</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-right">
                            <div class="wsbx-blog-item wsbx-blog-item-2">
                                <div class="image"><img src="blog/helike-blog-teaser-2.jpg" alt=""></div>
                                <div class="wsbx-blog-item-content">
                                    <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                                    <p class="author">24 May, 2016 by John Bolden</p>
                                </div>
                            </div>
                            <div class="wsbx-blog-item wsbx-blog-item-3">
                                <div class="image"><img src="blog/helike-blog-teaser-3.jpg" alt=""></div>
                                <div class="wsbx-blog-item-content">
                                    <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                                    <p class="author">24 May, 2016 by John Bolden</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-3 bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-left">
                            <div class="wsbx-blog-item wsbx-blog-item-1">
                                <div class="image"><img src="blog/helike-blog-teaser-1.jpg" alt=""></div>
                                <div class="wsbx-blog-item-content">
                                    <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its Treetop<br />Wild Walk in the Adirondacks</a></h3>
                                    <p class="author">24 May, 2016 by John Bolden</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-right">
                            <div class="wsbx-blog-item wsbx-blog-item-2">
                                <div class="image"><img src="blog/helike-blog-teaser-2.jpg" alt=""></div>
                                <div class="wsbx-blog-item-content">
                                    <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                                    <p class="author">24 May, 2016 by John Bolden</p>
                                </div>
                            </div>
                            <div class="wsbx-blog-item wsbx-blog-item-3">
                                <div class="image"><img src="blog/helike-blog-teaser-3.jpg" alt=""></div>
                                <div class="wsbx-blog-item-content">
                                    <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                                    <p class="author">24 May, 2016 by John Bolden</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-7"></div>

        <div class="wsbx-blog wsbx-blog-style-3 bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>OUR BLOG</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-left">
                            <div class="wsbx-blog-item wsbx-blog-item-1">
                                <div class="image"><img src="blog/helike-blog-teaser-1.jpg" alt=""></div>
                                <div class="wsbx-blog-item-content">
                                    <h3 class="wsbx-blog-title"><a href="#">The Wild Center Reopens Its Treetop<br />Wild Walk in the Adirondacks</a></h3>
                                    <p class="author">24 May, 2016 by John Bolden</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-right">
                            <div class="wsbx-blog-item wsbx-blog-item-2">
                                <div class="image"><img src="blog/helike-blog-teaser-2.jpg" alt=""></div>
                                <div class="wsbx-blog-item-content">
                                    <h3 class="wsbx-blog-title"><a href="#">14 High-Style Hamptons Houses</a></h3>
                                    <p class="author">24 May, 2016 by John Bolden</p>
                                </div>
                            </div>
                            <div class="wsbx-blog-item wsbx-blog-item-3">
                                <div class="image"><img src="blog/helike-blog-teaser-3.jpg" alt=""></div>
                                <div class="wsbx-blog-item-content">
                                    <h3 class="wsbx-blog-title"><a href="#">Don Cheadle Is Selling His<br />Updated Venice, California</a></h3>
                                    <p class="author">24 May, 2016 by John Bolden</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>