.app--listing{
  .btn-save {
      display: none;
  }
  .main-section:not(.editinfo){
    .input-editable{
      border-color: transparent;
      &:focus, &:hover{
        border: 1px solid $orange;
      }
      &.reverse{
        &:focus{
          border: 1px solid #fff;
        }
      }
    }
    .features-group, .rooms-group{
      .input-editable{
        pointer-events: none;
      }
    }
    .show-on-edit{
      display: none;
    }
    .wsb-select{
      pointer-events: none;
    }
    .wsb-select:not(.select-status){
      .dropdown-toggle{
        height: 20px;
        padding: 0;
        border: none;
      }
      .bs-caret{
        display: none;
      }
    }

    .profile-left-col{
      .profile-row{
        .listing-type{
          float: left;
          width: auto!important;
        }
        .listing-status{
          float: left;
          width: auto!important;
          margin-left: 10px;
          .dropdown-toggle > .filter-option{
            color: $orange;
          }
        }
        .listing-address{
          font-size: 32px;
          font-weight: 500;
          margin: 0;
          padding: 0;
        }
      }
    }

    .select-status{
      .dropdown-toggle{
        height: 32px;
        padding: 7px 15px;
        .filter-option{
          text-align: center;
        }
      }
      .dropdown-toggle .bs-caret{
        display: none;
      }
    }

    .listing-price{
      margin-top: 78px;
      .input-group-addon{
        display: none;
      }
      input{
        padding-right: 0;
        height: 42px;
      }
    }

    .key-facts{

      .listing-key-select{
        width: 100%!important;
        text-align: center;
        .dropdown-toggle .filter-option{
          text-align: center;
          color: $orange;
        }
      }
      .listing-key-value{
        height: auto;
        width: 100%;
        text-align: center;
        color: $orange;
        padding: 0;
        border: none;
      }
      .key-name{
        color: $orange;
      }
      .taxes-group{
        .listing-key-select{
          float: left;
          width: auto!important;
        }
      }
    }
  }

  .editinfo{
    .hide-on-edit{
      display: none!important;
    }
    .btn-edit{
      display: none;
    }
    .btn-save{
      display: inline-block;
    }
    .input-editable{
      padding: 6px 8px;
      color: #333;
    }
    .profile-right-col {

    }

    .select-status{
      .dropdown-toggle{
        height: 32px;
      }
    }

    .listing-date{
      margin-top: 13px;
      label{
        font-weight: normal;
      }
      .calendar-holder{
        @include calc(width, '100% - 65px');
        display: inline-block;
        height: 36px;
        position: relative;
        .form-control{
          height: 36px;
        }
        .btn-default.btn-calendar {
          right: 11px;
          pointer-events: none;
          top: 10px;
          position: absolute;
        }
        &:before {
          content: "";
          background: #cfd7de;
          position: absolute;
          right: 37px;
          top: 0px;
          bottom: 0;
          z-index: 1;
          width: 1px;
        }
      }
    }

    .listing-mls{
      padding-top: 5px;
    }
    .profile-left-col{
      padding-right: 20px;
    }

    .listing-type{
      margin-right: 10px;
      width: 220px!important;
      margin-bottom: 0!important;
    }
    .listing-status{
      width: 184px!important;
      margin-bottom: 0!important;
    }
    .listing-price{
      margin-top: 97px;
      .form-control{
        font-size: 28px;
        color: $orange
      }
      .input-group-addon{
        padding: 0;
        background: transparent;
        .wsb-select{
          width: 50px!important;
          .dropdown-toggle{
            border: none;
            background: transparent!important;
            .filter-option{
              font-size: 17px;
            }
          }
        }
      }
    }

    .listing-key-select{
      width: 56px!important
    }
    .listing-key-value{
      width: 56px!important;
      margin: auto;
      height: 36px;
    }
    .key-name{
      display: block;
      margin-top: 6px;
      color: $mako;
    }
    .taxes-group{
      .listing-key-value{
        margin: 0;
        width: 50%!important;
        float: left;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
      }
      .listing-key-select{
        width: 50%!important;
        float: left;
        .dropdown-toggle{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding-left: 3px;
          padding-right: 10px;
          .caret{
            right: 1px;
          }
        }
      }
    }
    .listing-about{
      min-height: 98px;
    }

    .features-group{
      .feature-text{
      .bootstrap-select.wsb-select .dropdown-toggle > .filter-option {
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .bootstrap-select.wsb-select.open .dropdown-menu{

          min-height: 300px!important;
        }
        .bootstrap-select.wsb-select.open .dropdown-menu.inner{
          overflow-x: hidden;
          min-height: 100%!important;
        }
        padding-top: 0;
        padding-bottom: 0;
        background-color: #fff!important;
        margin-bottom: 5px;
        position: relative;
        padding-right: 13px;
        .left-content{
          .wsb-select{
            width: 175px!important;
            margin-right: 5px;
            .dropdown-toggle{
              height: 32px;
              margin-top: 2px;
              padding-top: 5px;
              padding-left: 5px;
              padding-right: 10px;
              .caret{
                right: 6px;
              }
            }
          }
        }
        .right-content {
          .feature-value{
            max-width: 108px;
            height: 32px;
            margin-top: 2px;
            padding-right: 10px;
          }
          .wsb-select{
            width: 108px!important;
            .dropdown-toggle{
              height: 32px;
              padding-top: 5px;
              margin-top: 2px;
              .caret{
                top: 53%;
              }
              .filter-option{
                text-align: right;
              }
            }
          }
          .wsb-radio{
            display: inline-block!important;
            margin-top: 9px;
            color: $mako;
            font-weight: 500;
            margin-left: 5px;
            .fake-input{
              position: relative;
              top: -1px;
              display: inherit!important;
            }
          }
          .calendar-holder{
            width: 108px;
            display: inline-block;
            height: 32px;
            position: relative;
            .form-control{
              height: 32px;
            }
            .btn-default.btn-calendar {
              right: 11px;
              pointer-events: none;
              top: 10px;
              position: absolute;
            }
            &:before {
              content: "";
              background: #cfd7de;
              position: absolute;
              right: 37px;
              top: 0px;
              bottom: 0;
              z-index: 1;
              width: 1px;
            }
          }
        }
        .del-btn{
          position: absolute;
          right: 0;
          top: 8px;
          color: #f34e33;
          display: none;
        }
        &:hover{
          .del-btn{
            display: block;
          }
        };

        &:nth-child(2n+1){
          margin-right: 5px;
          @include calc(width, '50% - 5px');
        };
        &:nth-child(2n+2){
          margin-left: 5px;
          @include calc(width, '50% - 5px');
        };

      }
    }
    .rooms-group{
      .dd-handle{
        display: block;
      }
      .feature-text{
        position: relative;
        margin-bottom: 10px;
        padding-left: 12px;
        height: 32px;
      }
      .left-content{
        padding-left: 0;
        .wsb-select{
          @include calc(width, '100% - 12px');
          .dropdown-toggle{
            height: 32px;
          }
        }
      }
      .room-dimensions{
        width: 50px;
        height: 32px;
        float: left;
      }
      .right-content{
        width: 55%;
        float: left;
        .room-des{
          height: 32px;
        }
      }
      .center-content {
        span{
          float: left;
          line-height: 36px;
          margin: 0 3px;
        }
      }
    }
    .school-rows{
      .school-row{
        margin-bottom: 10px;
      }
      .content-right{
        @include calc(width, '100% - 220px');
        .form-control{
          height: 36px;
          font-weight: normal;
        }
      }
    }

    .agent-info-block{
      .form-control{
        height: 32px;

      }
      .agent-info-input{
        margin-bottom: 10px;
        &.has-icon{
          .form-control{
            padding-left: 25px;
          }
          i{
            top: 8px;
            left: 10px;
          }
        }
      }
    }
  }

  .profile-modal{
    .people-profile{
    .profile-left-col{
      width: 440px;
      float: left;
    }
    .profile-right-col{
      width: 200px;
      float: left;
      position: relative;
      .profile-buttons-holder{
        position: absolute;
        right: 0;
        top: 0;
        .dropdown{
          margin-left: 6px;
        }
        .btn-orange{
          &:hover, &:focus{
            background-color: #cf530d!important;
          }
        }
        .asignee-box{
          width: 36px;
          height: 36px;
          display: inline-block;
          background-position: center;
          background-size: cover;
          border-radius: 4px;
          margin-right: 6px;
          border: none;
          vertical-align: middle;
        }
      }
    }
    .listing-mls{
      padding-top: 2px;
      margin-left: 8px;
      color: $mako;
    }
    .listing-type{
      margin-top: 15px;
      margin-bottom: 7px;
    }
    .listing-status{
      margin-top: 15px;
      margin-bottom: 7px;
    }
    .listing-address{
      font-size: 32px;
      font-weight: 500;
      margin-top: 10px;
    }
    }
  }

  .select-status{
    width: 120px!important;
    height: 30px;
    color: #fff;
    margin-left: 15px;
    .dropdown-toggle{
      background-color: #ec5858;
    }
    .dropdown-toggle > .filter-option{
      color: #fff!important;
    }
    .dropdown-toggle{
      border: none!important;
      .bs-caret{
        color: #fff!important;
      }
    }
  }

  .listing-price{
    input{
      color: $orange;
      font-size: 32px;
      font-weight: 500;
      text-align: right;
    }
  }

  .listing-days-market{
    text-align: right;
    color: $mako;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
  }

  .nav-listings{
    margin-top: 30px;
    border: 0;
    li{
      width: 20%;
      float: left;
      border-radius: 0;
      border: 1px solid #d3d6d7;
      border-right: 0;
      &:last-child{
        border-right: 1px solid #d3d6d7;
      }
      &.active{
        border-bottom-color: #fff;
      }
      a{
        background-color: transparent!important;
        border-radius: 0;
        position: relative;
        border: none!important;
        .noti-badge{
          position: absolute;
          top: 12px;
          right: 10px;
          color: #fff;
          background-color: $orange;
          font-size: 10px;
          padding: 1px 5px;
          display: inline-block;
        }
      }
    }
  }

  .key-facts{
    text-align: center;
    &>li{
      display: inline-block;
      width: 13.8%;
      vertical-align: top;
      .listing-key-value{
        text-align: center;
        width: auto;
      }
    }
    .key-image{
      margin-bottom: 15px;
    }
  }

  .dd-list{
    list-style: none;
    padding: 0;
  }

  .main-section:not(.editinfo){
    .features-group{
      .dd-handle{
        display: none;
      }
      .calendar-holder{
        pointer-events: none;
        .form-control{
          padding: 0;
          border: none;
          background-color: transparent;
          text-align: right;
          font-weight: 500;
          height: auto;
        }
        .btn-calendar{
          display: none
        }
      }
    }
    .rooms-group{
      .feature-text{
        height: 34px;
        &:nth-child(odd){
          background-color: #f0f0f0;
        }
      }
      .left-content{
        width: 25%;
        float: left;
        .wsb-select{
          width: 100%;
          .dropdown-toggle{
            background-color: transparent;
            padding: 5px 10px;
            font-weight: 500;
          }
        }
      }
      .center-content{
        width: 20%;
        float: left;
        input{
          width: 35px;
          padding: 0;
          display: inline-block;
          background: transparent;
          height: 34px;
        }
      }
      .right-content{
        width: 55%;
        float: left;
        input{
          max-width: 100%;
          background-color: transparent;
          padding: 0;
          height: 34px;
        }
      }
    }
    .agent-info{
      .agent-icon{
        float: left;
      }
      .agent-info-block{
        &.left{
          @include calc(width, '100% - 70px');
          float: left;
          input{
            padding-top: 0;
            padding-bottom: 0;
            height: auto;
            &.input-agent-name{
              font-weight: 500;
              font-size: 15px;
            }
          }
        }
        &.right{
          input{
            padding-top: 0;
            padding-bottom: 0;
            height: auto;
            padding-left: 20px;
          }
        }
      }
    }
  }
  .features-group{
    max-width: none;
    margin-bottom: 10px;
    .feature-text{
      position: relative;
      width: 50%;
      float: left;    
      height: 34px;
      padding: 6px 10px;
      &:nth-child(2n+1){
        margin-right: 17px;
        @include calc(width, '50% - 17px');
      };
      &:nth-child(2n+2){
        margin-left: 17px;
        @include calc(width, '50% - 17px');
      };
      &:nth-child(4n+1), &:nth-child(4n+2){
        background-color: #f0f0f0;
      }
      &:nth-child(4n+3), &:nth-child(4n+4){
        background-color: #ffffff;
      }
      .left-content{
        float: left;
        .wsb-select{
          width: auto!important;
          background-color: transparent;
          .dropdown-toggle{
            background-color: transparent;
            font-weight: 500;
          }
        }
      }
      .right-content{
        float: right;
        .feature-value{
          background: transparent;    
          padding: 0;
          height: auto;
          font-weight: 500;
          max-width: 120px;
        }
        .wsb-select{
          width: auto!important;
          background-color: transparent;
          float: right;
          .dropdown-toggle{
            background-color: transparent;
            font-weight: 500;
          }
        }
        .wsb-radio{
          display: none;
          &.selected{
            display: block;
            text-align: right;
            color: $mako;
            font-weight: 500;
            .fake-input{
              display: none;
            }
          }
        }
      }
    }
  }

  .rooms-header{
    color: $mako;
    font-weight: 600;
    margin-bottom: 15px;
    .left-content{
      width: 25%;
      float: left;
    }
    .center-content{
      width: 20%;
      float: left;
    }
    .right-content{
      width: 55%;
      float: left;
    }
  }

  .hidden-elm{
    display: none;
  }

  .rooms-group{
    max-width: none;
    margin-bottom: 10px;
    .dd-handle{
      display: none;
    }
    .left-content{
      width: 25%;
      float: left;
      .wsb-select{
        width: 100%;
        .dropdown-toggle{
          font-weight: 500;
          padding: 5px 10px;
        }
      }
    }
    .center-content{
      width: 20%;
      float: left;
      input{
        font-weight: 500;
      }
      span{
        font-weight: 500;
      }
    }
    .right-content{
      input{
        font-weight: 500;
      }
    }
  }

  .listing-about{
    width: 100%;
    min-height: 90px;
    color: $mako;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .school-rows{
    .school-row{
      margin-bottom: 5px;
      .content-left{
        float: left;
      }
      .content-right{
        float: left;
        padding-left: 10px;
        input{
          min-width: 300px;
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
  }

  .school-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    position: relative;
    top: 0px;
    background: url(../images/listings/schools_icon.png);
    &.elementary{
      background-position: 0 0;
    }
    &.middle{
      background-position: -20px 0;
    }
    &.high{
      background-position: -40px 0;
    }
  }

  .school-icon-lg{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/listings/schools.png);
    &.elementary{
      background-position: 0 0;
    }
    &.middle{
      background-position: -50px 0;
    }
    &.high{
      background-position: -100px 0;
    }
  }

  .agent-icon{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 28px;
  }

  .agent-row{
    margin-bottom: 15px;
  }

  .agent-info-input.has-icon{
    position: relative;
    i{
      position: absolute;
      top: 3px;
      left: 0;
    }
  }

  .dd-handle {
    display: block;
    height: 32px;
    margin: 0;
    padding: 0;
    color: #333;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url(../images/drag-handler.png) no-repeat center;
    border:none;
  }

  .dd-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 11px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .content-location {
    padding: 0;
    overflow: hidden;
    .search-localtion {
      .row-localtion {
        margin-bottom: 25px;
        overflow: hidden;
      }
      .text-title {
        color: #999;
        margin-bottom: 10px;
      }
      input {
        background: #FFFFFF;
        height: 36px;
        @include border-radius(3px);
        color: #8d939a;
        width: 100%;
        padding: 0 15px;
        margin: 0;
      }
    }
    .box-directions {
      .direction-title{
        color: #FFFFFF;
        padding: 20px 0;
        margin: 0;
      }
      .dir-content{
        position: relative;
        overflow: hidden;
        padding-left: 20px;
        &:before{
          position: absolute;
          bottom: 0;
          top: 5px;
          content: "";
          width: 1px;
          left: 4px;
          background: #333435;
        }


      .row-direction{
        position: relative;
        input{
          display: none;
          &:checked + span.mask-circ{
            border: 2px solid #eb6b22;
            background: #eb6b22;
          }
        }
        .mask-circ{
          width: 10px;
          height: 10px;
          border: 2px solid #9ca6b3;
          @include border-radius(100%);
          position: absolute;
          left: -20px;
          top: 4px;
          background: #272727;
        }
        .km{
          margin: 0;
        }
        .desc{
          color: #FFFFFF;
          font-weight: 400;
        }
      }
      }
    }
    .map {
      width: 100%;
      height: 220px;
      @include border-radius(5px);
      position: relative;
      overflow: hidden;
      margin: 40px 0 20px 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .btn {
      width: 100%;
    }
    .box-transport{
      overflow: hidden;
      clear: both;
      margin: 0 -5px 15px;
      .box-transport-item{
        width: 25%;
        float: left;
        padding: 0 5px;
        input[type="radio"]{
          display: none;
          &:checked + a{
            border: 1px solid $color-orange;
            i{
              &.icon-1{
                background-position: 0 -19px;
              }
            }
          }
        }
        a{
          display: block;
          height: 36px;
          cursor: pointer;
          border: 1px solid #7a7f85;
          @include border-radius(3px);
          text-align: center;
          line-height: 1;
          font-size: 0;
          padding: 8px;
        }
        .location-icon{
          background: url(../images/calendar/spritelocation.png) no-repeat;
          display: inline-block;
          line-height: 36px;
          &.icon-1{
            width: 17px;
            height: 15px;
            background-position: 0 0;
          }
          &.icon-2{
            width: 10px;
            height: 17px;
            background-position: -74px 0;
          }
          &.icon-3{
            width: 17px;
            height: 15px;
            background-position: -140px -1px;
          }
          &.icon-4{
            width: 14px;
            height: 17px;
            background-position: right top;
          }
        }
      }
    }
  }

  .stat-panel{
    margin-bottom: 35px;
    .stat-header{
      h4{
        display: inline-block;
        margin-bottom: 0;
        color: $grey;
        font-weight: 400;
      }
    }
    .fa-info-circle{
      float: right;
    }
    .stat-body{
      &.stat-general{
        text-align: center;
        span{
          display: block;
        }
        .hightlight-number{
          font-size: 28px;
          margin-top: 28px;
          margin-bottom: 10px;
        }
      }
      &.properties-stat{
        padding-top: 10px;
        .property-item{
          margin: 8px 0;
        }
        .number{
          line-height: 30px;
          font-size: 30px;
          float: left;
          margin-right: 5px;
        }
      }
    }
  }

  .chart-container{
    width: 270px;
    height: 190px;
  }

  .pie-chart-legend{
    ul{
      margin-bottom: 0;
      li{
        margin-bottom: 3px;
        .symbol{
          width: 13px;
          height: 13px;
          display: inline-block;
          border-radius: 50%;
          float: left;
          margin-right: 17px;
          vertical-align: middle;    
          margin-top: 3px;
        }
        .legend-name{
          @include calc(width, '100% - 80px');
          float: left;
          color: #fff;
          display: inline-block;
          vertical-align: middle;
        }
        .legend-percent{
          width: 50px;
          float: left;
          display: inline-block;
          vertical-align: middle;    
          text-align: right;
        }
      }
    }
  }

  .stat-section{
    .stat-panel{
      border-bottom: 1px solid #8d939a;
      padding-bottom: 30px;
      margin-bottom: 30px;
      &:last-child{
        padding-bottom: 0;
        border-bottom: none
      }
    }
  }

  .text-white{
    color: #fff;
  }

  .stat-table{
    font-size: 13px;
    width: 100%;
    thead{
      tr{
        th{
          font-weight: 500;
        }
      }
    }
    tr{
      td{
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }

  .stat-para{
    h5{
      margin-bottom: 0;
      margin-top: 15px;
    }
  }

  .more-option-menu{
        padding: 10px 0;
    li{
      margin-bottom: 3px;
      a{
        color: $mako;
        i{
          margin-right: 5px;
          color: $manatee;
        }
      }
    }
  }

  .config-list{
    .config-item{
      position: relative;
      border-left: 1px solid $orange;
      padding: 5px 0 5px 25px;
      .btn-help{
        position: absolute;
        top: 5px;
        right: 0;
        color: $manatee;
      }
      .header-config{
        position: absolute;
        right: 0;
        top: 3px;
      }
      &:last-child{
        border-left: 0;
      }
      .item-number{
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: $orange;
        @include border-radius(50%);
        line-height: 25px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        top: 0px;
        left: -12px;
      }
      .item-title{
        color: #fff;
        font-size: 15px;
        margin-bottom: 10px;
        line-height: 20px;
      }
    }
  }

  .find-id > .input-group .input-group-addon {
      font-size: 5px;
      color: #9ea7b0;
      border-left: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
  }

  .sign-idx{
    background-color: #fff;
    height: 220px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    .pdf-icon{
      width: 32px;
      height: 32px;
      background: url(../images/insights/icon-file-pdf.png) center/cover;
      display: inline-block;
      margin-top: 80px;
    }
    span{
      color: $orange;
      text-transform: uppercase;
      font-weight: 500;
      display: block;
      margin: auto;
    }
  }

  .idx-list{
    .config-item:last-child{
      border-left: 1px solid #f16a1e!important;
    }
  }

  .idx-status{
    .btn-circle{
      float: left;
    }
    .status-info{
      padding-left: 45px;
      .status-header{
        height: 25px;
      }
      .date{
        font-size: 12px;
      }
    }
  }

  .mls-modal{
    .modal-body{
      padding-top: 10px;
    }
  }

  .mls-details {
    overflow: hidden;
    border-bottom: 1px solid #d3d6d7;
    padding-bottom: 25px;
    .mls-left-col {
      width: 220px;
      float: left;
    }
    .mls-right-col{
      width: 420px;
      float: left;
      padding-left: 30px;
      h2{
        font-size: 26px;
      }
      p{
        color: $mako;
        &.main-text{
          font-size: 16px;
        }
      }
    }
  }

  .mls-map{
    width: 100%;
    height: 310px;
  }

  .check-coverage{
    .wsb-select{
      margin-bottom: 20px;
      width: 100%!important;
    }
    .btn-search-mls{
      padding: 20px 100px;
      margin: auto;
      display: block;
      max-width: 290px;
      font-weight: 600;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }

  .config-list .form-group{
    overflow: visible!important;
  }

  .role-select{
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 20px;
    [class^="col"]{
      padding-left: 5px;
      padding-right: 5px;
    }
    .wsb-radio{
      color: #fff;
      font-size: 13px;
    }
    .wsb-radio label .fake-input{
      background: transparent;
    }
  }

  .upload-idx{
    background-color: #cfd7de;
    height: 180px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    margin-top: 15px;
    .fa{
      color: #fff;
      font-size: 45px;
      margin-top: 40px;
    }
    span{
      color: $manatee;
      display: block;
      margin: auto;
      max-width: 140px;
      margin-top: 15px;
      font-size: 14px;
    }
  }

  .app-extended .btn-submit{
    height: auto;
    padding: 10px;
  }

  .mls-search-result{
    text-align: center;
    margin-bottom: 20px;
    h3{
      margin-top: 20px;
      font-size: 30px;
    }
    p{
      max-width: 520px;
      margin: auto;
      margin-bottom: 25px;
    }
    .btn-apply{
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      margin: auto;
      display: block;
      max-width: 300px;
      line-height: 26px;
      padding: 10px;
      span {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        display: block;
      }
    }
  }

  .nav-statuses-content{
    border: 1px solid $base-border-color;
    border-top: none;
    padding: 3px;
  }

  #carousel-gallery {
      width: 100%;
      margin: 0;
  }
  #carousel-gallery .carousel-indicators {
      margin: 4px 0 0 0;
      overflow: auto;
      white-space: nowrap;
      width: 100%;
      position: relative;
      bottom: 0;
      left: 0;
      text-align: left;
      overflow: hidden;
  }
  #carousel-gallery .carousel-indicators li {
      background-color: transparent;
      border: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      float: left;
      height: auto;
      margin: 0 !important;
      width: auto;
      height: 65px;
      &.active{
        border: 2px solid $orange;
        img{
          height: 61px;
        }
      }
      img{
        display: block;
        height: 65px;
      }
  }
  #carousel-gallery .carousel-outer {
      position: relative;
  }

  #carousel-gallery .carousel-control .carousel-control-icon{
    border-width: 2px;
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    width: 100%;
  }

  .carousel-edit{
    margin: 0;
    .main-image{
      background-color: #cfd7de;
      height: 300px;
      padding-top: 100px;
      .upload-picture-icon{
        margin-bottom: 20px;
      }
      span{
        display: block;
        margin: auto;
        text-align: center;
      }
    }
    .image-gallery{
      padding: 0;
      margin: 3px 0 0 0;
      list-style: none;
      overflow: hidden;
      width: 100%;
      li{
        float: left;
        width: 70px;
        height: 65px;
        background-color: #cfd7de;
        .picture-icon{
          background-image: url(../images/team/icon_picture.png);
          background-size: 55px;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          display: block;
          background-position: center;
        }
        &.active{
          border: 2px solid $orange;
        }
      }
    }
  }

  .upload-picture-icon{
    background-image: url(../images/team/icon_picture.png);
    display: block;
    margin: auto;
    padding: 5px;
    @include border-radius(5px);
    border: 2px solid #fff;
    width: 70px;
    height: 52px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .listing-detail-map{
    width: 100%;
    height: 370px;
  }

  .doc-table{
    width: 100%;
    tr{
      td{

        padding: 8px 10px;
        &:last-child{
          width: 50px;
          text-align: right;
        }
        &.doc-file{
          width: 50%;
        }
        &.doc-size{
          text-align: right;
        }
        &.file-uploading{
          .progress-text{
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
          .progress{
            display: inline-block;
            width: 210px;
            vertical-align: middle;
            margin-bottom: 0;
            height: 10px;
          }
        }
      }
    }
    .doc-file{
      i{
        vertical-align: middle;
      }
      span{
        vertical-align: middle;
        margin-left: 10px;
      }
    }
    .del-btn{
      color: #ec5858;
    }
  }

  .btn-plus {
    width: 36px;
    height: 36px;
    position: relative;
    border: 1px solid #cfd7de;
    right: 0;
    .x1 {
      display: block;
      height: 2px;
      background: #414851;
      width: 14px;
      position: absolute;
      top: 17px;
      left: 11px;
    }
    .x2 {
      display: block;
      height: 14px;
      background: #414851;
      width: 2px;
      position: absolute;
      left: 17px;
      top: 11px;
    }
  }

  .tab-attachment{
    padding: 10px;
    .doc-list{
      overflow: hidden;
      margin-right: -15px;
      margin-left:  -15px;
      margin-bottom: 0;
      li{
        float: left;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        span{
          display: block;
        }
      }
    }
  }

  .tab-open{
    padding: 10px;
    .insight-item{
      height: auto;
      margin-bottom: 0;
      .insight-list{
        margin: 0;
      }
      &:before, &:after{
        display: none;
      }
      .insight-list-item{
        border: none!important;
      }
    }
    .open-table{
      width: 100%;
      .open-date{
        width: 160px;
      }
      .open-time{
        .divider{
          width: 15px;
          height: 1px;
          display: inline-block;
          background: #8d939a;
          vertical-align: middle;
        }
      }
      .form-group{
        margin-bottom: 0;
      }
      .calendar-holder{
        width: 140px;
        display: inline-block;
        height: 36px;
        position: relative;
        .form-control{
          height: 36px;
        }
        .btn-default.btn-calendar {
          right: 11px;
          pointer-events: none;
          top: 10px;
          position: absolute;
        }
        &:before {
          content: "";
          background: #cfd7de;
          position: absolute;
          right: 37px;
          top: 0px;
          bottom: 0;
          z-index: 1;
          width: 1px;
        }
      }
      tr{
        td{
          padding-bottom: 14px;
        }
        td:last-child {
          width: 50px;
          text-align: right;
        }
      }
      .del-btn {
        color: #ec5858;
      }
    }
  }

  .tab-video{
    .video-show{
      .video-poster{
        img{
          max-width: 100%;
        }
        position: relative;
        .play-button{
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -45px;
          margin-left: -45px;
          cursor: pointer;
          i{
            color: #fff;
            font-size: 90px;
            opacity: 0.8;
          }
        }
      }
    }
    .video-edit{
      background-color: #cfd7de;
      height: 300px;
      padding-top: 85px;
      text-align: center;
      i{
        display: block;
        margin: auto;
        color: #fff;
        font-size: 60px;
      }
      input{
        display: block;
        margin: auto;
        width: 70%;
        padding: 10px;
        margin-top: 8px;
      }
    }
  }

  .multi-section-modal{
    .main-section{
      .modal-title{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .listing-modal{
    .main-section{
      .modal-body{
        padding-top: 0;
      }
    }
  }

  @include media('<tablet'){
    .profile-modal{
      .profile-left-col{
        width: 100%;
        .profile-row{
          .listing-mls{
            float: right;
            text-align: right;
          }
          .listing-status{
            float: right!important;
          }
        }
      }
      .profile-right-col{
        width: 100%;
        .listing-price{
          margin-top: 5px;
          float: left;
          input{
            text-align: left;
            padding-left: 0;
            font-size: 30px;
            max-width: 150px;
          }
        }
        .listing-date{
          float: right;
          padding-top: 10px;
        }
      }
    } 
    .nav-listings{
      margin-top: 10px;
      li{
        a{
          padding: 12px 10px;
          .noti-badge{
            display: none;
          }
        }
      }
    }
    .key-facts > li {
      width: 30%;
      margin-bottom: 20px;
    }
    .features-group{
      .feature-text{
        width: 100%!important;
        margin: 0!important;
        background-color: #fff;
        &:nth-child(odd){
          background-color: #f0f0f0;
        }
        &:nth-child(even){
          background-color: #fff;
        }
      }
    }
    .rooms-header, .rooms-group{
      .right-content{
        display: none;
      }
      .left-content{
        width: 50%!important;
      }
      .center-content{
        width: 50%!important;
        text-align: right;
      }
    }
    .school-rows{
      .school-row {
        .content-right{
          @include calc(width, '100% - 60px');
          padding-left: 10px;
        }
      }
    }
    .agent-info {
      .agent-info-block{
        &.left{
          padding-left: 0;
        },
        &.right{
          padding-left: 65px;
          @include calc(width, '100% - 45px');
          overflow: hidden;
        }
      }
    }

    .tab-photo{
      .carousel-indicators{
        height: 65px;
      }
    }
    .listing-detail-map{
      height: 200px;
    }
    .tab-attachment{
      .doc-list{
        li{
          width: 100%;
          text-align: left;
          margin-bottom: 8px;
          .icon-file {
            display: inline-block;
            vertical-align: middle;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
          }
        }
      }
    }
  }

  .features-group{
    .dd-placeholder{
      float: left;
      @include calc(min-width, '50% - 5px');
      margin: 0;
      margin-bottom: 5px;
    }
    ::-webkit-input-placeholder {
       font-weight: normal;
    }

    :-moz-placeholder { /* Firefox 18- */
      font-weight: normal;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      font-weight: normal;
    }

    :-ms-input-placeholder {  
      font-weight: normal;
    }
  }

  .rooms-group{
    .dd-placeholder{
      min-width: 100%;
    }
  }

  .modal-content-section{
    .btn-plus{
      margin-top: 5px;
      margin-bottom: 10px;
      float: right;
    }
  }
  .drag-feature{
    li{
      min-width: 310px!important;
    }
    .feature-text{
        padding-top: 0;
        padding-bottom: 0;
        background-color: #fff!important;
        margin-bottom: 5px;
        position: relative;
        padding-right: 13px;
        .left-content{
          float: left;
          .wsb-select{
            width: 175px!important;
            margin-right: 5px;
            .dropdown-toggle{
              height: 32px;
              margin-top: 2px;
              padding-top: 5px;
              padding-left: 5px;
              padding-right: 10px;
              .caret{
                right: 6px;
              }
            }
          }
        }
        .right-content {
          float: right;
          .feature-value{
            max-width: 108px;
            height: 32px;
            margin-top: 2px;
            padding-right: 10px;
          }
          .wsb-select{
            width: 108px!important;
            .dropdown-toggle{
              height: 32px;
              padding-top: 5px;
              margin-top: 2px;
              .caret{
                top: 53%;
              }
              .filter-option{
                text-align: right;
              }
            }
          }
          .wsb-radio{
            display: inline-block!important;
            margin-top: 9px;
            color: $mako;
            font-weight: 500;
            .fake-input{
              position: relative;
              top: -1px;
              display: inherit!important;
            }
          }
          .calendar-holder{
            width: 108px;
            display: inline-block;
            height: 32px;
            position: relative;
            .form-control{
              height: 32px;
            }
            .btn-default.btn-calendar {
              right: 11px;
              pointer-events: none;
              top: 10px;
              position: absolute;
            }
            &:before {
              content: "";
              background: #cfd7de;
              position: absolute;
              right: 37px;
              top: 0px;
              bottom: 0;
              z-index: 1;
              width: 1px;
            }
          }
        }
        .del-btn{
          position: absolute;
          right: 0;
          top: 8px;
          color: #f34e33;
          display: none;
        }
        &:hover{
          .del-btn{
            display: block;
          }
        };

        &:nth-child(2n+1){
          margin-right: 5px;
          @include calc(width, '50% - 5px');
        };
        &:nth-child(2n+2){
          margin-left: 5px;
          @include calc(width, '50% - 5px');
        };

      }
  }

  .drag-room{
      .feature-text{
        height: 34px;
        &:nth-child(odd){
          background-color: #f0f0f0;
        }
      }
      .left-content{
        width: 25%;
        float: left;
        .wsb-select{
          width: 100%;
          .dropdown-toggle{
            background-color: transparent;
            padding: 5px 10px;
            font-weight: 500;
          }
        }
      }
      .center-content{
        width: 20%;
        float: left;
        input{
          width: 35px;
          padding: 0;
          display: inline-block;
          background: transparent;
          height: 34px;
        }
      }
      .right-content{
        width: 55%;
        float: left;
        input{
          max-width: 100%;
          background-color: transparent;
          padding: 0;
          height: 34px;
        }
      }
  }
  #listingModal .input-editable{
  //  height: 42px;
  }
}