
    <div class="wrapper">

        <div class="gap-title">HELIKE COUNTDOWN</div>

        <div class="gap gap-73"></div>

        <div class="wsbx-countdown wsbx-countdown-style-1 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="event-countdown js-event-countdown" data-offset="0" data-date="10/24/2016 12:00:00">
                            <h3 class="wsbx-title wsbx-title-style-1 bg-white">Days left until the big event …</h3>
                            <ul class="event-countdown__list">
                                <li>
                                    <span class="days event-countdown__timestamp">622</span>
                                    <span class="event-countdown__timeref">days</span>
                                </li>
                                <li>
                                    <span class="hours event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">hours</span>
                                </li>
                                <li>
                                    <span class="minutes event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">minutes</span>
                                </li>
                                <li>
                                    <span class="seconds event-countdown__timestamp">21</span>
                                    <span class="event-countdown__timeref">seconds</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-countdown wsbx-countdown-style-1 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="event-countdown js-event-countdown" data-offset="0" data-date="10/24/2016 12:00:00">
                            <h3 class="wsbx-title wsbx-title-style-1">Days left until the big event …</h3>
                            <ul class="event-countdown__list">
                                <li>
                                    <span class="days event-countdown__timestamp">622</span>
                                    <span class="event-countdown__timeref">days</span>
                                </li>
                                <li>
                                    <span class="hours event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">hours</span>
                                </li>
                                <li>
                                    <span class="minutes event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">minutes</span>
                                </li>
                                <li>
                                    <span class="seconds event-countdown__timestamp">21</span>
                                    <span class="event-countdown__timeref">seconds</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-countdown wsbx-countdown-style-1 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="event-countdown js-event-countdown" data-offset="0" data-date="10/24/2016 12:00:00">
                            <h3 class="wsbx-title wsbx-title-style-1">Days left until the big event …</h3>
                            <ul class="event-countdown__list">
                                <li>
                                    <span class="days event-countdown__timestamp">622</span>
                                    <span class="event-countdown__timeref">days</span>
                                </li>
                                <li>
                                    <span class="hours event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">hours</span>
                                </li>
                                <li>
                                    <span class="minutes event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">minutes</span>
                                </li>
                                <li>
                                    <span class="seconds event-countdown__timestamp">21</span>
                                    <span class="event-countdown__timeref">seconds</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-countdown wsbx-countdown-style-2 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3"></div>
                    <div class="col-sm-12 col-md-6 wsbx-countdown-content">
                        <div class="event-countdown js-event-countdown" data-offset="0" data-date="10/24/2016 12:00:00">
                            <h3 class="wsbx-title wsbx-title-style-1 bg-white">Days left until the big event …</h3>
                            <ul class="event-countdown__list">
                                <li>
                                    <span class="days event-countdown__timestamp">622</span>
                                    <span class="event-countdown__timeref">days</span>
                                </li>
                                <li>
                                    <span class="hours event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">hours</span>
                                </li>
                                <li>
                                    <span class="minutes event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">minutes</span>
                                </li>
                                <li>
                                    <span class="seconds event-countdown__timestamp">21</span>
                                    <span class="event-countdown__timeref">seconds</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-countdown wsbx-countdown-style-2 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3"></div>
                    <div class="col-sm-12 col-md-6 wsbx-countdown-content">
                        <div class="event-countdown js-event-countdown" data-offset="0" data-date="10/24/2016 12:00:00">
                            <h3 class="wsbx-title wsbx-title-style-1">Days left until the big event …</h3>
                            <ul class="event-countdown__list">
                                <li>
                                    <span class="days event-countdown__timestamp">622</span>
                                    <span class="event-countdown__timeref">days</span>
                                </li>
                                <li>
                                    <span class="hours event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">hours</span>
                                </li>
                                <li>
                                    <span class="minutes event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">minutes</span>
                                </li>
                                <li>
                                    <span class="seconds event-countdown__timestamp">21</span>
                                    <span class="event-countdown__timeref">seconds</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-countdown wsbx-countdown-style-2 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3"></div>
                    <div class="col-sm-12 col-md-6 wsbx-countdown-content">
                        <div class="event-countdown js-event-countdown" data-offset="0" data-date="10/24/2016 12:00:00">
                            <h3 class="wsbx-title wsbx-title-style-1">Days left until the big event …</h3>
                            <ul class="event-countdown__list">
                                <li>
                                    <span class="days event-countdown__timestamp">622</span>
                                    <span class="event-countdown__timeref">days</span>
                                </li>
                                <li>
                                    <span class="hours event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">hours</span>
                                </li>
                                <li>
                                    <span class="minutes event-countdown__timestamp">00</span>
                                    <span class="event-countdown__timeref">minutes</span>
                                </li>
                                <li>
                                    <span class="seconds event-countdown__timestamp">21</span>
                                    <span class="event-countdown__timeref">seconds</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>