
    <div class="wrapper">

        <div class="gap-title">HELIKE title</div>

        <div class="gap gap-73"></div>

        <div class="bg-white wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>5 Ways to Refresh Your Outdoor Living Space</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-violet wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>5 Ways to Refresh Your Outdoor Living Space</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-img wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-1"><span>5 Ways to Refresh Your Outdoor Living Space</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-white wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-2"><span>LIFESTYLE</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-violet wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-2"><span>LIFESTYLE</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-img wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-2"><span>LIFESTYLE</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-white wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-3"><span>CELEBRITY STYLE</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-violet wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-3"><span>CELEBRITY STYLE</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-img wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-3"><span>CELEBRITY STYLE</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-white wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-2"><div class="icon icon-earth"></div></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-violet wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-2"><div class="icon icon-earth"></div></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="bg-img wsbx-title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-title wsbx-title-style-2"><div class="icon icon-earth"></div></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>