
        <div class="wrapper">
            <div class="gap-title">helike offices</div>
            <div class="gap gap-40"></div>
            <div class="wsbx-office-sum">
                <div class="bg-1">
                    <div class="container wsbx-office">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">Branches</h5>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title">England</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title">JAPAN</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title">USA</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title">CANADA</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-office-sum">
                <div class="bg-2">
                    <div class="container wsbx-office">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title white">Branches</h5>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">England</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features btn-bg-2">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">JAPAN</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features btn-bg-2">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">USA</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features btn-bg-2">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">CANADA</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features btn-bg-2">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-office-sum">
                <div class="bg-3">
                    <div class="container wsbx-office">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title white">Branches</h5>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">England</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features btn-bg-2">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">JAPAN</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features btn-bg-2">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">USA</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features btn-bg-2">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">CANADA</h3>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        512-549-8585
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <a href="#" class="wsbx-office-content-a">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <p class="wsbx-office-content-p white">
                                        hmartinez@gmail.com
                                    </p>
                                </div>
                                <div class="comment-form-submit btn-features btn-bg-2">
                                    <input class="comment-form-submit-btn" type="submit" value="On THE MAP">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-office-sum">
                <div class="bg-1">
                    <div class="container wsbx-office wsbx-office-2">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title">Branches</h5>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title">HEADQUARTER</h3>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p">
                                        <b>Email: </b>email@yourdomain.com
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p">
                                        <b>Phone: </b>+99 (0) 101 0000 888
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title">HEADQUARTER</h3>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p">
                                        <b>Email: </b>email@yourdomain.com
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p">
                                        <b>Phone: </b>+99 (0) 101 0000 888
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="wsbx-office-right-img">
                                    <img src="office/helike-office-2.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-office-sum">
                <div class="bg-2">
                    <div class="container wsbx-office wsbx-office-2">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title white">Branches</h5>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">HEADQUARTER</h3>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        <b>Email: </b>email@yourdomain.com
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        <b>Phone: </b>+99 (0) 101 0000 888
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">HEADQUARTER</h3>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        <b>Email: </b>email@yourdomain.com
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        <b>Phone: </b>+99 (0) 101 0000 888
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="wsbx-office-right-img">
                                    <img src="office/helike-office-2.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-9"></div>
            <div class="wsbx-office-sum">
                <div class="bg-4">
                    <div class="container wsbx-office wsbx-office-2">
                        <h5 class="blog-comments-title blog-details-content-edit animatedcol__title features-title white">Branches</h5>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">HEADQUARTER</h3>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        <b>Email: </b>email@yourdomain.com
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        <b>Phone: </b>+99 (0) 101 0000 888
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h3 class="wsbx-office-content-title white">HEADQUARTER</h3>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        Patricia C. Amedee 4401 
                                        Waldeck Street Grapevine 
                                        Nashville, TX 76051
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        <b>Email: </b>email@yourdomain.com
                                    </p>
                                </div>
                                <div class="wsbx-office-content">
                                    <p class="wsbx-office-content-p white">
                                        <b>Phone: </b>+99 (0) 101 0000 888
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="wsbx-office-right-img">
                                    <img src="office/helike-office-2.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-40"></div>
        </div>