.app--contact{  
  .profile-modal.modal-contact{
    .people-profile{
    .show-more-toggle{
      width: 60px;
      margin: auto;
      display: block;
    }
    .profile-left-col{
      width: 124px;
      float: left;
      .people-profile-pic{
        position: relative;
        .team-icon{
          position: absolute;
          left: 50%;
          z-index: 1;
          background: #fff;
          margin-left: 10px;
          bottom: 0px;
          line-height: 32px;
          width: 35px;
          height: 35px;
        }
      }
    }
    .profile-right-col{
      width: 520px;
      float: left;
      position: relative;
      .member-type{
        margin: 10px 0;
        .people-badge{
          padding: 10px 12px 9px;
          font-weight: normal;
          font-size: 12px;
          margin-right: 8px;
        }
        .member-type-icon{
          margin: 0 8px 0 0;
        }
        .people-priority{
          vertical-align: middle;
        }
        .wsb-select{
          width: 164px!important;
          margin-right: 10px;
        }
      }
      .profile-buttons-holder{
        position: absolute;
        right: 0;
        top: 0;
        .dropdown{
          margin-left: 6px;
        }
        .btn-orange{
          &:hover, &:focus{
            background-color: #cf530d!important;
          }
        }
        .asignee-box{
          width: 36px;
          height: 36px;
          display: inline-block;
          background-position: center;
          background-size: cover;
          border-radius: 4px;
          margin-right: 6px;
          border: none;
          vertical-align: middle;
        }
      }
      .profile-name{
        color: $mako;
        font-size: 32px;
        font-weight: 500;
      }
      .profile-job{
        color: $manatee;
        font-size: 18px;
        font-weight: normal;
        display: block;
        margin-bottom: 6px;
      }
      .profile-address-input{
        position: relative;
        i{
          position: absolute;
          top: 5px;
          left: 10px;
        }
      }
      .profile-address{
        font-size: 14px;
        width: 100%;
        overflow: hidden;
        resize: none;
        min-height: 50px;
        padding-left: 30px;
      }
      .profile-contact{
        padding: 0;
        list-style: none;
        font-size: 14px;
        margin-bottom: 0;
        &>li{
          display: inline-block;
          margin-right: 6px;
          position: relative;
          &>i{
            position: absolute;
            left: 10px;
            top: 10px;
          }
          .input-editable{
            width: 140px;
            padding-left: 25px;
          }
          &>i{
            margin-right: 3px;
          }
        }
      }
      .profile-tags{
        padding: 0;
        list-style: none;
        font-size: 14px;
        margin-bottom: 20px;
        li{
          display: inline-block;
          margin-left: 10px;
          a{
            color: #8d939a;
            &>i{
              margin-right: 2px;
              color: #cfd7de;
            }
          }
        }
      }
      .profile-social{
        padding: 0;
        list-style: none;
        margin-bottom: 20px;
        li{
          display: inline-block;
          &>a{
            display: inline-block;
            width: 22px;
            height: 22px;
            text-align: center;
            line-height: 25px;
            @include border-radius(3px);
            color: #fff;
            &.facebook-link{
              background-color: #cfd7de;
            }
            &.twitter-link{
              background-color: #cfd7de;
            }
            &.rss-link{
              background-color: #cfd7de;
            }
            &.stumbleupon-link{
              background-color: #cfd7de;
            }
          }
        }
      }
    }

      .people-profile-pic{
        img{
          width: 96px;
          height: 96px;
          @include border-radius(50%);
        }
      }
      .people-rating{
        padding-left: 10px;
      }


    .wsb-radio label .fake-input{
      border-color: $base-border-color;
    }
    .modal-content-section{
      &.no-border{
        border-bottom: 0;
      }
    }

    @include media ('<tablet'){
      .people-profile .people-rating{
        padding-left: 0;
        float: none;
        text-align: center;
        i{
          float: none;
        }
      }
      .input-editable{
        pointer-events: none;
      }
      .profile-left-col{
        width: 100%;
        text-align: center;
        .people-profile-pic{
          margin-bottom: 10px;
        }
      }
      .profile-right-col{
        width: 100%;
        text-align: center;
        .profile-name{
          text-align: center;
          width: 100%!important;
        }
        .profile-address{
          text-align: center;
        }
        .profile-address-input{
          max-width: 80%;
          margin: auto;
          margin-bottom: 10px;
          .profile-address{
            text-align: left;
          }
        }
        .assign-user-dropdown{
          top: -140px;
        }
        .profile-tags{
          max-width: 80%;
          margin: 0 auto 20px;
          text-align: left;
        }
        .profile-social{
          padding-right: 15px;
        }
        .profile-contact{
          margin: 20px auto 0;
          max-width: 80%;
          li{
            display: block;
            margin-right: 0;
            margin-top: 0;
            text-align: left;
            .input-editable{
              height: 28px;
            }
          }
        }
      }
    }
    }
  }
  /*
  .profile-right-col .profile-contact{
      li{
        position: relative;
        i{
          position: absolute;
          left: 10px;
          top: 10px;
        }
        .input-editable{
          width: 164px;
          padding-left: 30px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }*/

  .multi-section-modal .modal-dialog .main-section{
    .modal-body{
      padding-top: 10px;
    }
  }

  .main-section:not(.editinfo){
    .input-editable{
      border-color: transparent;
      &:focus, &:hover{
        border: 1px solid $orange;
      }
      &.reverse{
        &:focus{
          border: 1px solid #fff;
        }
      }
    }
    .show-on-edit{
      display: none;
    }
    .profile-right-col .profile-name{
      width: 60%;
    }
  }

  .editinfo{
    .hide-on-edit{
      display: none!important;
    }
    .btn-edit{
      display: none;
    }
    .btn-save{
      display: inline-block;
    }
    .profile-right-col .profile-name{
      width: 100%;
      margin-bottom: 6px;
      max-width: 342px;
      line-height: 32px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .input-editable{
      padding: 6px 8px;
      color: #333;
    }
    .profile-right-col {
      .profile-address-input{
        margin-top: 10px;
        i{
          top: 10px;
          left: 10px;
        }
      }
      .profile-address{
        padding-left: 30px;
        max-width: 342px;
      }
    }
    .profile-right-col .profile-contact{
      li{
        position: relative;
        i{
          position: absolute;
          left: 10px;
          top: 10px;
        }
        .input-editable{
          width: 164px;
          padding-left: 30px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .member-type{
      .bootstrap-select.wsb-select .dropdown-toggle > .filter-option{
        color: #333;
      }
    }
  }
  @include media('>512px'){
    .insight-item{
      border: 1px solid #d3d5d5;
    }
    .insight-item:before {
      background: url(../images/contact/insight-left-top.png) no-repeat;
      left: -9px;
    }

    .insight-item:after {
      background: url(../images/contact/insight-left-bottom.png) no-repeat;
      left: -8px;
    }
  }

  .insight-item .border-left{
    background-color: #fff;
  }

  .timeline-item{
    position: relative;
    @include media('>512px'){
      padding-left: 0;
      .insight-milestone{
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
        font-size: 11px;
      }
      .insight-title{
        position: absolute;
        z-index: 1;
        top: 19px;
        font-size: 14px;
        left: 90px;
      }
      .timeline-badge{
        float: left;
      }
      .timeline-body{
        float: left;
        .insight-item.insight-common{
          padding: 25px;
          padding-top: 60px;
        }
      }
    }
    .fa-bullhorn, .icon-email{
      font-size: 40px;
      margin-right: 10px;
    }
  }

  .people-card{
    margin-top: 0;
    border: 0;
    box-shadow: none;
    padding: 0;
    .people-contact{
      padding-left: 69px;
    }
  }

  .insight-item .insight-list{
    margin: 0;
    .insight-list-item{
      border: 0;
    }
  }

  .insight-item.insight-competitors-layout .listing-price{
    float: none;
    text-align: left;
    margin-top: 5px;
    width: auto;
  }

  .icon-file{
    margin-right: 10px;
  }

  .insight-icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
  }

  .icon-note{
    background-image: url(../images/contact/icon-note.png);
  }

  .icon-check{
    background-image: url(../images/contact/icon-check.png);
  }

  .insight-item.insight-message-layout .insight-message .message-content p{
    color: $mako;
    font-weight: 500;
    margin-bottom: 0;
  }

  .campaign-activities{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style: none;
    li{
      .num{
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid $manatee;
        text-align: center;
        line-height: 25px;
        float: left;
        position: relative;
        background-color: #fff;
        &:after{
          content: '';
          width: 1px;
          height: 14px;
          background: #cfd7de;
          display: inline-block;
          position: absolute;
          top: -14px;
          left: 11px;
          z-index: 1;
        }

      }
      .content{
        padding-left: 40px;
        padding-top: 2px;
        &>p{
          float: left;
          @include calc(width, '100% - 100px');
          color: #333;
        }
        .time{
          float: right;
          width: 100px;
          text-align: right;
        }
      }
    }
  }

  .email-content{
    padding-left: 40px;
    margin-top: 15px!important;
    font-size: 16px;
    color: #333;
  }

  .insight-listing{
    .row{
      margin-left: -8px;
      margin-right: -8px;
      div[class^="col"]{
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  .listing-item{
    min-height: 171px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
    }
    span{
      position: relative;
      z-index: 2;
      &.people-badge{
        margin-bottom: 10px;
      }
      &.address-line{
        color: #fff;
        display: block;
      }
      &.price{
        color: #fff;
        position: absolute;
        bottom: 15px;
        left: 15px;
      }
    }
  }

  @include media('<512px'){
    .timeline-item{
      .timeline-badge{
        position: absolute;
        top: 0;
        left: 0;
      }
      .insight-title{
        padding-left: 50px;
        padding-right: 80px;
        margin-top: 20px;
        min-height: 40px;
      }
      .insight-milestone{
        position: absolute;
        right: 0;
        top: 20px;
      }
    }
    .insight-item.insight-competitors-layout .listing-price{
      padding-left: 0;
    }
    .insight-item.insight-message-layout .insight-message .message-content p{
      padding-left: 50px;
    }
    .insight-item.insight-message-layout .insight-message .message-content i{
      font-size: 40px;
    }
    .campaign-activities li .content > p{
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
    .campaign-activities li .content .time{
      float: none;
      width: 100%;
      text-align: left;
    }
    .campaign-activities li .content {
      padding-left: 40px;
      padding-top: 0px;
      margin-bottom: 8px;
    }
    .campaign-activities li .num:after{
      height: 24px;
      top: -24px;
    }
    .insight-item.insight-common{
      padding-left: 10px;
      padding-right: 10px;
    }
    .insight-item.insight-message-layout .insight-message .message-content span{
      padding-left: 50px;
      display: inherit;
    }
    .email-content{
      padding-left: 50px;
    }
  }

  .nav-statuses{
    border-bottom: none;
    &> li {
      &> a{
        color: $manatee;
        padding: 10px;
        i{
          margin-right: 3px;
        }
        &:hover{
          color: $orange;
          background: transparent;
          border-color: transparent;
        }
      }
      &.active{
        & > a, & > a:hover, & > a:focus{
          color: $orange;
          background: transparent;
          border: none;
          i{
            color: $orange;
          }
        }
        position: relative;
        &:after{
          content: '';
          width: 18px;
          height: 8px;
          background: url(../images/contact/arrow-top.png) no-repeat;
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -9px;
        }
      }
      span{
        @include media('>=768px'){
          display: inline-block!important;
        }
      }
    }
  }
  .modal-contact{
  .nav-statuses-content{
    border: 1px solid #cfd7de;
    border-radius: 5px;
    margin-top: -2px;

    .input-no-border{
      width: 100%;
      padding: 10px;
      border: none;
    }
    textarea.input-no-border{
      min-height: 68px;
      display: block;
    }
    .status-body{
      &.has-padding{
        padding: 10px;
      }
    }
    .status-footer{
      background-color: #f0f0f0;
      padding: 10px;
      border-top: 1px solid #cfd7de;
      .status-note{
        float: left;
        @include calc(width, '100% - 85px');
        p{
          margin-bottom: 0;
          padding-top: 10px;
        }
      }
      .btn-status-submit{
        float: right;
        min-width: 85px;
      }
    }
    .note-editor.note-frame .note-editing-area .note-editable{
      max-height: 50px;
    }
    .note-editor.note-frame{
      margin-bottom: 0;
    }
  }
  }
  .mb-lg{
    margin-bottom: 30px!important;
  }

  .mb-md{
    margin-bottom: 10px!important;
  }

  .mb-none{
    margin-bottom: 0px!important;
  }


  .calendar-holder .form-control {
    height: 36px;
  }

  .form-group.calendar-holder {
    .btn-default.btn-calendar {
      right: 11px;
      pointer-events: none;
    }
    .btn-calendar {
      &:before {

      }
    }
    &:before {
      content: "";
      background: #cfd7de;
      position: absolute;
      right: 37px;
      top: 0px;
      bottom: 0;
      z-index: 1;
      width: 1px;
    }
  }
  .calendar-holder{
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    .btn-calendar{ 
      border: none;
      padding: 0;
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translate(0, -50%);
    }
    .icon-calendar {
      width: 16px;
      height: 16px;
      fill: #a8afb8;
    }
    i.fa{
      color: #8d939a;
    }
  }

  .tab-task{
    .wsb-select{
      float: left;
    }
    .calendar-holder{
      float: left;
      margin-right: 10px;
      &:before{
        display: none;
      }
    }
  }

  .tab-cal{
    .calendar-holder{
      width: 160px;
    }
    .box-checkbox{
      float: right;
      padding-top: 10px;
    }
    .wsb-checkbox{
      float: left;
      margin-right: 5px;
    }
  }

  .doc-table{
    width: 100%;
    tr{
      td{

        padding: 8px 10px;
        &:last-child{
          width: 50px;
          text-align: right;
        }
        &.doc-file{
          width: 50%;
        }
        &.doc-size{
          text-align: right;
        }
        &.file-uploading{
          .progress-text{
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
          .progress{
            display: inline-block;
            width: 210px;
            vertical-align: middle;
            margin-bottom: 0;
            height: 10px;
          }
        }
      }
    }
    .doc-file{
      i{
        vertical-align: middle;
      }
      span{
        vertical-align: middle;
      }
    }
    .del-btn{
      color: #ec5858;
    }
  }

  .btn-plus {
    width: 36px;
    height: 36px;
    position: relative;
    border: 1px solid #cfd7de;
    right: 0;
    .x1 {
      display: block;
      height: 2px;
      background: #414851;
      width: 14px;
      position: absolute;
      top: 17px;
      left: 11px;
    }
    .x2 {
      display: block;
      height: 14px;
      background: #414851;
      width: 2px;
      position: absolute;
      left: 17px;
      top: 11px;
    }
  }

  .campaign-accordion{
    padding: 10px;
    margin-bottom: 0;
    @include media('>=768px'){
      .panel{
        margin-top: 0!important;
        border-radius: 0;
        border-bottom: 0;
        border-top: 0;
        .panel-collapse{
          border-bottom: 1px solid $base-border-color;
        }
        &:first-child{
          border-top: 1px solid $base-border-color;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        &:last-child{
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
    .accordion-left{
      float: left;
      @include calc(width, '100% - 100px');
    }
    .accordion-right{
      width: 100px;
      float: left;
      border-left: 1px solid #d3d6d7; 
      text-align: center;
      font-size: 14px;
    }
    .panel-heading{
      background-color: #f6f7f7;
      border-bottom: 1px solid #d3d6d7;
      padding: 0;
      &:after{
        display: none;
      }
      .accordion-left{
        padding: 10px 15px;
        .wsb-radio{
          float: left;
          margin-right: 5px;
        }
        h4{
          font-size: 14px;
          font-weight: normal;
          float: left;
          margin: 0;
          .text-orange{
            font-size: 13px;
          }
        }
        .date{
          float: right;
          font-size: 14px;
          font-weight: normal;
          display: inline-block;
        }
      }
      .accordion-right{
        padding: 10px;
        .date{
          font-size: 14px;
          font-weight: normal;    
          vertical-align: top;
        }
      }
    }
    .panel-body{
      padding: 0px;
      border-top: 0!important;
    }

    .panel-default{
      border-color: $base-border-color!important;
    }
    .campaign-actions{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        padding: 0;
        &:last-child{
          .order:after{
            display:none;
          }
        }
        .order{
          width: 20px;
          height: 20px;
          display: inline-block;
          border-radius: 50%;
          text-align: center;
          line-height: 20px;
          border: 1px solid $base-border-color;
          color: $manatee;
          font-size: 14px;
          float: left;
          margin-right: 10px;
          position: relative;
          &:after{
            content: '';
            width: 1px;
            height: 10px;
            position: absolute;
            background-color: $base-border-color;
            left: 8px;
            top: 19px;
          }
        }
        p{
          margin-bottom: 0;
        }
        .accordion-left{
          padding: 5px 13px;
        }
        .accordion-right{
          padding: 5px 10px;
        }
      }
    }
  }

  .tab-listings{
    .listing-schedule{
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
      .wsb-radio{
        float: left;
        margin-right: 10px;
        color: $mako;
        label{
          .fake-input{
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }

  .tab-task{
    .status-body-mobile{
      .wsb-select{
        width: 100%!important;
      }
      .calendar-holder{
        margin-left: 0;
        margin-bottom: 0;
        .form-control{
          height: 42px;
          margin-bottom: 0;
        }
      }
    }
  }

  .input-file{
    .upload-opener{
      span{
        font-size: 12px;
      }
    }
    .btn-upload{
      border-color: $orange;
      color: $orange;
      font-size: 16px;
      line-height: 16px;
      width: 32px;
      height: 32px;
      display: inline-block;
      padding: 0;
    }
    input[type="file"]{
      display: none;
    }
  }

  .file-list{
    margin: 10px 0;
    padding: 0;
    list-style: none;
    .file-size{
      float: right;
    }
    .file-name{
      color: $mako;
      &.updating{
        color: $manatee;
      }
    }
  }

  .tab-docs{
    .status-body-mobile{
      .box-switch-on-off{
        float: left;
        padding-top: 10px;
        .button-wrap{
          float: right;
          margin-left: 10px;
        }
      }
    }
  }

  .tab-cal{
    .status-body-mobile{
      .input-group-addon{
        color: #b2b8bf;
        min-width: 42px;
      }
      .wsb-select{
        width: 100%!important;
      } 
      .calendar-holder{
        width: 100%;
      }
      .box-switch-on-off{
        float: left;
        padding-top: 10px;
        .button-wrap{
          float: right;
          margin-left: 10px;
        }
      }
    }
  }

  .tab-drip{
    .status-body-mobile{
      .hint-text{
        width: 65%;
        margin-bottom: 0;
      }
      .campaign-accordion{
        .panel{
          margin-bottom: 10px;
        }
        .panel-heading{
          padding: 10px;
          border-bottom: 0;
          .wsb-radio {
            float: left;
            margin-right: 10px;
          }
          h4{
            float: left;
            font-size: 14px;
            font-weight: 500;
          }
          span{
            float: right;
          }
        }
      }
    }
  }

  .tab-listings{
    .listing-image{
      margin-top: 10px;
    }
    .status-body-mobile{
      .select-listing{
        span {
          font-size: 12px;
        }
      }
      .btn-listing{
        border-color: #f16a1e;
        color: #f16a1e;
        font-size: 16px;
        line-height: 16px;
        width: 32px;
        height: 32px;
        display: inline-block;
        padding: 0;
      }
      .wsb-select{
        width: 110px!important;
        .dropdown-toggle > .filter-option{
          font-size: 12px;
        }
      }
      .listing-breadcrum{
        margin: 20px 0;
      }
      .box-switch-on-off{
        float: left;
        padding-top: 10px;
        .button-wrap{
          float: right;
          margin-left: 10px;
        }
      }
    }
  }

  .listing-image{
    .image-item{
      float: left;
      display: inline-block;
      width: 70px;
      height: 50px;
      margin-right: 10px;
      border-radius: 4px;
      background-position: center;
      background-size: cover;
    }
  }

  .input-with-button{
    border: 1px solid #cfd7de;
    padding: 10px;
    &.no-border{
      border: none;
    }
    .form-control{
      border: none;
      @include calc(width, '100% - 50px');
      float: left;
      height: 42px;
      resize: none;
      min-height: 0!important;
    }
  }

  .btn-submit-mobile{
    width: 42px;
    height: 42px;
    float: right;
  }

  .status-body-mobile{
    .row{
      margin-left: -5px;
      margin-right: -5px;
      div[class^="col"]{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .btn-save{
    display: none;
  }

  .editinfo .btn-edit {
    display: none;
  }

  .member-type-edit-icon{
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    vertical-align: top;
    margin-top: 1px;
    &.clients{
      background-color: #ef6a1e;
    }
    &.colleague{
      background-color: #a0cc70;
    }
  }

  .stat-section{
    display: none;
  }

  .chart-container{
    width: 270px;
    height: 160px;
  }

  .chart-column-mark{
    width: 4px;
    height: 4px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    top: 11px;
    left: -1px;
    position: relative;
  }

  .stat-panel{
    margin-bottom: 35px;
    .stat-header{
      h4{
        display: inline-block;
        margin-bottom: 0;
        color: $grey;
        font-weight: 400;
      }
    }
    .fa-info-circle{
      float: right;
    }
    .stat-body{
      &.stat-general{
        text-align: center;
        span{
          display: block;
        }
        .hightlight-number{
          font-size: 28px;
          margin-top: 28px;
          margin-bottom: 10px;
        }
      }
      &.properties-stat{
        padding-top: 10px;
        .property-item{
          margin: 8px 0;
        }
        .number{
          line-height: 30px;
          font-size: 30px;
          float: left;
          margin-right: 5px;
        }
      }
    }
  }

  .setting-section{
    .save-user-btn{
      padding: 0;
      margin-top: 10px;
    }
  }

  .content-location {
    padding: 0;
    overflow: hidden;
    .search-localtion {
      .row-localtion {
        margin-bottom: 25px;
        overflow: hidden;
      }
      .text-title {
        color: #999;
        margin-bottom: 10px;
      }
      input {
        background: #FFFFFF;
        height: 36px;
        @include border-radius(3px);
        color: #8d939a;
        width: 100%;
        padding: 0 15px;
        margin: 0;
      }
    }
    .box-directions {
      .direction-title{
        color: #FFFFFF;
        padding: 20px 0;
        margin: 0;
      }
      .dir-content{
        position: relative;
        overflow: hidden;
        padding-left: 20px;
        &:before{
          position: absolute;
          bottom: 0;
          top: 5px;
          content: "";
          width: 1px;
          left: 4px;
          background: #333435;
        }


      .row-direction{
        position: relative;
        input{
          display: none;
          &:checked + span.mask-circ{
            border: 2px solid #eb6b22;
            background: #eb6b22;
          }
        }
        .mask-circ{
          width: 10px;
          height: 10px;
          border: 2px solid #9ca6b3;
          @include border-radius(100%);
          position: absolute;
          left: -20px;
          top: 4px;
          background: #272727;
        }
        .km{
          margin: 0;
        }
        .desc{
          color: #FFFFFF;
          font-weight: 400;
        }
      }
      }
    }
    .map {
      width: 100%;
      height: 220px;
      @include border-radius(5px);
      position: relative;
      overflow: hidden;
      margin: 40px 0 20px 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .btn {
      width: 100%;
    }
    .box-transport{
      overflow: hidden;
      clear: both;
      margin: 0 -5px 15px;
      .box-transport-item{
        width: 25%;
        float: left;
        padding: 0 5px;
        input[type="radio"]{
          display: none;
          &:checked + a{
            border: 1px solid $color-orange;
            i{
              &.icon-1{
                background-position: 0 -19px;
              }
            }
          }
        }
        a{
          display: block;
          height: 36px;
          cursor: pointer;
          border: 1px solid #7a7f85;
          @include border-radius(3px);
          text-align: center;
          line-height: 1;
          font-size: 0;
          padding: 8px;
        }
        .location-icon{
          background: url(../images/calendar/spritelocation.png) no-repeat;
          display: inline-block;
          line-height: 36px;
          &.icon-1{
            width: 17px;
            height: 15px;
            background-position: 0 0;
          }
          &.icon-2{
            width: 10px;
            height: 17px;
            background-position: -74px 0;
          }
          &.icon-3{
            width: 17px;
            height: 15px;
            background-position: -140px -1px;
          }
          &.icon-4{
            width: 14px;
            height: 17px;
            background-position: right top;
          }
        }
      }
    }
  }

  .editinfo{
    .users-block-container{
      display: inline-block;
      vertical-align: top;
    }
    .profile-des{
      padding: 6px 8px!important;
      height: auto; 
      min-height: 72px;
    }
  }

  .group-modal{
    .group-members{
      margin: 10px 0 25px 0;
      .people-avatar{
        width: 50px;
        height: 50px;
        display: inline-block;
        @include border-radius(50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 10px;
      }
      .users-block-container{
        .btn-add-guest{
          width: 50px;
          height: 50px;
          @include border-radius(50%);
          display: inline-block;
          border-radius: 50%;
          border: 1px solid $base-border-color;
          text-align: center;
          line-height: 50px;
          font-size: 32px;
        }
      }
    }
    .profile-des{
      font-size: 14px;
      width: 100%;
      overflow: hidden;
      resize: none;
      min-height: 65px;
      padding-left: 0;
    }
  }

  .ranks-list{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 10px;
    li{
      padding: 1px 6px;
      margin: 4px 0;
      overflow: hidden;
      .name{
        float: left;
        color: #fff;
        .rank{
          color: $manatee;    
          display: inline-block;
          min-width: 15px;
        }
        .mt-icon-holder{
          width: 25px;
          height: 25px;
          vertical-align: middle;
          text-align: center;
          display: inline-block;
        }
      }
      .quantity{
        float: right;
      }
      &.active{
        border: 1px solid $orange;
        @include border-radius(6px);
      }
    }
  }

  .modal-section-header{
    .modal-section-heading{
      float: left;
    }
    .wsb-select{
      width: 160px!important;
      margin-top: 20px;
    }
  }

  .add-contact-btn{
    color: #cfd7de;
    border: 1px solid #cfd7de;
    border-radius: 2px;
    padding: 0 5px;
    display: inline-block;
    font-size: 12px;
    span{
      vertical-align: middle;
    }
    i{
      position: relative!important;
      top: auto!important;
      left: auto!important;
      font-size: 12px;
      vertical-align: middle;
    }
  }

  .input-group-subject{
    &>.input-group-addon{
      background-color: #fff;
      border-left: 0;
      border-top-right-radius: 3px!important;
      border-bottom-right-radius: 3px!important;
      min-width: 40px;
      color: $manatee;
    }
    .template-list{
      margin-top: 5px;
      .template{
        overflow: hidden;
        margin: 7px 0;
        cursor: pointer;
        .col-xs-4{
          text-align: right;
        }
        .subject{
          color: $mako;
          font-weight: 500;
          font-size: 13px;
        }
        .time{
          font-size: 12px;
        }
      }
    }
    hr{
      margin: 5px 0 10px!important;
    }
    .save-template{
      font-size: 13px;
      color: $mako;
      font-weight: 500;
      margin-bottom: 10px;
      &>.btn{
        margin-left: 5px;
      }
    }
  }

  .input-group-email{
    max-width: 280px;
    .input-group-addon{
      text-align: left;
    }
  }

  .filter-contact-items{
    .filter-item{
      float: left;
      background-color: #f0f0f0;
      display: inline-block;
      margin-right: 4px;
      padding: 4px 12px;
      border-radius: 20px;
      font-size: 11px;
      .name{
        margin-right: 10px;
      }
      &.active, &:hover{
        background-color: $orange;
        color: #fff;
      }
    }
  }
  .icon-hyperlink {
    display: inline-block;
    background-image: url(../images/team/team_spritesheet.png);
    background-position: -36px -200px;
    width: 18px;
    height: 12px; 
  }
  .icon-user-plus-white{
    display: inline-block;
    background-image: url(../images/team/team_spritesheet.png);
    background-position: 0px -200px;
    width: 18px;
    height: 13px;    
    margin-right: 5px;
  }

  .dropdown-add-new-contact{
    width: 350px;
    max-width: 100vw;
    right: -15px!important;
    top: 30px;
    .contact-item{
      padding-left: 10px;
      position: relative;
      .dd-content{
        position: relative;
        padding-right: 45px;
        .del-btn{
          position: absolute;
          right: 0;
          top: 0;
          color: #f34e33;
        }
      }
      .input-group-addon{
        width: 40%!important;
        float: left;
        border: 0;
        padding: 0;
      }
      .wsb-select{
        width: 100%!important;
        .dropdown-toggle{
          background-color: #fff!important;
          padding-left: 6px;
          padding-right: 12px;
          .caret{
            right: 7px!important;
          }
        }
      }
      .form-control{
        width: 60%!important;
        float: left;
        border-left: 0;
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
        height: 36px;
        color: $mako;
        font-weight: normal;
      }
    }
    .btn-plus{
      margin-bottom: 10px;
      margin-right: -3px;
    }
    .btn-save-contact{
      margin-bottom: 10px;
      min-width: 70px;
    }
  }

  .drag-contact{
    .contact-item{
      padding-left: 10px;
      position: relative;
      .dd-content{
        position: relative;
        padding-right: 45px;
        .del-btn{
          position: absolute;
          right: 0;
          top: 0;
          color: #f34e33;
        }
      }
      .input-group-addon{
        width: 40%!important;
        float: left;
        border: 0;
        padding: 0;
      }
      .wsb-select{
        width: 100%!important;
        .dropdown-toggle{
          background-color: #fff!important;
          padding-left: 6px;
          padding-right: 12px;
          .caret{
            right: 7px!important;
          }
        }
      }
      .form-control{
        width: 60%!important;
        float: left;
        border-left: 0;
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
        height: 36px;
        color: $mako;
        font-weight: normal;
      }
    }
  }

  .dd-handle {
    display: block;
    height: 32px;
    margin: 0;
    padding: 0;
    color: #333;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url(../images/drag-handler.png) no-repeat center;
    border:none;
  }

  .dd-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 11px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .profile-address__list-row1{
    margin-top: 5px;
    margin-bottom: 15px;
    input{
      height: 36px;
      margin-bottom:0;
      border: 1px solid #ffffff;
      &:focus{
        border: 1px solid #eb6b22;
      }
    }
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-]{
      margin-bottom: 0;
      width: 100%;
      .btn.dropdown-toggle{
        height: 36px;
        border: 1px solid #ffffff;
        .bs-caret{
          display: none;
        }
      }
    }

    .profile-address__list-margin{
      margin: 5px 0;
    }
  }
  .editinfo{
    .profile-address__list-row1 {

      input {

        border:1px solid #cfd7de;
      }
      .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-]{

        .btn.dropdown-toggle {

          border: 1px solid #cfd7de;
          .bs-caret {
            display: block;
          }
        }
      }
    }
  }
}