
    <div class="wrapper">

        <div class="gap-title">HELIKE spotlight</div>

    <div class="gap gap-30"></div>

        <div class="wsbx-spotlight wsbx-spotlight-style-1 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-spotlight wsbx-spotlight-style-1 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-spotlight wsbx-spotlight-style-1 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-spotlight wsbx-spotlight-style-2 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-spotlight wsbx-spotlight-style-2 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-spotlight wsbx-spotlight-style-2 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-spotlight wsbx-spotlight-style-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 item">
                        <div class="custom-box  custom-box-effect-blur">
                            <div class="custom-box__holder">
                                <h2 class="wsbx-spotlight-title">FAST AIR FREIGHT</h2>
                                <h2 class="wsbx-spotlight-sub-title">20% CASH BACK</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>