
    <div class="wrapper">

        <div class="gap-title">HELIKE CALL TO ACTION</div>

            <div class="gap gap-44"></div>

            <div class="wsbx-calltoaction wsbx-calltoaction-style-1 bg-yellow">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h3 class="wsbx-calltoaction-title">Have Questions? <span>Contact Our Manager For Details</span></h3>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <a href="#" class="button button-large button-flat wsbx-calltoaction-button">CALL NOW!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-6"></div>

            <div class="wsbx-calltoaction wsbx-calltoaction-style-1 bg-violet">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h3 class="wsbx-calltoaction-title">Have Questions? <span>Contact Our Manager For Details</span></h3>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <a href="#" class="button button-large button-flat wsbx-calltoaction-button">CALL NOW!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-6"></div>

            <div class="wsbx-calltoaction wsbx-calltoaction-style-1 bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h3 class="wsbx-calltoaction-title">Have Questions? <span>Contact Our Manager For Details</span></h3>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <a href="#" class="button button-large button-flat wsbx-calltoaction-button">CALL NOW!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-6"></div>

            <div class="wsbx-calltoaction wsbx-calltoaction-style-2 bg-yellow">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h3 class="wsbx-calltoaction-title">Newsletter</h3>
                            <p>Sign up to our newsletter to keep up to date with all the latest news</p>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="subscribe subscribe-large">
                                <form>
                                    <a class="subscribe__btn wsbx-calltoaction-button" href="#">SEND</a>
                                    <div class="subscribe__input">
                                        <input class="subscribe__email wsbx-calltoaction-email" type="text" placeholder="Your e-mail address">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-6"></div>

            <div class="wsbx-calltoaction wsbx-calltoaction-style-2 bg-violet">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h3 class="wsbx-calltoaction-title">Newsletter</h3>
                            <p>Sign up to our newsletter to keep up to date with all the latest news</p>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="subscribe subscribe-large">
                                <form>
                                    <a class="subscribe__btn wsbx-calltoaction-button" href="#">SEND</a>
                                    <div class="subscribe__input">
                                        <input class="subscribe__email wsbx-calltoaction-email" type="text" placeholder="Your e-mail address">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-6"></div>

            <div class="wsbx-calltoaction wsbx-calltoaction-style-2 bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h3 class="wsbx-calltoaction-title">Newsletter</h3>
                            <p>Sign up to our newsletter to keep up to date with all the latest news</p>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="subscribe subscribe-large">
                                <form>
                                    <a class="subscribe__btn wsbx-calltoaction-button" href="#">SEND</a>
                                    <div class="subscribe__input">
                                        <input class="subscribe__email wsbx-calltoaction-email" type="text" placeholder="Your e-mail address">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-6"></div>

            <div class="wsbx-calltoaction wsbx-calltoaction-style-3 bg-yellow">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h3 class="wsbx-calltoaction-title">Have Questions?</h3>
                            <p>Sign up to our newsletter to keep up to date with all the latest news</p>
                            <a href="#" class="button button-large button-flat wsbx-calltoaction-button">CALL NOW!</a>
                        </div>
                        <div class="col-sm-6 col-xs-6 text-right">
                            <img src="calltoaction/helike-calltoaction.png" alt="wsbx calltoaction" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-6"></div>

            <div class="wsbx-calltoaction wsbx-calltoaction-style-3 bg-violet">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h3 class="wsbx-calltoaction-title">Have Questions?</h3>
                            <p>Sign up to our newsletter to keep up to date with all the latest news</p>
                            <a href="#" class="button button-large button-flat wsbx-calltoaction-button">CALL NOW!</a>
                        </div>
                        <div class="col-sm-6 col-xs-6 text-right">
                            <img src="calltoaction/helike-calltoaction.png" alt="wsbx calltoaction" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-6"></div>

            <div class="wsbx-calltoaction wsbx-calltoaction-style-3 bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h3 class="wsbx-calltoaction-title">Have Questions?</h3>
                            <p>Sign up to our newsletter to keep up to date with all the latest news</p>
                            <a href="#" class="button button-large button-flat wsbx-calltoaction-button">CALL NOW!</a>
                        </div>
                        <div class="col-sm-6 col-xs-6 text-right">
                            <img src="calltoaction/helike-calltoaction.png" alt="wsbx calltoaction" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-44"></div>

    </div>