
        <div class="wrapper">
            <div class="gap-title">helike table</div>
            <div class="gap gap-40"></div>
            <div class="wsbx-table">
                <div class="bg-1">
                    <div class="container bg-1 table-four-1">
                        <div id="pricing-mono-111" class="pricing-simple pricing-simple-four pricing-simple-table-four ">
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 1</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 2</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 3</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 4</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-5"></div>
            <div class="wsbx-table">
                <div class="bg-2">
                    <div class="container bg-2 table-four-1">
                        <div id="pricing-mono-111" class="pricing-simple pricing-simple-four pricing-simple-table-four ">
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 1</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four white">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 2</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four white ">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 3</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four white">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 4</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four white">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-5"></div>
            <div class="wsbx-table">
                <div class="bg-3">
                    <div class="container bg-4 table-four-1">
                        <div id="pricing-mono-111" class="pricing-simple pricing-simple-four pricing-simple-table-four ">
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 1</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four white">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 2</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four white ">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 3</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four white">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                            <div class="pricing-simple__item pricing-simple__item-table-four">
                                <h3 class="pricing-simple__title pricing-simple__title-table-four" >COLUMN 4</h3>
                                <ul class="pricing-simple__feature-list pricing-simple__feature-list-table-four white">
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Item #13434</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Description</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Subtotal: $3.00</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">Shipping:12</li>
                                    <li class="pricing-simple__feature pricing-simple__feature-table-four">$6.00</li>
                                </ul>
                                <div class="pricing-simple__action pricing-simple__action-table-four">
                                    <a href="#" class="btn-pricing-simple btn-pricing-simple-border btn-pricing-simple-border-table-four">ALL ITEMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-5"></div>
            <div class="wsbx-table">
                <div class="bg-1">
                    <div class="container">
                        <div class="wsbx-table-croll-1 bg-1">
                            <div class="table-responsive">
                                <table class="table wsbx-table-1"> 
                                    <thead class="wsbx-table-1-thead-1"> 
                                        <tr> 
                                            <th></th> 
                                            <th>OVERALL</th> 
                                            <th>MANAGERS</th> 
                                            <th>PAY</th> 
                                            <th>HOLIDAYS</th> 
                                            <th>CALL</th> 
                                            <th>ACTION</th> 
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <tr> 
                                            <th scope="row">Middle management</th> 
                                            <td>12</td> 
                                            <td>4</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                            <td>6</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Lower management</th> 
                                            <td>8</td> 
                                            <td>2</td> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>1</td> 
                                            <td>3</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Supervisors</th> 
                                            <td>10</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                            <td>7</td> 
                                            <td>9</td>  
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Staff taking calls</th> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>3</td> 
                                            <td>1</td> 
                                            <td>9</td> 
                                            <td>2</td> 
                                        </tr> 
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-5"></div>
            <div class="wsbx-table">
                <div class="bg-2">
                    <div class="container">
                        <div class="wsbx-table-croll-1 bg-2">
                            <div class="table-responsive">
                                <table class="table wsbx-table-1 white"> 
                                    <thead class="wsbx-table-1-thead-2"> 
                                        <tr> 
                                            <th></th> 
                                            <th>OVERALL</th> 
                                            <th>MANAGERS</th> 
                                            <th>PAY</th> 
                                            <th>HOLIDAYS</th> 
                                            <th>CALL</th> 
                                            <th>ACTION</th> 
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <tr> 
                                            <th scope="row">Middle management</th> 
                                            <td>12</td> 
                                            <td>4</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                            <td>6</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Lower management</th> 
                                            <td>8</td> 
                                            <td>2</td> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>1</td> 
                                            <td>3</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Supervisors</th> 
                                            <td>10</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                            <td>7</td> 
                                            <td>9</td>  
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Staff taking calls</th> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>3</td> 
                                            <td>1</td> 
                                            <td>9</td> 
                                            <td>2</td> 
                                        </tr> 
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-5"></div>
            <div class="wsbx-table">
                <div class="bg-5">
                    <div class="container">
                        <div class="wsbx-table-croll-1 bg-6">
                            <div class="table-responsive">
                                <table class="table wsbx-table-1 white"> 
                                    <thead class="wsbx-table-1-thead-2"> 
                                        <tr> 
                                            <th></th> 
                                            <th>OVERALL</th> 
                                            <th>MANAGERS</th> 
                                            <th>PAY</th> 
                                            <th>HOLIDAYS</th> 
                                            <th>CALL</th> 
                                            <th>ACTION</th> 
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <tr> 
                                            <th scope="row">Middle management</th> 
                                            <td>12</td> 
                                            <td>4</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                            <td>6</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Lower management</th> 
                                            <td>8</td> 
                                            <td>2</td> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>1</td> 
                                            <td>3</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Supervisors</th> 
                                            <td>10</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                            <td>7</td> 
                                            <td>9</td>  
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Staff taking calls</th> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>3</td> 
                                            <td>1</td> 
                                            <td>9</td> 
                                            <td>2</td> 
                                        </tr> 
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-5"></div>
            <div class="wsbx-table">
                <div class="bg-1">
                    <div class="container">
                        <div class="wsbx-table-croll-2 bg-1">
                            <div class="table-responsive">
                                <table class="table wsbx-table-1"> 
                                    <thead class=""> 
                                        <tr> 
                                            <th></th> 
                                            <th>OVERALL</th> 
                                            <th>MANAGERS</th> 
                                            <th>PAY</th> 
                                            <th>CALL</th> 
                                            <th>ACTION</th> 
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <tr> 
                                            <th scope="row">Middle management</th> 
                                            <td>12</td> 
                                            <td>4</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Lower management</th> 
                                            <td>8</td> 
                                            <td>2</td> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>1</td>  
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Supervisors</th> 
                                            <td>10</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                            <td>7</td>  
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Staff taking calls</th> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>3</td> 
                                            <td>1</td> 
                                            <td>9</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Call back</th> 
                                            <td>7</td> 
                                            <td>9</td> 
                                            <td>5</td> 
                                            <td>7</td> 
                                            <td>7</td> 
                                        </tr> 
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-6"></div>
            <div class="wsbx-table">
                <div class="bg-2">
                    <div class="container">
                        <div class="wsbx-table-croll-2 bg-2">
                            <div class="table-responsive">
                                <table class="table wsbx-table-1"> 
                                    <thead class=""> 
                                        <tr> 
                                            <th></th> 
                                            <th>OVERALL</th> 
                                            <th>MANAGERS</th> 
                                            <th>PAY</th> 
                                            <th>CALL</th> 
                                            <th>ACTION</th> 
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <tr> 
                                            <th scope="row">Middle management</th> 
                                            <td>12</td> 
                                            <td>4</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Lower management</th> 
                                            <td>8</td> 
                                            <td>2</td> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>1</td>  
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Supervisors</th> 
                                            <td>10</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                            <td>7</td>  
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Staff taking calls</th> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>3</td> 
                                            <td>1</td> 
                                            <td>9</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Call back</th> 
                                            <td>7</td> 
                                            <td>9</td> 
                                            <td>5</td> 
                                            <td>7</td> 
                                            <td>7</td> 
                                        </tr> 
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-6"></div>
            <div class="wsbx-table">
                <div class="bg-7">
                    <div class="container">
                        <div class="wsbx-table-croll-2 bg-8">
                            <div class="table-responsive">
                                <table class="table wsbx-table-1"> 
                                    <thead class=""> 
                                        <tr> 
                                            <th></th> 
                                            <th>OVERALL</th> 
                                            <th>MANAGERS</th> 
                                            <th>PAY</th> 
                                            <th>CALL</th> 
                                            <th>ACTION</th> 
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <tr> 
                                            <th scope="row">Middle management</th> 
                                            <td>12</td> 
                                            <td>4</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Lower management</th> 
                                            <td>8</td> 
                                            <td>2</td> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>1</td>  
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Supervisors</th> 
                                            <td>10</td> 
                                            <td>1</td> 
                                            <td>5</td> 
                                            <td>2</td> 
                                            <td>7</td>  
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Staff taking calls</th> 
                                            <td>3</td> 
                                            <td>7</td> 
                                            <td>3</td> 
                                            <td>1</td> 
                                            <td>9</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">Call back</th> 
                                            <td>7</td> 
                                            <td>9</td> 
                                            <td>5</td> 
                                            <td>7</td> 
                                            <td>7</td> 
                                        </tr> 
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-6"></div>
        </div>