/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$mt-appraisers-active-name: 'mt-appraisers-active';
$mt-appraisers-active-x: 63px;
$mt-appraisers-active-y: 0px;
$mt-appraisers-active-offset-x: -63px;
$mt-appraisers-active-offset-y: 0px;
$mt-appraisers-active-width: 20px;
$mt-appraisers-active-height: 20px;
$mt-appraisers-active-total-width: 170px;
$mt-appraisers-active-total-height: 154px;
$mt-appraisers-active-image: '../images/team/member_types_spritesheet.png';
$mt-appraisers-active: (63px, 0px, -63px, 0px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-appraisers-active', );
$mt-appraisers-name: 'mt-appraisers';
$mt-appraisers-x: 63px;
$mt-appraisers-y: 20px;
$mt-appraisers-offset-x: -63px;
$mt-appraisers-offset-y: -20px;
$mt-appraisers-width: 20px;
$mt-appraisers-height: 20px;
$mt-appraisers-total-width: 170px;
$mt-appraisers-total-height: 154px;
$mt-appraisers-image: '../images/team/member_types_spritesheet.png';
$mt-appraisers: (63px, 20px, -63px, -20px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-appraisers', );
$mt-builder-active-name: 'mt-builder-active';
$mt-builder-active-x: 84px;
$mt-builder-active-y: 97px;
$mt-builder-active-offset-x: -84px;
$mt-builder-active-offset-y: -97px;
$mt-builder-active-width: 20px;
$mt-builder-active-height: 15px;
$mt-builder-active-total-width: 170px;
$mt-builder-active-total-height: 154px;
$mt-builder-active-image: '../images/team/member_types_spritesheet.png';
$mt-builder-active: (84px, 97px, -84px, -97px, 20px, 15px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-builder-active', );
$mt-builder-name: 'mt-builder';
$mt-builder-x: 34px;
$mt-builder-y: 116px;
$mt-builder-offset-x: -34px;
$mt-builder-offset-y: -116px;
$mt-builder-width: 20px;
$mt-builder-height: 15px;
$mt-builder-total-width: 170px;
$mt-builder-total-height: 154px;
$mt-builder-image: '../images/team/member_types_spritesheet.png';
$mt-builder: (34px, 116px, -34px, -116px, 20px, 15px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-builder', );
$mt-carpentry-active-name: 'mt-carpentry-active';
$mt-carpentry-active-x: 103px;
$mt-carpentry-active-y: 19px;
$mt-carpentry-active-offset-x: -103px;
$mt-carpentry-active-offset-y: -19px;
$mt-carpentry-active-width: 20px;
$mt-carpentry-active-height: 19px;
$mt-carpentry-active-total-width: 170px;
$mt-carpentry-active-total-height: 154px;
$mt-carpentry-active-image: '../images/team/member_types_spritesheet.png';
$mt-carpentry-active: (103px, 19px, -103px, -19px, 20px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-carpentry-active', );
$mt-carpentry-name: 'mt-carpentry';
$mt-carpentry-x: 103px;
$mt-carpentry-y: 76px;
$mt-carpentry-offset-x: -103px;
$mt-carpentry-offset-y: -76px;
$mt-carpentry-width: 20px;
$mt-carpentry-height: 19px;
$mt-carpentry-total-width: 170px;
$mt-carpentry-total-height: 154px;
$mt-carpentry-image: '../images/team/member_types_spritesheet.png';
$mt-carpentry: (103px, 76px, -103px, -76px, 20px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-carpentry', );
$mt-cleaning-active-name: 'mt-cleaning-active';
$mt-cleaning-active-x: 0px;
$mt-cleaning-active-y: 97px;
$mt-cleaning-active-offset-x: 0px;
$mt-cleaning-active-offset-y: -97px;
$mt-cleaning-active-width: 20px;
$mt-cleaning-active-height: 19px;
$mt-cleaning-active-total-width: 170px;
$mt-cleaning-active-total-height: 154px;
$mt-cleaning-active-image: '../images/team/member_types_spritesheet.png';
$mt-cleaning-active: (0px, 97px, 0px, -97px, 20px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-cleaning-active', );
$mt-cleaning-name: 'mt-cleaning';
$mt-cleaning-x: 103px;
$mt-cleaning-y: 0px;
$mt-cleaning-offset-x: -103px;
$mt-cleaning-offset-y: 0px;
$mt-cleaning-width: 20px;
$mt-cleaning-height: 19px;
$mt-cleaning-total-width: 170px;
$mt-cleaning-total-height: 154px;
$mt-cleaning-image: '../images/team/member_types_spritesheet.png';
$mt-cleaning: (103px, 0px, -103px, 0px, 20px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-cleaning', );
$mt-concrete-active-name: 'mt-concrete-active';
$mt-concrete-active-x: 25px;
$mt-concrete-active-y: 41px;
$mt-concrete-active-offset-x: -25px;
$mt-concrete-active-offset-y: -41px;
$mt-concrete-active-width: 25px;
$mt-concrete-active-height: 16px;
$mt-concrete-active-total-width: 170px;
$mt-concrete-active-total-height: 154px;
$mt-concrete-active-image: '../images/team/member_types_spritesheet.png';
$mt-concrete-active: (25px, 41px, -25px, -41px, 25px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-concrete-active', );
$mt-concrete-name: 'mt-concrete';
$mt-concrete-x: 0px;
$mt-concrete-y: 41px;
$mt-concrete-offset-x: 0px;
$mt-concrete-offset-y: -41px;
$mt-concrete-width: 25px;
$mt-concrete-height: 16px;
$mt-concrete-total-width: 170px;
$mt-concrete-total-height: 154px;
$mt-concrete-image: '../images/team/member_types_spritesheet.png';
$mt-concrete: (0px, 41px, 0px, -41px, 25px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-concrete', );
$mt-contractor-active-name: 'mt-contractor-active';
$mt-contractor-active-x: 142px;
$mt-contractor-active-y: 20px;
$mt-contractor-active-offset-x: -142px;
$mt-contractor-active-offset-y: -20px;
$mt-contractor-active-width: 16px;
$mt-contractor-active-height: 20px;
$mt-contractor-active-total-width: 170px;
$mt-contractor-active-total-height: 154px;
$mt-contractor-active-image: '../images/team/member_types_spritesheet.png';
$mt-contractor-active: (142px, 20px, -142px, -20px, 16px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-contractor-active', );
$mt-contractor-name: 'mt-contractor';
$mt-contractor-x: 142px;
$mt-contractor-y: 40px;
$mt-contractor-offset-x: -142px;
$mt-contractor-offset-y: -40px;
$mt-contractor-width: 16px;
$mt-contractor-height: 20px;
$mt-contractor-total-width: 170px;
$mt-contractor-total-height: 154px;
$mt-contractor-image: '../images/team/member_types_spritesheet.png';
$mt-contractor: (142px, 40px, -142px, -40px, 16px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-contractor', );
$mt-decks-active-name: 'mt-decks-active';
$mt-decks-active-x: 103px;
$mt-decks-active-y: 57px;
$mt-decks-active-offset-x: -103px;
$mt-decks-active-offset-y: -57px;
$mt-decks-active-width: 20px;
$mt-decks-active-height: 19px;
$mt-decks-active-total-width: 170px;
$mt-decks-active-total-height: 154px;
$mt-decks-active-image: '../images/team/member_types_spritesheet.png';
$mt-decks-active: (103px, 57px, -103px, -57px, 20px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-decks-active', );
$mt-decks-name: 'mt-decks';
$mt-decks-x: 103px;
$mt-decks-y: 38px;
$mt-decks-offset-x: -103px;
$mt-decks-offset-y: -38px;
$mt-decks-width: 20px;
$mt-decks-height: 19px;
$mt-decks-total-width: 170px;
$mt-decks-total-height: 154px;
$mt-decks-image: '../images/team/member_types_spritesheet.png';
$mt-decks: (103px, 38px, -103px, -38px, 20px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-decks', );
$mt-doors-active-name: 'mt-doors-active';
$mt-doors-active-x: 158px;
$mt-doors-active-y: 0px;
$mt-doors-active-offset-x: -158px;
$mt-doors-active-offset-y: 0px;
$mt-doors-active-width: 12px;
$mt-doors-active-height: 20px;
$mt-doors-active-total-width: 170px;
$mt-doors-active-total-height: 154px;
$mt-doors-active-image: '../images/team/member_types_spritesheet.png';
$mt-doors-active: (158px, 0px, -158px, 0px, 12px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-doors-active', );
$mt-doors-name: 'mt-doors';
$mt-doors-x: 158px;
$mt-doors-y: 20px;
$mt-doors-offset-x: -158px;
$mt-doors-offset-y: -20px;
$mt-doors-width: 12px;
$mt-doors-height: 20px;
$mt-doors-total-width: 170px;
$mt-doors-total-height: 154px;
$mt-doors-image: '../images/team/member_types_spritesheet.png';
$mt-doors: (158px, 20px, -158px, -20px, 12px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-doors', );
$mt-electrical-active-name: 'mt-electrical-active';
$mt-electrical-active-x: 158px;
$mt-electrical-active-y: 60px;
$mt-electrical-active-offset-x: -158px;
$mt-electrical-active-offset-y: -60px;
$mt-electrical-active-width: 11px;
$mt-electrical-active-height: 20px;
$mt-electrical-active-total-width: 170px;
$mt-electrical-active-total-height: 154px;
$mt-electrical-active-image: '../images/team/member_types_spritesheet.png';
$mt-electrical-active: (158px, 60px, -158px, -60px, 11px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-electrical-active', );
$mt-electrical-name: 'mt-electrical';
$mt-electrical-x: 158px;
$mt-electrical-y: 40px;
$mt-electrical-offset-x: -158px;
$mt-electrical-offset-y: -40px;
$mt-electrical-width: 11px;
$mt-electrical-height: 20px;
$mt-electrical-total-width: 170px;
$mt-electrical-total-height: 154px;
$mt-electrical-image: '../images/team/member_types_spritesheet.png';
$mt-electrical: (158px, 40px, -158px, -40px, 11px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-electrical', );
$mt-fencing-active-name: 'mt-fencing-active';
$mt-fencing-active-x: 123px;
$mt-fencing-active-y: 96px;
$mt-fencing-active-offset-x: -123px;
$mt-fencing-active-offset-y: -96px;
$mt-fencing-active-width: 18px;
$mt-fencing-active-height: 18px;
$mt-fencing-active-total-width: 170px;
$mt-fencing-active-total-height: 154px;
$mt-fencing-active-image: '../images/team/member_types_spritesheet.png';
$mt-fencing-active: (123px, 96px, -123px, -96px, 18px, 18px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-fencing-active', );
$mt-fencing-name: 'mt-fencing';
$mt-fencing-x: 123px;
$mt-fencing-y: 78px;
$mt-fencing-offset-x: -123px;
$mt-fencing-offset-y: -78px;
$mt-fencing-width: 18px;
$mt-fencing-height: 18px;
$mt-fencing-total-width: 170px;
$mt-fencing-total-height: 154px;
$mt-fencing-image: '../images/team/member_types_spritesheet.png';
$mt-fencing: (123px, 78px, -123px, -78px, 18px, 18px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-fencing', );
$mt-fireplaces-active-name: 'mt-fireplaces-active';
$mt-fireplaces-active-x: 84px;
$mt-fireplaces-active-y: 116px;
$mt-fireplaces-active-offset-x: -84px;
$mt-fireplaces-active-offset-y: -116px;
$mt-fireplaces-active-width: 15px;
$mt-fireplaces-active-height: 14px;
$mt-fireplaces-active-total-width: 170px;
$mt-fireplaces-active-total-height: 154px;
$mt-fireplaces-active-image: '../images/team/member_types_spritesheet.png';
$mt-fireplaces-active: (84px, 116px, -84px, -116px, 15px, 14px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-fireplaces-active', );
$mt-fireplaces-name: 'mt-fireplaces';
$mt-fireplaces-x: 104px;
$mt-fireplaces-y: 97px;
$mt-fireplaces-offset-x: -104px;
$mt-fireplaces-offset-y: -97px;
$mt-fireplaces-width: 15px;
$mt-fireplaces-height: 14px;
$mt-fireplaces-total-width: 170px;
$mt-fireplaces-total-height: 154px;
$mt-fireplaces-image: '../images/team/member_types_spritesheet.png';
$mt-fireplaces: (104px, 97px, -104px, -97px, 15px, 14px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-fireplaces', );
$mt-flooring-active-name: 'mt-flooring-active';
$mt-flooring-active-x: 28px;
$mt-flooring-active-y: 135px;
$mt-flooring-active-offset-x: -28px;
$mt-flooring-active-offset-y: -135px;
$mt-flooring-active-width: 15px;
$mt-flooring-active-height: 16px;
$mt-flooring-active-total-width: 170px;
$mt-flooring-active-total-height: 154px;
$mt-flooring-active-image: '../images/team/member_types_spritesheet.png';
$mt-flooring-active: (28px, 135px, -28px, -135px, 15px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-flooring-active', );
$mt-flooring-name: 'mt-flooring';
$mt-flooring-x: 13px;
$mt-flooring-y: 135px;
$mt-flooring-offset-x: -13px;
$mt-flooring-offset-y: -135px;
$mt-flooring-width: 15px;
$mt-flooring-height: 16px;
$mt-flooring-total-width: 170px;
$mt-flooring-total-height: 154px;
$mt-flooring-image: '../images/team/member_types_spritesheet.png';
$mt-flooring: (13px, 135px, -13px, -135px, 15px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-flooring', );
$mt-funiture-active-name: 'mt-funiture-active';
$mt-funiture-active-x: 88px;
$mt-funiture-active-y: 77px;
$mt-funiture-active-offset-x: -88px;
$mt-funiture-active-offset-y: -77px;
$mt-funiture-active-width: 15px;
$mt-funiture-active-height: 16px;
$mt-funiture-active-total-width: 170px;
$mt-funiture-active-total-height: 154px;
$mt-funiture-active-image: '../images/team/member_types_spritesheet.png';
$mt-funiture-active: (88px, 77px, -88px, -77px, 15px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-funiture-active', );
$mt-funituring-name: 'mt-funituring';
$mt-funituring-x: 43px;
$mt-funituring-y: 135px;
$mt-funituring-offset-x: -43px;
$mt-funituring-offset-y: -135px;
$mt-funituring-width: 15px;
$mt-funituring-height: 16px;
$mt-funituring-total-width: 170px;
$mt-funituring-total-height: 154px;
$mt-funituring-image: '../images/team/member_types_spritesheet.png';
$mt-funituring: (43px, 135px, -43px, -135px, 15px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-funituring', );
$mt-handymen-active-name: 'mt-handymen-active';
$mt-handymen-active-x: 69px;
$mt-handymen-active-y: 116px;
$mt-handymen-active-offset-x: -69px;
$mt-handymen-active-offset-y: -116px;
$mt-handymen-active-width: 15px;
$mt-handymen-active-height: 14px;
$mt-handymen-active-total-width: 170px;
$mt-handymen-active-total-height: 154px;
$mt-handymen-active-image: '../images/team/member_types_spritesheet.png';
$mt-handymen-active: (69px, 116px, -69px, -116px, 15px, 14px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-handymen-active', );
$mt-handymen-name: 'mt-handymen';
$mt-handymen-x: 54px;
$mt-handymen-y: 116px;
$mt-handymen-offset-x: -54px;
$mt-handymen-offset-y: -116px;
$mt-handymen-width: 15px;
$mt-handymen-height: 14px;
$mt-handymen-total-width: 170px;
$mt-handymen-total-height: 154px;
$mt-handymen-image: '../images/team/member_types_spritesheet.png';
$mt-handymen: (54px, 116px, -54px, -116px, 15px, 14px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-handymen', );
$mt-heating-active-name: 'mt-heating-active';
$mt-heating-active-x: 83px;
$mt-heating-active-y: 40px;
$mt-heating-active-offset-x: -83px;
$mt-heating-active-offset-y: -40px;
$mt-heating-active-width: 20px;
$mt-heating-active-height: 20px;
$mt-heating-active-total-width: 170px;
$mt-heating-active-total-height: 154px;
$mt-heating-active-image: '../images/team/member_types_spritesheet.png';
$mt-heating-active: (83px, 40px, -83px, -40px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-heating-active', );
$mt-heating-name: 'mt-heating';
$mt-heating-x: 0px;
$mt-heating-y: 57px;
$mt-heating-offset-x: 0px;
$mt-heating-offset-y: -57px;
$mt-heating-width: 20px;
$mt-heating-height: 20px;
$mt-heating-total-width: 170px;
$mt-heating-total-height: 154px;
$mt-heating-image: '../images/team/member_types_spritesheet.png';
$mt-heating: (0px, 57px, 0px, -57px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-heating', );
$mt-inspector-active-name: 'mt-inspector-active';
$mt-inspector-active-x: 17px;
$mt-inspector-active-y: 116px;
$mt-inspector-active-offset-x: -17px;
$mt-inspector-active-offset-y: -116px;
$mt-inspector-active-width: 17px;
$mt-inspector-active-height: 19px;
$mt-inspector-active-total-width: 170px;
$mt-inspector-active-total-height: 154px;
$mt-inspector-active-image: '../images/team/member_types_spritesheet.png';
$mt-inspector-active: (17px, 116px, -17px, -116px, 17px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-inspector-active', );
$mt-inspector-name: 'mt-inspector';
$mt-inspector-x: 0px;
$mt-inspector-y: 116px;
$mt-inspector-offset-x: 0px;
$mt-inspector-offset-y: -116px;
$mt-inspector-width: 17px;
$mt-inspector-height: 19px;
$mt-inspector-total-width: 170px;
$mt-inspector-total-height: 154px;
$mt-inspector-image: '../images/team/member_types_spritesheet.png';
$mt-inspector: (0px, 116px, 0px, -116px, 17px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-inspector', );
$mt-interior-active-name: 'mt-interior-active';
$mt-interior-active-x: 0px;
$mt-interior-active-y: 135px;
$mt-interior-active-offset-x: 0px;
$mt-interior-active-offset-y: -135px;
$mt-interior-active-width: 13px;
$mt-interior-active-height: 19px;
$mt-interior-active-total-width: 170px;
$mt-interior-active-total-height: 154px;
$mt-interior-active-image: '../images/team/member_types_spritesheet.png';
$mt-interior-active: (0px, 135px, 0px, -135px, 13px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-interior-active', );
$mt-interior-name: 'mt-interior';
$mt-interior-x: 142px;
$mt-interior-y: 116px;
$mt-interior-offset-x: -142px;
$mt-interior-offset-y: -116px;
$mt-interior-width: 13px;
$mt-interior-height: 19px;
$mt-interior-total-width: 170px;
$mt-interior-total-height: 154px;
$mt-interior-image: '../images/team/member_types_spritesheet.png';
$mt-interior: (142px, 116px, -142px, -116px, 13px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-interior', );
$mt-janitorial-active-name: 'mt-janitorial-active';
$mt-janitorial-active-x: 123px;
$mt-janitorial-active-y: 20px;
$mt-janitorial-active-offset-x: -123px;
$mt-janitorial-active-offset-y: -20px;
$mt-janitorial-active-width: 19px;
$mt-janitorial-active-height: 20px;
$mt-janitorial-active-total-width: 170px;
$mt-janitorial-active-total-height: 154px;
$mt-janitorial-active-image: '../images/team/member_types_spritesheet.png';
$mt-janitorial-active: (123px, 20px, -123px, -20px, 19px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-janitorial-active', );
$mt-janitorial-name: 'mt-janitorial';
$mt-janitorial-x: 123px;
$mt-janitorial-y: 0px;
$mt-janitorial-offset-x: -123px;
$mt-janitorial-offset-y: 0px;
$mt-janitorial-width: 19px;
$mt-janitorial-height: 20px;
$mt-janitorial-total-width: 170px;
$mt-janitorial-total-height: 154px;
$mt-janitorial-image: '../images/team/member_types_spritesheet.png';
$mt-janitorial: (123px, 0px, -123px, 0px, 19px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-janitorial', );
$mt-landscaping-active-name: 'mt-landscaping-active';
$mt-landscaping-active-x: 43px;
$mt-landscaping-active-y: 77px;
$mt-landscaping-active-offset-x: -43px;
$mt-landscaping-active-offset-y: -77px;
$mt-landscaping-active-width: 23px;
$mt-landscaping-active-height: 17px;
$mt-landscaping-active-total-width: 170px;
$mt-landscaping-active-total-height: 154px;
$mt-landscaping-active-image: '../images/team/member_types_spritesheet.png';
$mt-landscaping-active: (43px, 77px, -43px, -77px, 23px, 17px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-landscaping-active', );
$mt-landscaping-name: 'mt-landscaping';
$mt-landscaping-x: 20px;
$mt-landscaping-y: 77px;
$mt-landscaping-offset-x: -20px;
$mt-landscaping-offset-y: -77px;
$mt-landscaping-width: 23px;
$mt-landscaping-height: 17px;
$mt-landscaping-total-width: 170px;
$mt-landscaping-total-height: 154px;
$mt-landscaping-image: '../images/team/member_types_spritesheet.png';
$mt-landscaping: (20px, 77px, -20px, -77px, 23px, 17px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-landscaping', );
$mt-lawn-active-name: 'mt-lawn-active';
$mt-lawn-active-x: 20px;
$mt-lawn-active-y: 97px;
$mt-lawn-active-offset-x: -20px;
$mt-lawn-active-offset-y: -97px;
$mt-lawn-active-width: 22px;
$mt-lawn-active-height: 16px;
$mt-lawn-active-total-width: 170px;
$mt-lawn-active-total-height: 154px;
$mt-lawn-active-image: '../images/team/member_types_spritesheet.png';
$mt-lawn-active: (20px, 97px, -20px, -97px, 22px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-lawn-active', );
$mt-lawn-name: 'mt-lawn';
$mt-lawn-x: 66px;
$mt-lawn-y: 77px;
$mt-lawn-offset-x: -66px;
$mt-lawn-offset-y: -77px;
$mt-lawn-width: 22px;
$mt-lawn-height: 16px;
$mt-lawn-total-width: 170px;
$mt-lawn-total-height: 154px;
$mt-lawn-image: '../images/team/member_types_spritesheet.png';
$mt-lawn: (66px, 77px, -66px, -77px, 22px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-lawn', );
$mt-locksmith-active-name: 'mt-locksmith-active';
$mt-locksmith-active-x: 142px;
$mt-locksmith-active-y: 0px;
$mt-locksmith-active-offset-x: -142px;
$mt-locksmith-active-offset-y: 0px;
$mt-locksmith-active-width: 16px;
$mt-locksmith-active-height: 20px;
$mt-locksmith-active-total-width: 170px;
$mt-locksmith-active-total-height: 154px;
$mt-locksmith-active-image: '../images/team/member_types_spritesheet.png';
$mt-locksmith-active: (142px, 0px, -142px, 0px, 16px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-locksmith-active', );
$mt-locksmith-name: 'mt-locksmith';
$mt-locksmith-x: 142px;
$mt-locksmith-y: 60px;
$mt-locksmith-offset-x: -142px;
$mt-locksmith-offset-y: -60px;
$mt-locksmith-width: 16px;
$mt-locksmith-height: 20px;
$mt-locksmith-total-width: 170px;
$mt-locksmith-total-height: 154px;
$mt-locksmith-image: '../images/team/member_types_spritesheet.png';
$mt-locksmith: (142px, 60px, -142px, -60px, 16px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-locksmith', );
$mt-mortgage-active-name: 'mt-mortgage-active';
$mt-mortgage-active-x: 21px;
$mt-mortgage-active-y: 21px;
$mt-mortgage-active-offset-x: -21px;
$mt-mortgage-active-offset-y: -21px;
$mt-mortgage-active-width: 21px;
$mt-mortgage-active-height: 20px;
$mt-mortgage-active-total-width: 170px;
$mt-mortgage-active-total-height: 154px;
$mt-mortgage-active-image: '../images/team/member_types_spritesheet.png';
$mt-mortgage-active: (21px, 21px, -21px, -21px, 21px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-mortgage-active', );
$mt-mortgage-name: 'mt-mortgage';
$mt-mortgage-x: 0px;
$mt-mortgage-y: 21px;
$mt-mortgage-offset-x: 0px;
$mt-mortgage-offset-y: -21px;
$mt-mortgage-width: 21px;
$mt-mortgage-height: 20px;
$mt-mortgage-total-width: 170px;
$mt-mortgage-total-height: 154px;
$mt-mortgage-image: '../images/team/member_types_spritesheet.png';
$mt-mortgage: (0px, 21px, 0px, -21px, 21px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-mortgage', );
$mt-moving-active-name: 'mt-moving-active';
$mt-moving-active-x: 42px;
$mt-moving-active-y: 97px;
$mt-moving-active-offset-x: -42px;
$mt-moving-active-offset-y: -97px;
$mt-moving-active-width: 21px;
$mt-moving-active-height: 15px;
$mt-moving-active-total-width: 170px;
$mt-moving-active-total-height: 154px;
$mt-moving-active-image: '../images/team/member_types_spritesheet.png';
$mt-moving-active: (42px, 97px, -42px, -97px, 21px, 15px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-moving-active', );
$mt-moving-name: 'mt-moving';
$mt-moving-x: 63px;
$mt-moving-y: 97px;
$mt-moving-offset-x: -63px;
$mt-moving-offset-y: -97px;
$mt-moving-width: 21px;
$mt-moving-height: 15px;
$mt-moving-total-width: 170px;
$mt-moving-total-height: 154px;
$mt-moving-image: '../images/team/member_types_spritesheet.png';
$mt-moving: (63px, 97px, -63px, -97px, 21px, 15px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-moving', );
$mt-painting-active-name: 'mt-painting-active';
$mt-painting-active-x: 123px;
$mt-painting-active-y: 40px;
$mt-painting-active-offset-x: -123px;
$mt-painting-active-offset-y: -40px;
$mt-painting-active-width: 18px;
$mt-painting-active-height: 19px;
$mt-painting-active-total-width: 170px;
$mt-painting-active-total-height: 154px;
$mt-painting-active-image: '../images/team/member_types_spritesheet.png';
$mt-painting-active: (123px, 40px, -123px, -40px, 18px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-painting-active', );
$mt-painting-name: 'mt-painting';
$mt-painting-x: 123px;
$mt-painting-y: 59px;
$mt-painting-offset-x: -123px;
$mt-painting-offset-y: -59px;
$mt-painting-width: 18px;
$mt-painting-height: 19px;
$mt-painting-total-width: 170px;
$mt-painting-total-height: 154px;
$mt-painting-image: '../images/team/member_types_spritesheet.png';
$mt-painting: (123px, 59px, -123px, -59px, 18px, 19px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-painting', );
$mt-pest-active-name: 'mt-pest-active';
$mt-pest-active-x: 0px;
$mt-pest-active-y: 0px;
$mt-pest-active-offset-x: 0px;
$mt-pest-active-offset-y: 0px;
$mt-pest-active-width: 21px;
$mt-pest-active-height: 21px;
$mt-pest-active-total-width: 170px;
$mt-pest-active-total-height: 154px;
$mt-pest-active-image: '../images/team/member_types_spritesheet.png';
$mt-pest-active: (0px, 0px, 0px, 0px, 21px, 21px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-pest-active', );
$mt-pest-name: 'mt-pest';
$mt-pest-x: 21px;
$mt-pest-y: 0px;
$mt-pest-offset-x: -21px;
$mt-pest-offset-y: 0px;
$mt-pest-width: 21px;
$mt-pest-height: 21px;
$mt-pest-total-width: 170px;
$mt-pest-total-height: 154px;
$mt-pest-image: '../images/team/member_types_spritesheet.png';
$mt-pest: (21px, 0px, -21px, 0px, 21px, 21px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-pest', );
$mt-plumbing-active-name: 'mt-plumbing-active';
$mt-plumbing-active-x: 63px;
$mt-plumbing-active-y: 40px;
$mt-plumbing-active-offset-x: -63px;
$mt-plumbing-active-offset-y: -40px;
$mt-plumbing-active-width: 20px;
$mt-plumbing-active-height: 16px;
$mt-plumbing-active-total-width: 170px;
$mt-plumbing-active-total-height: 154px;
$mt-plumbing-active-image: '../images/team/member_types_spritesheet.png';
$mt-plumbing-active: (63px, 40px, -63px, -40px, 20px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-plumbing-active', );
$mt-plumbing-name: 'mt-plumbing';
$mt-plumbing-x: 83px;
$mt-plumbing-y: 60px;
$mt-plumbing-offset-x: -83px;
$mt-plumbing-offset-y: -60px;
$mt-plumbing-width: 20px;
$mt-plumbing-height: 16px;
$mt-plumbing-total-width: 170px;
$mt-plumbing-total-height: 154px;
$mt-plumbing-image: '../images/team/member_types_spritesheet.png';
$mt-plumbing: (83px, 60px, -83px, -60px, 20px, 16px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-plumbing', );
$mt-pool-active-name: 'mt-pool-active';
$mt-pool-active-x: 20px;
$mt-pool-active-y: 57px;
$mt-pool-active-offset-x: -20px;
$mt-pool-active-offset-y: -57px;
$mt-pool-active-width: 20px;
$mt-pool-active-height: 20px;
$mt-pool-active-total-width: 170px;
$mt-pool-active-total-height: 154px;
$mt-pool-active-image: '../images/team/member_types_spritesheet.png';
$mt-pool-active: (20px, 57px, -20px, -57px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-pool-active', );
$mt-pool-name: 'mt-pool';
$mt-pool-x: 83px;
$mt-pool-y: 20px;
$mt-pool-offset-x: -83px;
$mt-pool-offset-y: -20px;
$mt-pool-width: 20px;
$mt-pool-height: 20px;
$mt-pool-total-width: 170px;
$mt-pool-total-height: 154px;
$mt-pool-image: '../images/team/member_types_spritesheet.png';
$mt-pool: (83px, 20px, -83px, -20px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-pool', );
$mt-property-active-name: 'mt-property-active';
$mt-property-active-x: 42px;
$mt-property-active-y: 0px;
$mt-property-active-offset-x: -42px;
$mt-property-active-offset-y: 0px;
$mt-property-active-width: 21px;
$mt-property-active-height: 20px;
$mt-property-active-total-width: 170px;
$mt-property-active-total-height: 154px;
$mt-property-active-image: '../images/team/member_types_spritesheet.png';
$mt-property-active: (42px, 0px, -42px, 0px, 21px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-property-active', );
$mt-property-name: 'mt-property';
$mt-property-x: 42px;
$mt-property-y: 20px;
$mt-property-offset-x: -42px;
$mt-property-offset-y: -20px;
$mt-property-width: 21px;
$mt-property-height: 20px;
$mt-property-total-width: 170px;
$mt-property-total-height: 154px;
$mt-property-image: '../images/team/member_types_spritesheet.png';
$mt-property: (42px, 20px, -42px, -20px, 21px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-property', );
$mt-realtor-active-name: 'mt-realtor-active';
$mt-realtor-active-x: 0px;
$mt-realtor-active-y: 77px;
$mt-realtor-active-offset-x: 0px;
$mt-realtor-active-offset-y: -77px;
$mt-realtor-active-width: 20px;
$mt-realtor-active-height: 20px;
$mt-realtor-active-total-width: 170px;
$mt-realtor-active-total-height: 154px;
$mt-realtor-active-image: '../images/team/member_types_spritesheet.png';
$mt-realtor-active: (0px, 77px, 0px, -77px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-realtor-active', );
$mt-realtor-name: 'mt-realtor';
$mt-realtor-x: 83px;
$mt-realtor-y: 0px;
$mt-realtor-offset-x: -83px;
$mt-realtor-offset-y: 0px;
$mt-realtor-width: 20px;
$mt-realtor-height: 20px;
$mt-realtor-total-width: 170px;
$mt-realtor-total-height: 154px;
$mt-realtor-image: '../images/team/member_types_spritesheet.png';
$mt-realtor: (83px, 0px, -83px, 0px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-realtor', );
$mt-roofing-active-name: 'mt-roofing-active';
$mt-roofing-active-x: 119px;
$mt-roofing-active-y: 116px;
$mt-roofing-active-offset-x: -119px;
$mt-roofing-active-offset-y: -116px;
$mt-roofing-active-width: 20px;
$mt-roofing-active-height: 8px;
$mt-roofing-active-total-width: 170px;
$mt-roofing-active-total-height: 154px;
$mt-roofing-active-image: '../images/team/member_types_spritesheet.png';
$mt-roofing-active: (119px, 116px, -119px, -116px, 20px, 8px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-roofing-active', );
$mt-roofing-name: 'mt-roofing';
$mt-roofing-x: 99px;
$mt-roofing-y: 116px;
$mt-roofing-offset-x: -99px;
$mt-roofing-offset-y: -116px;
$mt-roofing-width: 20px;
$mt-roofing-height: 8px;
$mt-roofing-total-width: 170px;
$mt-roofing-total-height: 154px;
$mt-roofing-image: '../images/team/member_types_spritesheet.png';
$mt-roofing: (99px, 116px, -99px, -116px, 20px, 8px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-roofing', );
$mt-staging-active-name: 'mt-staging-active';
$mt-staging-active-x: 60px;
$mt-staging-active-y: 57px;
$mt-staging-active-offset-x: -60px;
$mt-staging-active-offset-y: -57px;
$mt-staging-active-width: 20px;
$mt-staging-active-height: 20px;
$mt-staging-active-total-width: 170px;
$mt-staging-active-total-height: 154px;
$mt-staging-active-image: '../images/team/member_types_spritesheet.png';
$mt-staging-active: (60px, 57px, -60px, -57px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-staging-active', );
$mt-staging-name: 'mt-staging';
$mt-staging-x: 40px;
$mt-staging-y: 57px;
$mt-staging-offset-x: -40px;
$mt-staging-offset-y: -57px;
$mt-staging-width: 20px;
$mt-staging-height: 20px;
$mt-staging-total-width: 170px;
$mt-staging-total-height: 154px;
$mt-staging-image: '../images/team/member_types_spritesheet.png';
$mt-staging: (40px, 57px, -40px, -57px, 20px, 20px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-staging', );
$mt-window-active-name: 'mt-window-active';
$mt-window-active-x: 142px;
$mt-window-active-y: 80px;
$mt-window-active-offset-x: -142px;
$mt-window-active-offset-y: -80px;
$mt-window-active-width: 15px;
$mt-window-active-height: 18px;
$mt-window-active-total-width: 170px;
$mt-window-active-total-height: 154px;
$mt-window-active-image: '../images/team/member_types_spritesheet.png';
$mt-window-active: (142px, 80px, -142px, -80px, 15px, 18px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-window-active', );
$mt-window-name: 'mt-window';
$mt-window-x: 142px;
$mt-window-y: 98px;
$mt-window-offset-x: -142px;
$mt-window-offset-y: -98px;
$mt-window-width: 15px;
$mt-window-height: 18px;
$mt-window-total-width: 170px;
$mt-window-total-height: 154px;
$mt-window-image: '../images/team/member_types_spritesheet.png';
$mt-window: (142px, 98px, -142px, -98px, 15px, 18px, 170px, 154px, '../images/team/member_types_spritesheet.png', 'mt-window', );
$spritesheet-width: 170px;
$spritesheet-height: 154px;
$spritesheet-image: '../images/team/member_types_spritesheet.png';
$spritesheet-sprites: ($mt-appraisers-active, $mt-appraisers, $mt-builder-active, $mt-builder, $mt-carpentry-active, $mt-carpentry, $mt-cleaning-active, $mt-cleaning, $mt-concrete-active, $mt-concrete, $mt-contractor-active, $mt-contractor, $mt-decks-active, $mt-decks, $mt-doors-active, $mt-doors, $mt-electrical-active, $mt-electrical, $mt-fencing-active, $mt-fencing, $mt-fireplaces-active, $mt-fireplaces, $mt-flooring-active, $mt-flooring, $mt-funiture-active, $mt-funituring, $mt-handymen-active, $mt-handymen, $mt-heating-active, $mt-heating, $mt-inspector-active, $mt-inspector, $mt-interior-active, $mt-interior, $mt-janitorial-active, $mt-janitorial, $mt-landscaping-active, $mt-landscaping, $mt-lawn-active, $mt-lawn, $mt-locksmith-active, $mt-locksmith, $mt-mortgage-active, $mt-mortgage, $mt-moving-active, $mt-moving, $mt-painting-active, $mt-painting, $mt-pest-active, $mt-pest, $mt-plumbing-active, $mt-plumbing, $mt-pool-active, $mt-pool, $mt-property-active, $mt-property, $mt-realtor-active, $mt-realtor, $mt-roofing-active, $mt-roofing, $mt-staging-active, $mt-staging, $mt-window-active, $mt-window, );
$spritesheet: (170px, 154px, '../images/team/member_types_spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
