
    <div class="wrapper">

        <div class="gap-title">HELIKE slideshow</div>

        <div class="wsbx-statement wsbx-statement-style-2">
            <div class="edge-slider-wrap js-el"  data-mk-component="FullHeight" >
                <div class="edge-slider-clipper">
                    <div id="edge-slider-uniqueid1" class="edge-slider slider js-el" data-animation="perspective_flip" data-mk-component="EdgeSlider" data-edgeSlider-config='{"effect" : "perspective_flip", "displayTime" : "7000", "transitionTime" : "700", "nav" : ".edge-nav-uniqueid1", "paginationEl" : ".swiper-pagination-uniqueid1", "firstEl" : true }' layout-skipArrow="true" layout-pagination="true">
                        <div class="edge-slider-holder js-el" >
                            <div class="edge-slider-slides">
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-1"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-1"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-1"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-1"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-1"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-preloader js-el" >
                    <div class="section-preloader-icon"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-statement wsbx-statement-style-2">
            <div class="edge-slider-wrap js-el"  data-mk-component="FullHeight" >
                <div class="edge-slider-clipper">
                    <div id="edge-slider-uniqueid1" class="edge-slider slider js-el" data-animation="perspective_flip" data-mk-component="EdgeSlider" data-edgeSlider-config='{"effect" : "perspective_flip", "displayTime" : "7000", "transitionTime" : "700", "nav" : ".edge-nav-uniqueid1", "paginationEl" : ".swiper-pagination-uniqueid1", "firstEl" : true }' layout-skipArrow="true" layout-pagination="true">
                        <div class="edge-slider-holder js-el" >
                            <div class="edge-slider-slides">
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-4"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-4"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-4"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-4"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-4"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-preloader js-el" >
                    <div class="section-preloader-icon"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-statement wsbx-statement-style-4">
            <div class="edge-slider-wrap js-el"  data-mk-component="FullHeight" >
                <div class="edge-slider-clipper">
                    <div id="edge-slider-uniqueid1" class="edge-slider slider js-el" data-animation="perspective_flip" data-mk-component="EdgeSlider" data-edgeSlider-config='{"effect" : "perspective_flip", "displayTime" : "7000", "transitionTime" : "700", "nav" : ".edge-nav-uniqueid1", "paginationEl" : ".swiper-pagination-uniqueid1", "firstEl" : true }' layout-skipArrow="true" layout-pagination="true">
                        <div class="edge-slider-holder js-el" >
                            <div class="edge-slider-slides">
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <h2 class="wsbx-title wsbx-title-style-5"><span>Hamptons Houses</span></h2>
                                            <div class="edge-buttons btn-learn-more">SEE MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-preloader js-el" >
                    <div class="section-preloader-icon"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-statement wsbx-statement-style-1">
            <div class="edge-slider-wrap js-el"  data-mk-component="FullHeight" >
                <div class="edge-slider-clipper">
                    <div id="edge-slider-uniqueid1" class="edge-slider slider js-el" data-animation="perspective_flip" data-mk-component="EdgeSlider" data-edgeSlider-config='{"effect" : "perspective_flip", "displayTime" : "7000", "transitionTime" : "700", "nav" : ".edge-nav-uniqueid1", "paginationEl" : ".swiper-pagination-uniqueid1", "firstEl" : true }' layout-skipArrow="true" layout-pagination="true">
                        <div class="edge-slider-holder js-el" >
                            <div class="edge-slider-slides">
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-preloader js-el" >
                    <div class="section-preloader-icon"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>


        <div class="wsbx-statement wsbx-statement-style-1">
            <div class="edge-slider-wrap js-el"  data-mk-component="FullHeight" >
                <div class="edge-slider-clipper">
                    <div id="edge-slider-uniqueid1" class="edge-slider slider js-el" data-animation="perspective_flip" data-mk-component="EdgeSlider" data-edgeSlider-config='{"effect" : "perspective_flip", "displayTime" : "7000", "transitionTime" : "700", "nav" : ".edge-nav-uniqueid1", "paginationEl" : ".swiper-pagination-uniqueid1", "firstEl" : true }' layout-skipArrow="true" layout-pagination="true">
                        <div class="edge-slider-holder js-el" >
                            <div class="edge-slider-slides">
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="edge-nav edge-nav-uniqueid1 nav-round">
                                <a class="edge-nav-prev" data-direction="prev" data-skin="light">
                                    <span class="edge-nav-icon-wrap"><i class="mk-jupiter-icon-arrow-left"></i></span>
                                    <div class="edge-nav">
                                        <span class="edge-nav-bg"></span>
                                        <span class="edge-nav-item-caption"></span>
                                    </div>
                                </a>
                            </span>
                            <span class="edge-nav edge-nav-uniqueid1 nav-round">
                                <a class="edge-nav-next" data-direction="next" data-skin="light">
                                    <span class="edge-nav-icon-wrap"><i class="mk-jupiter-icon-arrow-right"></i></span>
                                    <div class="edge-nav">
                                        <span class="edge-nav-bg"></span>
                                        <span class="edge-nav-item-caption"></span>
                                    </div>
                                </a>
                            </span>
                            <div class="swiper-pagination swiper-pagination-uniqueid1 pagination-small-dot-stroke" data-skin="light"></div>
                        </div>
                    </div>
                </div>
                <div class="section-preloader js-el" >
                    <div class="section-preloader-icon"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-statement wsbx-statement-style-4">
            <div class="edge-slider-wrap js-el"  data-mk-component="FullHeight" >
                <div class="edge-slider-clipper">
                    <div id="edge-slider-uniqueid1" class="edge-slider slider js-el" data-animation="perspective_flip" data-mk-component="EdgeSlider" data-edgeSlider-config='{"effect" : "perspective_flip", "displayTime" : "7000", "transitionTime" : "700", "nav" : ".edge-nav-uniqueid1", "paginationEl" : ".swiper-pagination-uniqueid1", "firstEl" : true }' layout-skipArrow="true" layout-pagination="true">
                        <div class="edge-slider-holder js-el" >
                            <div class="edge-slider-slides">
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide left_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="edge-nav edge-nav-uniqueid1 nav-round">
                                <a class="edge-nav-prev" data-direction="prev" data-skin="light">
                                    <span class="edge-nav-icon-wrap"><i class="mk-jupiter-icon-arrow-left"></i></span>
                                    <div class="edge-nav">
                                        <span class="edge-nav-bg"></span>
                                        <span class="edge-nav-item-caption"></span>
                                    </div>
                                </a>
                            </span>
                            <span class="edge-nav edge-nav-uniqueid1 nav-round">
                                <a class="edge-nav-next" data-direction="next" data-skin="light">
                                    <span class="edge-nav-icon-wrap"><i class="mk-jupiter-icon-arrow-right"></i></span>
                                    <div class="edge-nav">
                                        <span class="edge-nav-bg"></span>
                                        <span class="edge-nav-item-caption"></span>
                                    </div>
                                </a>
                            </span>
                            <div class="swiper-pagination swiper-pagination-uniqueid1 pagination-small-dot-stroke" data-skin="light"></div>
                        </div>
                    </div>
                </div>
                <div class="section-preloader js-el" >
                    <div class="section-preloader-icon"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-statement wsbx-statement-style-2">
            <div class="edge-slider-wrap js-el"  data-mk-component="FullHeight" >
                <div class="edge-slider-clipper">
                    <div id="edge-slider-uniqueid1" class="edge-slider slider js-el" data-animation="perspective_flip" data-mk-component="EdgeSlider" data-edgeSlider-config='{"effect" : "perspective_flip", "displayTime" : "7000", "transitionTime" : "700", "nav" : ".edge-nav-uniqueid1", "paginationEl" : ".swiper-pagination-uniqueid1", "firstEl" : true }' layout-skipArrow="true" layout-pagination="true">
                        <div class="edge-slider-holder js-el" >
                            <div class="edge-slider-slides">
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                            <div class="edge-buttons btn-learn-more">LEARN MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                            <div class="edge-buttons btn-learn-more">LEARN MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                            <div class="edge-buttons btn-learn-more">LEARN MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                            <div class="edge-buttons btn-learn-more">LEARN MORE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                    <div class="slider-content">
                                        <div class="edge-slide-content edge-scale-down edge-slide-caption-light">
                                            <div class="edge-title-area">
                                                <div class="edge-title">Find Your Dream Home Now!</div>
                                                <div class="edge-desc">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave,<br /> and Weser area listings with our advanced property search and find your<br /> dream home today!</div>
                                            </div>
                                            <div class="edge-buttons btn-get-started">GET STARTED!</div>
                                            <div class="edge-buttons btn-learn-more">LEARN MORE</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="edge-nav edge-nav-uniqueid1 nav-round">
                                <a class="edge-nav-prev" data-direction="prev" data-skin="light">
                                    <span class="edge-nav-icon-wrap"><i class="mk-jupiter-icon-arrow-left"></i></span>
                                    <div class="edge-nav">
                                        <span class="edge-nav-bg"></span>
                                        <span class="edge-nav-item-caption"></span>
                                    </div>
                                </a>
                            </span>
                            <span class="edge-nav edge-nav-uniqueid1 nav-round">
                                <a class="edge-nav-next" data-direction="next" data-skin="light">
                                    <span class="edge-nav-icon-wrap"><i class="mk-jupiter-icon-arrow-right"></i></span>
                                    <div class="edge-nav">
                                        <span class="edge-nav-bg"></span>
                                        <span class="edge-nav-item-caption"></span>
                                    </div>
                                </a>
                            </span>
                            <div class="swiper-pagination swiper-pagination-uniqueid1 pagination-small-dot-stroke" data-skin="light"></div>
                        </div>
                    </div>
                </div>
                <div class="section-preloader js-el" >
                    <div class="section-preloader-icon"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-4"></div>

        <div class="wsbx-statement wsbx-statement-style-1">
            <div class="edge-slider-wrap js-el"  data-mk-component="FullHeight" >
                <div class="edge-slider-clipper">
                    <div id="edge-slider-uniqueid1" class="edge-slider slider js-el" data-animation="perspective_flip" data-mk-component="EdgeSlider" data-edgeSlider-config='{"effect" : "perspective_flip", "displayTime" : "7000", "transitionTime" : "700", "nav" : ".edge-nav-uniqueid1", "paginationEl" : ".swiper-pagination-uniqueid1", "firstEl" : true }' layout-skipArrow="true" layout-pagination="true">
                        <div class="edge-slider-holder js-el" >
                            <div class="edge-slider-slides">
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                                <div class="edge-slider-slide center_center js-slide" data-header-skin="light">
                                    <div class="section-image slide" style="background-image: url(statement/helike-slideshow.jpg); background-color: #ffffff;"></div>
                                </div>
                            </div>
                            <span class="edge-nav edge-nav-uniqueid1 nav-round">
                                <a class="edge-nav-prev" data-direction="prev" data-skin="light">
                                    <span class="edge-nav-icon-wrap"><i class="mk-jupiter-icon-arrow-left"></i></span>
                                    <div class="edge-nav">
                                        <span class="edge-nav-bg"></span>
                                        <span class="edge-nav-item-caption"></span>
                                    </div>
                                </a>
                            </span>
                            <span class="edge-nav edge-nav-uniqueid1 nav-round">
                                <a class="edge-nav-next" data-direction="next" data-skin="light">
                                    <span class="edge-nav-icon-wrap"><i class="mk-jupiter-icon-arrow-right"></i></span>
                                    <div class="edge-nav">
                                        <span class="edge-nav-bg"></span>
                                        <span class="edge-nav-item-caption"></span>
                                    </div>
                                </a>
                            </span>
                            <div class="swiper-pagination swiper-pagination-uniqueid1 pagination-small-dot-stroke" data-skin="light"></div>
                        </div>
                    </div>
                </div>
                <div class="section-preloader js-el" >
                    <div class="section-preloader-icon"></div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>