
        <div class="wrapper">
            <!- endinject ->
            <div class="gap-title">HELIKE divider</div>
            <div class="gap gap-40"></div>
            <div class="wsbx-divider">
                <div class="divider-content-bg">
                    <div class="bg-1">
                        <div class="container">
                            <div class="divider-border-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-8"></div>
            <div class="wsbx-divider">
                <div class="divider-content-bg">
                    <div class="bg-2">
                        <div class="container">
                            <div class="divider-border-1 divider-border-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-8"></div>
            <div class="wsbx-divider">
                <div class="divider-content-bg">
                    <div class="bg-3">
                        <div class="container">
                            <div class="divider-border-1 divider-border-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-8"></div>
            <div class="wsbx-divider">
                <div class="divider-content-bg">
                    <div class="bg-1">
                        <div class="container">
                            <div class="divider-border-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-8"></div>
            <div class="wsbx-divider">
                <div class="divider-content-bg">
                    <div class="bg-2">
                        <div class="container">
                            <div class="divider-border-2 divider-border-22">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-8"></div>
            <div class="wsbx-divider">
                <div class="divider-content-bg">
                    <div class="bg-3">
                        <div class="container">
                            <div class="divider-border-2 divider-border-22">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-8"></div>
            <div class="wsbx-divider">
                <div class="divider-content-bg">
                    <div class="bg-1">
                        <div class="container">
                            <div class="divider-border-3 ">
                                <div class="box css3-gradient1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-8"></div>
            <div class="wsbx-divider">
                <div class="divider-content-bg">
                    <div class="bg-2">
                        <div class="container">
                            <div class="divider-border-3 divider-border-32">
                                <div class="box css3-gradient1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-8"></div>
            <div class="wsbx-divider">
                <div class="divider-content-bg">
                    <div class="bg-3">
                        <div class="container">
                            <div class="divider-border-3 divider-border-32">
                                <div class="box css3-gradient1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-8"></div>
            <div class="wsbx-divider">
                <div class="divider-content-height">
                    <div class="pd20">
                        <p>20px</p>
                    </div>
                </div>
            </div>
            <div class="gap gap-10"></div>
            <div class="wsbx-divider">
                <div class="divider-content-height">
                    <div class="pd40">
                        <p>40px</p>
                    </div>
                </div>
            </div>
            <div class="gap gap-10"></div>
            <div class="wsbx-divider">
                <div class="divider-content-height">
                    <div class="pd60">
                        <p>60px</p>
                    </div>
                </div>
            </div>
            <div class="gap gap-10"></div>
            <div class="wsbx-divider">
                <div class="divider-content-height">
                    <div class="pd80">
                        <p>80px</p>
                    </div>
                </div>
            </div>
            <div class="gap gap-10"></div>
            <div class="wsbx-divider">
                <div class="divider-content-height">
                    <div class="pd100">
                        <p>100px</p>
                    </div>
                </div>
            </div>
            <div class="gap gap-10"></div>
            <!- inject:footer-html ->
        </div>