
    <div class="wrapper">

        <div class="gap-title">HELIKE intro</div>

        <div class="gap gap-40"></div>

        <div class="wsbx-intro wsbx-intro-style-1 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                    </div>
                    <div class="col-md-12">
                        <div class="tabs tabs-default">
                            <ul class="tabs__tabs">
                                <li class=" js-tabs__tab-item tabs__tab-item tabs__tab-item-active">
                                    <a href="#">BY CITY</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">BY ZIP</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">BY ADDRESS</a>
                                </li>
                                <li class=" js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By Neighborhood</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By School</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By Map</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By Proximity</a>
                                </li>
                                <div class="clearboth"></div>
                            </ul>
                            <div class="tabs__panes">
                                <div class="tabs__pane tabs__pane-active">
                                    <form action="#">
                                        <div class="input-group clearfix">
                                            <input type="text" class="form-control city" placeholder="City"/>
                                            <select name="" id="" class="form-control property-type">
                                                <option value="option">Property Type</option>
                                            </select>
                                            <select name="" id="" class="form-control beds">
                                                <option value="option">Beds</option>
                                            </select>
                                            <select name="" id="" class="form-control baths">
                                                <option value="option">Baths</option>
                                            </select>
                                            <select name="" id="" class="form-control min-price">
                                                <option value="option">Min. Price</option>
                                            </select>
                                            <select name="" id="" class="form-control max-price">
                                                <option value="option">Max. Price</option>
                                            </select>
                                            <input type="submit" class="form-control search" value="Search" />
                                        </div>
                                    </form>
                                </div>
                                <div class="tabs__pane">
                                    tab 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consecte Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus
                                </div>
                                <div class="tabs__pane">
                                    tab 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consecte Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-1 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                    </div>
                    <div class="col-md-12">
                        <div class="tabs tabs-default">
                            <ul class="tabs__tabs">
                                <li class=" js-tabs__tab-item tabs__tab-item tabs__tab-item-active">
                                    <a href="#">BY CITY</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">BY ZIP</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">BY ADDRESS</a>
                                </li>
                                <li class=" js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By Neighborhood</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By School</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By Map</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By Proximity</a>
                                </li>
                                <div class="clearboth"></div>
                            </ul>
                            <div class="tabs__panes">
                                <div class="tabs__pane tabs__pane-active">
                                    <form action="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control city" placeholder="City"/>
                                            <select name="" id="" class="form-control property-type">
                                                <option value="option">Property Type</option>
                                            </select>
                                            <select name="" id="" class="form-control beds">
                                                <option value="option">Beds</option>
                                            </select>
                                            <select name="" id="" class="form-control baths">
                                                <option value="option">Baths</option>
                                            </select>
                                            <select name="" id="" class="form-control min-price">
                                                <option value="option">Min. Price</option>
                                            </select>
                                            <select name="" id="" class="form-control max-price">
                                                <option value="option">Max. Price</option>
                                            </select>
                                            <input type="submit" class="form-control search" value="Search" />
                                        </div>
                                    </form>
                                </div>
                                <div class="tabs__pane">
                                    tab 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consecte Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus
                                </div>
                                <div class="tabs__pane">
                                    tab 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consecte Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-1 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                    </div>
                    <div class="col-md-12">
                        <div class="tabs tabs-default">
                            <ul class="tabs__tabs">
                                <li class=" js-tabs__tab-item tabs__tab-item tabs__tab-item-active">
                                    <a href="#">BY CITY</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">BY ZIP</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">BY ADDRESS</a>
                                </li>
                                <li class=" js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By Neighborhood</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By School</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By Map</a>
                                </li>
                                <li class="js-tabs__tab-item tabs__tab-item">
                                    <a href="#">By Proximity</a>
                                </li>
                                <div class="clearboth"></div>
                            </ul>
                            <div class="tabs__panes">
                                <div class="tabs__pane tabs__pane-active">
                                    <form action="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control city" placeholder="City"/>
                                            <select name="" id="" class="form-control property-type">
                                                <option value="option">Property Type</option>
                                            </select>
                                            <select name="" id="" class="form-control beds">
                                                <option value="option">Beds</option>
                                            </select>
                                            <select name="" id="" class="form-control baths">
                                                <option value="option">Baths</option>
                                            </select>
                                            <select name="" id="" class="form-control min-price">
                                                <option value="option">Min. Price</option>
                                            </select>
                                            <select name="" id="" class="form-control max-price">
                                                <option value="option">Max. Price</option>
                                            </select>
                                            <input type="submit" class="form-control search" value="Search" />
                                        </div>
                                    </form>
                                </div>
                                <div class="tabs__pane">
                                    tab 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consecte Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus
                                </div>
                                <div class="tabs__pane">
                                    tab 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consecte Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                                <div class="tabs__pane">
                                    tab 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean at consequat justo. Sed non lorem tempus ante faucibus dictum. In eu est
                                    consectetur dui imperdiet interdum. Phasellus auctor a elit facilisis tempus.
                                    Nullam vitae erat risus. Proin consequat risus et nisi tristique, in maximus
                                    sapien rutrum. Proin tincidunt dolor ultrices quam tincidunt tincidunt. Nunc
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-2 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 box box-search">
                        <form action="#">
                            <div class="input-group">
                                <input type="text" class="form-control city" placeholder="City, street or ZIP"/>
                                <select name="" id="" class="form-control property-type">
                                    <option value="option">Property Type</option>
                                </select>
                                <select name="" id="" class="form-control beds">
                                    <option value="option">Beds</option>
                                </select>
                                <select name="" id="" class="form-control baths">
                                    <option value="option">Baths</option>
                                </select>
                                <select name="" id="" class="form-control min-price">
                                    <option value="option">Min. Price</option>
                                </select>
                                <select name="" id="" class="form-control max-price">
                                    <option value="option">Max. Price</option>
                                </select>
                                <input type="submit" class="form-control search" value="Search" />
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-4 box show-case">
                        <div class="image">
                            <img src="intro/home-1.jpg" alt="6152 CR 301,Johnson City, TX 78636" />
                        </div>
                        <p class="address">6152 CR 301,<br />Johnson City, TX 78636</p>
                        <p class="price">$3,399,000</p>
                    </div>
                    <div class="col-sm-12 col-md-4 box show-case">
                        <div class="image">
                            <img src="intro/home-2.jpg" alt="4433 RIVER GARDEN Trl,Austin, TX 78746" />
                        </div>
                        <p class="address">4433 RIVER GARDEN Trl,<br />Austin, TX 78746</p>
                        <p class="price">$14,900,000</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-2 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 box-search">
                        <form action="#">
                            <div class="input-group">
                                <input type="text" class="form-control city" placeholder="City, street or ZIP"/>
                                <select name="" id="" class="form-control property-type">
                                    <option value="option">Property Type</option>
                                </select>
                                <select name="" id="" class="form-control beds">
                                    <option value="option">Beds</option>
                                </select>
                                <select name="" id="" class="form-control baths">
                                    <option value="option">Baths</option>
                                </select>
                                <select name="" id="" class="form-control min-price">
                                    <option value="option">Min. Price</option>
                                </select>
                                <select name="" id="" class="form-control max-price">
                                    <option value="option">Max. Price</option>
                                </select>
                                <input type="submit" class="form-control search" value="Search" />
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-4 box show-case">
                        <div class="image">
                            <img src="intro/home-1.jpg" alt="6152 CR 301,Johnson City, TX 78636" />
                        </div>
                        <p class="address">6152 CR 301,<br />Johnson City, TX 78636</p>
                        <p class="price">$3,399,000</p>
                    </div>
                    <div class="col-sm-12 col-md-4 box show-case">
                        <div class="image">
                            <img src="intro/home-2.jpg" alt="4433 RIVER GARDEN Trl,Austin, TX 78746" />
                        </div>
                        <p class="address">4433 RIVER GARDEN Trl,<br />Austin, TX 78746</p>
                        <p class="price">$14,900,000</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-2 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 box-search">
                        <form action="#">
                            <div class="input-group">
                                <input type="text" class="form-control city" placeholder="City, street or ZIP"/>
                                <select name="" id="" class="form-control property-type">
                                    <option value="option">Property Type</option>
                                </select>
                                <select name="" id="" class="form-control beds">
                                    <option value="option">Beds</option>
                                </select>
                                <select name="" id="" class="form-control baths">
                                    <option value="option">Baths</option>
                                </select>
                                <select name="" id="" class="form-control min-price">
                                    <option value="option">Min. Price</option>
                                </select>
                                <select name="" id="" class="form-control max-price">
                                    <option value="option">Max. Price</option>
                                </select>
                                <input type="submit" class="form-control search" value="Search" />
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-4 box show-case">
                        <div class="image">
                            <img src="intro/home-1.jpg" alt="6152 CR 301,Johnson City, TX 78636" />
                        </div>
                        <p class="address">6152 CR 301,<br />Johnson City, TX 78636</p>
                        <p class="price">$3,399,000</p>
                    </div>
                    <div class="col-sm-12 col-md-4 box show-case">
                        <div class="image">
                            <img src="intro/home-2.jpg" alt="4433 RIVER GARDEN Trl,Austin, TX 78746" />
                        </div>
                        <p class="address">4433 RIVER GARDEN Trl,<br />Austin, TX 78746</p>
                        <p class="price">$14,900,000</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-2 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                        <a href="#" class="button">GET STARTED!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-2 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                        <a href="#" class="button">GET STARTED!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-2 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                        <a href="#" class="button">GET STARTED!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-3 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                        <a href="#" class="button">GET STARTED!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-3 bg-violet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                        <a href="#" class="button">GET STARTED!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-3 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                        <p class="wsbx-intro-sub-title">Search all Austin, Georgetown, Buda, Driftwood, Hutto, Manor, Bee Cave, and Weser area listings with our advanced property search and find your dream home today!</p>
                        <a href="#" class="button">GET STARTED!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-4 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-5 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-6 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-7 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-6"></div>

        <div class="wsbx-intro wsbx-intro-style-8 bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <h2 class="wsbx-intro-title">Find Your Dream Home Now!</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap gap-40"></div>

    </div>